---
---

@use "sass:color";
@import 'variables';

@mixin button {
	color: black;
	height: 30px;
	display: inline-block;
	background-color: black;
	line-height: 30px;
	padding-left: 8px;
	padding-right: 25px;
	cursor: pointer;
	font-size: 14px;
	-webkit-transition: background-color .3s;
	-o-transition: background-color .3s;
	transition: background-color .3s;
	span::after{
		content: "→";
		font-family: "DuckDB-Symbol";
		margin-left: 4px;
		-webkit-transition: -webkit-transform .3s;
		transition: -webkit-transform .3s;
		-o-transition: transform .3s;
		transition: transform .3s;
		transition: transform .3s, -webkit-transform .3s;
		position: absolute;
	}
	&:hover span::after{
		-webkit-transform: translateX(3px);
			-ms-transform: translateX(3px);
				transform: translateX(3px);
	}
}

@mixin textlink {
	color: $duckDBgrey;
	text-decoration: underline;
	font-size: 14px;
	-webkit-transition: color .3s;
	-o-transition: color .3s;
	transition: color .3s;
	span::after{
		content: "→";
		font-family: "DuckDB-Symbol";
		margin-left: 6px;
		-webkit-transition: -webkit-transform .3s;
		transition: -webkit-transform .3s;
		-o-transition: transform .3s;
		transition: transform .3s;
		transition: transform .3s, -webkit-transform .3s;
		position: absolute;
		text-decoration: none;
		line-height: 1.5;
	}
	&:hover span::after{
		-webkit-transform: translateX(3px);
			-ms-transform: translateX(3px);
				transform: translateX(3px);
	}
}

img{
	margin: 0 auto;
	border:none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
		-ms-flex-pack: center;
			justify-content: center;
}
table {
	min-width: 100%;
	max-width: 100%;
	width: 100%;
	-webkit-box-pack: center;
		-ms-flex-pack: center;
			justify-content: center;
	text-align: center;
	margin: 6px 0;
	font-variant-numeric: tabular-nums;
}
table td, table th {
	padding: 5px 10px;
}
  table tbody td {
	font-size: 12px;
	font-weight: bold;
	color: #000000;
}
code, pre {
	font-family: "JetBrainsMono-Regular","Lucida Console",monospace;
	font-size: 16px;
}
div.small_code_block + .language-text code {
	font-size: 12px;
}
h4 {
	-webkit-margin-before:0em;
			margin-block-start:0em;
	-webkit-margin-after:0em;
			margin-block-end:0em;
	font-size: 110%;
	font-weight: bold;
}
h1 a {
	text-decoration: none;
	color: #000000;
}
h2 a {
	text-decoration: none;
	color: #000000;
}
h3 a {
	text-decoration: none;
	color: #000000;
}
h4 a {
	text-decoration: none;
	color: #000000;
}
h5 a {
	text-decoration: none;
	color: #000000;
}
h5 {
	font-size: 100%;
	font-weight: bold;
}

h1, h2, h3, h4, h5{
	code, pre{
		font-size: inherit;
	}
}

.newswrap{
	min-height: calc(100vh - 111px);
	margin-top: 70px;
	width: 100%;
	.wrap{
		max-width: $maxContentWidth;
	}
	.postwrap{
		position: relative;
		.postcontent{
			margin: 0 auto;
			h1{
				margin-top: 60px;
				font-weight: 500;
			}
			p, ul li, ol li{
				font-size: 19px;
				line-height: 1.5;
				margin-top: 30px;
				margin-bottom: 30px;
				font-family: $fontSans;
				font-weight: 400;
				letter-spacing: .1px;
				i, em{
					font-family: $fontSans;
					font-style: italic;
				}
				@media only screen and (max-width: 660px) {
					font-size: 15px;
				}
			}
			ul li, ol li{
				margin-top: 0;
				margin-bottom: 0;
			}
			iframe{
				outline: 0;
				border: 1px solid #D0D0D0;
			}
			h2{
				font-size: 31px;
				line-height: 35px;
				margin-top: 60px;
				font-weight: 500;
			}
			h3{
				font-size: 28px;
				line-height: 33px;
				font-weight: normal;
				margin-top: 60px;
				font-weight: 500;
			}
			h4{
				font-size: 24px;
				line-height: 31px;
				font-weight: normal;
				margin-top: 60px;
				font-weight: 500;
			}
			blockquote{
				h4{
					font-size: 16.5px;
					font-weight: 700;
					line-height: 1;
					margin-top: 0;
				}
				p{
					font-size: 16.5px;
					margin-top: .8em;
				}
			}
			table{
				text-align: left;
				code{
					font-size: 15.5px;
				}
			}
			table thead th{
				font-weight: 700;
				font-size: 16px;
			}
			table tbody td{
				font-weight: normal;
				font-size: 16px;
				padding: 10px;
			}
			table tbody tr:hover{
				background-color: $duckDByellow;
			}
			div.highlight{
				max-width: 750px;
			}
			div.highlighter-rouge + table,
			table + div.highlighter-rouge{
				margin-top: 30px;
			}
			.highlighter-rouge,
			table{
				margin-bottom: 20px;
			}
			.recentposts{
				background: linear-gradient(0deg, #FAFAFA 34.67%, #F2F2F2 113.01%);
				padding: 105px 15px;
				position: relative;
				z-index: 100;
				h1{
					font-size: $fontSizeh1;
					margin-top: 0;
					margin-bottom: 0;
				}
				h3{
					margin-top: 0;
					margin-bottom: 0;
					font-size: $fontSizeh4;
					line-height: 1em;
					font-weight: 600;
				}
				.postpreview{
					margin-bottom: 0;
				}
			}
			hr {
				margin: 50px 0 50px 0;
				border: 0.5px solid rgb(229, 229, 229);
			}
			
			.toc_sidebar{
				position: fixed;
				top: 0px;
				right: 0;
				width: 22vw;
				padding: 100px 20px 20px 20px;
				z-index: 90;
				@media only screen and (max-width: 1280px) {
					display: none;
				}
				.toc_menu{
					height: calc(100vh - 100px);
					overflow: auto;
					-ms-overflow-style: none; 
					scrollbar-width: none;
					&::-webkit-scrollbar {
						display: none;
					}
					h5{
						color: black;
						font-size: 12px;
						font-style: normal;
						font-weight: 450;
						text-transform: uppercase;
						margin-left: 12px;
					}
					ul li{
						font-size: 14px;
					}
					ul#toc{
						list-style: none;
						padding: 0;
						margin: 0;
						margin-top: 15px;
						position: relative;
						ul{
							padding-left: 0px;
							margin-left: 15px;
							border-left: 1px solid #D9D9D9;
							li{
								list-style: none;
								font-size: 14px;
							}
							ul{
								display: none;
							}
						}
						li{
							line-height: 1;
						&.current > a{
								color: $purple;
							}
						}
						a{
							color: $black400;
							text-decoration: none;
							padding: 7px 12px;
							border-radius: 100px;
							display: inline-block;
							text-overflow: ellipsis; 
							overflow: hidden; 
							white-space: nowrap;
							max-width: 100%;
							line-height: 1;
						&:hover{
								color: black;
							}
						}
					}
				}
				
			}

			
		}
		.infoline{
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-align: center;
				-ms-flex-align: center;
					align-items: center;
			.icon{
				width: 35px;
				height: 35px;
				background-image: url("../images/duckdb-circle.svg");
				background-size: contain;
				background-repeat: no-repeat;
				margin-right: 15px;
				border-radius: 200px;
				overflow: hidden;
				>img{
					display: block;
					-o-object-fit: cover;
					   object-fit: cover;
					width: 100%;
					height: 100%;
				}
			}
			>div:not(.icon):not(.scheduled){
				display: flex;
				align-items: center;
				column-gap: 25px;
			}
			span{
				font-size: $fontSize14;
				color: var(--main-text-secondary-color, #666);
				font-weight: 400;
			}
			.scheduled + .venue{
				margin-left: 25px;
			}
		}
		.postpreview{
			margin-bottom: 75px;
		}
		
		a.backtoarchive,
		a.continue{
			text-decoration: none;
			-webkit-transition: color .3s;
			-o-transition: color .3s;
			transition: color .3s;
			font-size: 100%;
			@include textlink();
			span::after{
				line-height: 1.2;
			}
			&:hover{
				color: black;
			}
		}
		a.backtoarchive{
			margin-top: 15px;
			display: inline-block;
		}

		.singleentry{
			max-width: 720px;
			margin: 0 auto;
			padding-top: 75px;
			padding-bottom: 75px;
			h1{
				font-size: $fontSizeh1;
				line-height: 1;
				margin-bottom: 30px;
				margin-top: 0;
			}
			.highlight{
				border-radius: 10px;
			}
			.excerpt{
				em{
					font-weight: 600;
					font-family: $fontSans;
					font-style: normal;
				}
			}
			p > img{
				max-width: 100%;
			}
		}
		.singleentry.contains_toc{
			display: flex;
			max-width: unset;
			.toc_sidebar{
				padding-top: 3px;
				position: relative;
				.toc_menu{
					position: sticky;
					top: 100px;
				}
			}
			> .content{
				width: 78vw;
				@media only screen and (max-width: 1280px){
					width: 100vw;
				}
			}
			.contentwidth{
				max-width: 720px;
				margin: 0 auto;
			}
		}
		.post-list{
			h1{
				font-size: $fontSizeh2;
				font-style: normal;
				font-weight: 500;
				margin-top: 0;
				margin-bottom: 50px;
			}
			h3{
				margin-top: 0;
				margin-bottom: 0;
				font-size: $fontSizeh4;
				line-height: 1.1;
				font-weight: 600;
			}
			>section{
				padding: 105px 15px;
			}
			>section:nth-child(even){
				background-color: #F9F9F9;
			}
		}
	}
	.headlinebar{
		background-color: #f5f5f5;
		height: 52px;
		line-height: 52px;
		font-size: 32px;
		top: 70px;
		position: absolute;
		padding-left: 20px;
		left: 0;
		width: 100%;
	}
	.sidebar{
		width: 252px;
		background-color: $duckDByellow;
		padding: 30px;
		position: fixed;
		right: 0;
		height: 100vh;
		z-index: 800;
		.latestnews,
		.newsarchive{
			margin-top: 60px;
			h1{
				margin-bottom: 15px;
				font-size: 100%;
				a{
					color: black;
					text-decoration: none;
					&:hover{
						text-decoration: underline;
					}
				}
			}
			ul{
				list-style: none;
				padding: 0;
				margin: 0;
				padding-left: 20px;
				li{
					margin-bottom: 15px;
					margin-top: 15px;
					font-size: 14px;
					a{
						color: black;
						text-decoration: none;
					}
					a:hover{
						text-decoration: underline;
					}
				}
			}
		}
		.newsarchive{
			h1{
				margin-bottom: 15px;
				font-size: 100%;
			}
			ul li{
				margin: 4px 0px;
				-webkit-font-feature-settings: 'tnum' on;
						font-feature-settings: 'tnum' on;
			}
		}
	}
}

footer{
	position: relative;
	z-index: 900;
}
@media only screen and (max-width: 1280px) {
	.postwrap {
		margin: 0 15px;
	}
	.recentposts {
		width: calc(100% + 30px);
		margin-left: -15px;
	}
}

@media only screen and (max-width: 940px) {

	.filterbar {
		gap: 20px;
		.filtertags {
			width: calc(50% - 10px);
			overflow: auto;
		}
		#search-input {
			width: calc(50% - 10px);
		}
	}
	
}

@media only screen and (max-width: 770px) {}

@media only screen and (max-width: 660px) {
	.newswrap .newstiles {
		row-gap: 0;
	}
	.newswrap .postwrap .infoline,
	.newswrap .postwrap .infoline > div:not(.icon):not(.scheduled){
		flex-wrap: wrap;
		.scheduled + .venue{
			margin-left: 0;
		}
	}
	.infoline .scheduled,
	.publishedinfo{
		width: 100%;
	}
	.newswrap .postwrap .postcontent .singleentry {
		padding-top: 50px;
		padding-bottom: 50px;
		.infoline span {
			font-size: 14px;
			.author {
				font-weight: 600;
			}
		}
		p {
			font-size: 15px;
			line-height: 23px;
			margin: 20px 0;
		}
		h2 {
			font-size: 25px;
			line-height: 28px;
			margin: 35px 0 20px;
		}
		h3 {
			font-size: 20px;
			line-height: 1.2;
			margin: 35px 0 20px;

			&:first-child {
				margin-top: 0;
			}
		}
		ul li {
			font-size: 15px;
			line-height: 23px;

			ul {
				margin-top: 0;
			}
		}
	}

	.filterbar {
		flex-wrap: wrap;
		margin-bottom: 30px;
		#search-input {
			width: 100%;
			max-width: 100%;
		}
		.filtertags {
			display: none;
		}
	}

	code,
	pre {
		font-size: 14px;
		line-height: 1.5em;
	}

	
}

@media print {

	section.recentposts,
	div.toc_sidebar {
		display: none !important;
	}
}