---
---

$duckDByellow: #fff100;
$duckDBgrey: #b8b8b8;

$fontSans: "SuisseIntl-Book", Helvetica, Arial, sans-serif;
$fontSansBold: "SuisseIntl-Bold", Helvetica, Arial, sans-serif;

@font-face{
	font-family: "SuisseIntl-Regular";
	src: url("webfont/SuisseIntl-Regular-WebXL.woff2") format("woff2"),url("webfont/SuisseIntl-Regular-WebXL.woff") format("woff");
}

@font-face{
	font-family: "SuisseIntl-RegularItalic";
	src: url("webfont/SuisseIntl-RegularItalic-WebS.woff2") format("woff2"),url("webfont/SuisseIntl-RegularItalic-WebS.woff") format("woff");
}

@mixin button {
	color: black;
	height: 30px;
	display: inline-block;
	background-color: black;
	line-height: 30px;
	padding-left: 8px;
	padding-right: 25px;
	cursor: pointer;
	font-size: 14px;
	transition: background-color .3s;
	span::after{
		content: "→";
		font-family: "DuckDB-Symbol";
		margin-left: 4px;
		transition: transform .3s;
		position: absolute;
	}
	&:hover span::after{
		transform: translateX(3px);
	}
}

@mixin textlink {
	color: $duckDBgrey;
	//color: darken($duckDBgrey,20);
	text-decoration: underline;
	font-size: 14px;
	transition: color .3s;
	span::after{
		content: "→";
		font-family: "DuckDB-Symbol";
		margin-left: 6px;
		transition: transform .3s;
		position: absolute;
		text-decoration: none;
		line-height: 1.5;
	}
	&:hover span::after{
		transform: translateX(3px);
	}
}

img{
	margin: 0 auto;
	border:none;
	display: flex;
	justify-content: center;
}
table {
	min-width: 100%;
	max-width: 100%;
	width: 100%;
	justify-content: center;
	text-align: center;
	margin: 6px auto;
	font-variant-numeric: tabular-nums;
}
table td, table th {
	padding: 5px 10px;
}
  table tbody td {
	font-size: 12px;
	font-weight: bold;
	color: #000000;
}
  table thead {
	background: #FEED36;
	border-bottom: 3px solid #1E1E1E;
}
  table thead th {
	font-size: 15px;
	font-weight: bold;
	color: #000000;
	text-align: center;
}
code, pre {
    font-family: "JetBrainsMono-Regular","Lucida Console",monospace;
    font-size: 16px;
}
h4 {
	margin-block-start:0em;
	margin-block-end:0em;
	font-size: 110%;
	font-weight: bold;
}
h1 a {
	text-decoration: none;
	color: #000000;
}
h2 a {
	text-decoration: none;
	color: #000000;
}
h3 a {
	text-decoration: none;
	color: #000000;
}
h4 a {
	text-decoration: none;
	color: #000000;
}
h5 a {
	text-decoration: none;
	color: #000000;
}
h5 {
	font-size: 100%;
	font-weight: bold;
}
.newswrap{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	min-height: calc(100vh - 111px);
	.postwrap{
		position: relative;
		width: calc(100% - 252px);
		.postcontent{
			max-width: 680px;
			margin: 0 auto;
			margin-top: 140px;
			margin-bottom: 80px;
			h1{
				margin-top: 60px;}
			h2{
				font-size: 34px;
				line-height: 39px;
				margin-top: 60px;
			}
			blockquote p {
				margin-top: 0;
				margin-bottom: 0;
			}
			p, ul li, ol li{
				font-size: 19px;
				line-height: 29px;
				margin-top: 30px;
				margin-bottom: 30px;
				font-family: "SuisseIntl-Regular", Helvetica, Arial, sans-serif;
				letter-spacing: .1px;
				i, em{
					font-family: "SuisseIntl-RegularItalic", Helvetica, Arial, sans-serif;
					font-style: normal;
				}
			}
			ul li, ol li{
				margin-top: 0;
				margin-bottom: 0;
			}
			h3{
				font-size: 28px;
				line-height: 33px;
				font-weight: normal;
				margin-top: 60px;
			}
			h4{
				font-size: 24px;
				line-height: 31px;
				font-weight: normal;
				margin-top: 60px;
			}
			table thead th{
				color: white;
				font-weight: normal;
				text-align: right;
				font-size: 14px;
			}
			table tbody td{
				font-weight: normal;
				text-align: right;
				font-size: 14px;
			}
			table tbody tr:hover{
				background-color: $duckDByellow;
			}
			div.highlight{
				max-width: 750px;
			}
			div.highlighter-rouge + table,
			table + div.highlighter-rouge{
				margin-top: 30px;
			}
			.highlighter-rouge,
			table{
				margin-bottom: 50px;
			}
		}
		.infoline{
			color: $duckDBgrey;
			margin-bottom: -55px;
			span:first-child{
				margin-right: 40px;
			}
		}
		/*
		.postpreview{
			margin: 0 auto;
			margin-top: 80px;
		        padding-bottom: 60px;
		        border-bottom: 1px solid rgba(230, 230, 230, 1);
			h2{
				a{
					color: black;
					text-decoration: none;
				}
			}
		 	
		}
		*/
		a.backtoarchive,
		a.continue{
			text-decoration: none;
			-webkit-transition: color .3s;
			-o-transition: color .3s;
			transition: color .3s;
			@include textlink();
			font-size: 100%;
			span::after{
				line-height: 1.2;
			}
			&:hover{
				color: black;
			}
		}
		a.backtoarchive{
			margin-top: 15px;
			display: inline-block;
		}

		.singleentry{
			h1{
				font-size: 34px;
				line-height: 39px;
				margin-bottom: 30px;
			}
		}
		.post-list{
			h1{
				font-size: 28px;
				margin-bottom: 15px;
				&.first-child{
					margin-top: 100px;
				}
			}
			ul{
				padding: 0;
				margin: 0;
				list-style: none;
				li{
					border-bottom: 1px solid #D0D0D0;
					position: relative;
					display: flex;
					align-items: center;
					padding-top: 20px;
					padding-bottom: 20px;
					font-family: $fontSans;
					transition: background-color .2s;
					&:hover{
						background-color: #f8f8f8;
					}
					> a{
						position: absolute;
						width: 100%;
						height: 100%;
						top: 0;
						left: 0;
						color: inherit;
						text-decoration: none;
					}
					div.date{
						font-family: $fontSans;
						background-color: #E1E1E1;
						font-size: 12px;
						width: 94px;
						text-align: center;
						text-transform: uppercase;
						font-feature-settings: 'tnum' on;
						margin-right: 30px;
						line-height: 1.9;
						flex-shrink: 0;
					}
					div.title{
						line-height: 1.2;
					}
				}
			}
		}
	}
	.headlinebar{
		background-color: #f5f5f5;
		height: 52px;
		line-height: 52px;
		font-size: 32px;
		top: 53px;
		position: absolute;
		padding-left: 30px;
		left: 0;
		width: 100%;
	}
	.sidebar{
		width: 252px;
		background-color: $duckDByellow;
		padding: 30px;
		position: fixed;
		right: 0;
		height: 100vh;
		z-index: 800;
		.latestnews,
		.newsarchive{
			margin-top: 60px;
			h1{
				margin-bottom: 15px;
				font-size: 100%;
				a{
					color: black;
					text-decoration: none;
					&:hover{
						text-decoration: underline;
					}
				}
			}
			ul{
				list-style: none;
				padding: 0;
				margin: 0;
				padding-left: 20px;
				li{
					margin-bottom: 15px;
					margin-top: 15px;
					font-size: 14px;
					a{
						color: black;
						text-decoration: none;
					}
					a:hover{
						text-decoration: underline;
					}
				}
			}
		}
		.newsarchive{
			h1{
				margin-bottom: 15px;
				font-size: 100%;
			}
			ul li{
				margin: 4px 0px;
				font-feature-settings: 'tnum' on;
			}
		}
	}
}

footer{
	position: relative;
	z-index: 900;
}
