---
---

@import 'variables';

@mixin button {
	color: black;
	height: 30px;
	display: inline-block;
	background-color: black;
	line-height: 30px;
	padding-left: 8px;
	padding-right: 25px;
	cursor: pointer;
	font-size: 14px;
	transition: background-color .3s;
	span::after{
		content: "→";
		font-family: "DuckDB-Symbol";
		margin-left: 4px;
		transition: transform .3s;
		position: absolute;
	}
	&:hover span::after{
		transform: translateX(3px);
	}
}

@mixin textlink {
	color: $duckDBgrey;
	//color: darken($duckDBgrey,20);
	text-decoration: underline;
	font-size: 14px;
	transition: color .3s;
	span::after{
		content: "→";
		font-family: "DuckDB-Symbol";
		margin-left: 6px;
		transition: transform .3s;
		position: absolute;
		text-decoration: none;
		line-height: 1.5;
	}
	&:hover span::after{
		transform: translateX(3px);
	}
}

img{
	margin: 0 auto;
	border:none;
	display: flex;
	justify-content: center;
}
table {
	min-width: 100%;
	max-width: 100%;
	width: 100%;
	justify-content: center;
	text-align: center;
	margin: 6px 0;
	font-variant-numeric: tabular-nums;
}
table td, table th {
	padding: 5px 10px;
}
  table tbody td {
	font-size: 12px;
	font-weight: bold;
	color: #000000;
}
  table thead th {
	font-size: 15px;
	font-weight: bold;
	color: #000000;
	text-align: center;
}
code, pre {
    font-family: "JetBrainsMono-Regular","Lucida Console",monospace;
    font-size: 16px;
}
h4 {
	margin-block-start:0em;
	margin-block-end:0em;
	font-size: 110%;
	font-weight: bold;
}
h1 a {
	text-decoration: none;
	color: #000000;
}
h2 a {
	text-decoration: none;
	color: #000000;
}
h3 a {
	text-decoration: none;
	color: #000000;
}
h4 a {
	text-decoration: none;
	color: #000000;
}
h5 a {
	text-decoration: none;
	color: #000000;
}
h5 {
	font-size: 100%;
	font-weight: bold;
}
.newswrap{
	min-height: calc(100vh - 111px);
	margin-top: 70px;
	width: 100%;
	.wrap{
		max-width: $maxContentWidth;
	}
	.newstiles{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		row-gap: 50px;
		&::after {
			content: "";
			width: calc(33.33% - 15px);
		}

	}
	.postwrap{
		position: relative;
		.postcontent{
			margin: 0 auto;
			h1{
				margin-top: 60px;
				font-weight: 500;
			}
			blockquote p {
				margin-top: 0;
				margin-bottom: 0;
			}
			p, ul li, ol li{
				font-size: 19px;
				line-height: 29px;
				margin-top: 30px;
				margin-bottom: 30px;
				font-family: $fontSans;
				font-weight: 450;
				letter-spacing: .1px;
				i, em{
					font-family: $fontSans;
					font-style: italic;
				}
			}
			ul li, ol li{
				margin-top: 0;
				margin-bottom: 0;
			}
			iframe{
				outline: 0;
				border: 1px solid #D0D0D0;
			}
			h2{
				font-size: 31px;
				line-height: 35px;
				margin-top: 60px;
				font-weight: 500;
			}
			h3{
				font-size: 28px;
				line-height: 33px;
				font-weight: normal;
				margin-top: 60px;
				font-weight: 500;
			}
			h4{
				font-size: 24px;
				line-height: 31px;
				font-weight: normal;
				margin-top: 60px;
				font-weight: 500;
			}
			blockquote h4{
				margin-top: 0;
			}
			table{
				text-align: left;
				code{
					font-size: 15.5px;
				}
			}
			table thead th{
				font-weight: 700;
				font-size: 16px;
			}
			table tbody td{
				font-weight: normal;
				font-size: 16px;
				padding: 10px;
			}
			table tbody tr:hover{
				background-color: $duckDByellow;
			}
			div.highlight{
				max-width: 750px;
			}
			div.highlighter-rouge + table,
			table + div.highlighter-rouge{
				margin-top: 30px;
			}
			.highlighter-rouge,
			table{
				margin-bottom: 20px;
			}
			.recentposts{
				background-color: #F9F9F9;
				padding: 105px 15px;
				h1{
					font-size: $fontSizeh1;
					margin-top: 0;
					margin-bottom: 0;
				}
				h3{
					margin-top: 0;
					margin-bottom: 0;
					font-size: $fontSizeh4;
					font-weight: 500;
				}
			}
		}
		.infoline{
			display: flex;
			align-items: center;
			.icon{
				width: 45px;
				height: 45px;
				background-image: url("../images/duckdb-circle.svg");
				background-size: contain;
				background-repeat: no-repeat;
				margin-right: 10px;
			}
			span{
				display: block;
				font-size: 16px;
			}
			span.author{
				font-weight: 700;
			}
		}
		/*
		.postpreview{
			margin: 0 auto;
			margin-top: 80px;
		        padding-bottom: 60px;
		        border-bottom: 1px solid rgba(230, 230, 230, 1);
			h2{
				a{
					color: black;
					text-decoration: none;
				}
			}
		 	
		}
		*/
		a.backtoarchive,
		a.continue{
			text-decoration: none;
			-webkit-transition: color .3s;
			-o-transition: color .3s;
			transition: color .3s;
			@include textlink();
			font-size: 100%;
			span::after{
				line-height: 1.2;
			}
			&:hover{
				color: black;
			}
		}
		a.backtoarchive{
			margin-top: 15px;
			display: inline-block;
		}

		.singleentry{
			max-width: 720px;
			margin: 0 auto;
			padding-top: 75px;
			padding-bottom: 75px;
			h1{
				font-size: $fontSizeh1;
				line-height: 1;
				margin-bottom: 30px;
				margin-top: 0;
			}
			.highlight{
				border-radius: 10px;
			}
			.excerpt{
				em{
					font-weight: 600;
					font-family: $fontSans;
					font-style: normal;
				}
			}
		}
		.post-list{
			h1{
				font-size: $fontSizeh2;
				font-style: normal;
				font-weight: 500;
				margin-top: 0;
				margin-bottom: 50px;
			}
			h3{
				margin-top: 0;
				margin-bottom: 0;
				font-size: $fontSizeh4;
				line-height: 1.1;
				font-weight: 500;
			}
			>section{
				padding: 105px 15px;
			}
			>section:nth-child(even){
				background-color: #F9F9F9;
			}
		}
	}
	.headlinebar{
		background-color: #f5f5f5;
		height: 52px;
		line-height: 52px;
		font-size: 32px;
		top: 70px;
		position: absolute;
		padding-left: 20px;
		left: 0;
		width: 100%;
	}
	.sidebar{
		width: 252px;
		background-color: $duckDByellow;
		padding: 30px;
		position: fixed;
		right: 0;
		height: 100vh;
		z-index: 800;
		.latestnews,
		.newsarchive{
			margin-top: 60px;
			h1{
				margin-bottom: 15px;
				font-size: 100%;
				a{
					color: black;
					text-decoration: none;
					&:hover{
						text-decoration: underline;
					}
				}
			}
			ul{
				list-style: none;
				padding: 0;
				margin: 0;
				padding-left: 20px;
				li{
					margin-bottom: 15px;
					margin-top: 15px;
					font-size: 14px;
					a{
						color: black;
						text-decoration: none;
					}
					a:hover{
						text-decoration: underline;
					}
				}
			}
		}
		.newsarchive{
			h1{
				margin-bottom: 15px;
				font-size: 100%;
			}
			ul li{
				margin: 4px 0px;
				font-feature-settings: 'tnum' on;
			}
		}
	}
}

footer{
	position: relative;
	z-index: 900;
}

@media only screen and (max-width: 940px) {
	section.blog .postpreview, .post-list .newstiles .postpreview{
		width: calc(50% - 10px);
	}
}

@media only screen and (max-width: 770px) {
	.newswrap .postwrap .singleentry{
		padding-left: 15px;
		padding-right: 15px;
	}
}

@media only screen and (max-width: 660px) {
	.newswrap .newstiles{
		row-gap: 0;
	}
	section.blog .postpreview, 
	.post-list .newstiles .postpreview{
		width: 100%;
		margin-bottom: 50px;
	}
	section.blog .postpreview{
		margin-bottom: 0px;
	}
	.newswrap .postwrap .postcontent .singleentry{
		padding-top: 50px;
		padding-bottom: 50px;
		.infoline span{
			font-size: 14px;
			.author{
				font-weight: 600;
				}
		}
		p{
			font-size: 15px;
			line-height: 23px;
			margin-top: 20px;
			margin-bottom: 20px;
		}
		h2 {
			font-size: 25px;
			line-height: 28px;
    			margin-top: 35px;
    			margin-bottom: 20px;
		}
		ul li{
			font-size: 15px;
			line-height: 23px;
		}
		ul li ul {
   			 margin-top: 0px;
			}
	}

	code, pre{
		font-size: 14px;
    		line-height: 1.5em;
	}
	
	.newswrap .postwrap .post-list h1,
	.newswrap .postwrap .postcontent .recentposts h1{
		font-size: 35px;
	}
	.newswrap .postwrap .post-list > section,
	.newswrap .postwrap .postcontent .recentposts{
		padding: 50px 15px;
	}
	.newswrap .postwrap .postcontent .recentposts .newstileswrap .postpreview:nth-child(3){
		display: none;
	}
	.newswrap, section.blog .newstileswrap{
		margin-bottom: 40px;
		row-gap: 50px;
	}
}
