---
---

$duckDByellow: #fff100;
$duckDBgrey: #b8b8b8;

$fontSans: "SuisseIntl-Book", Helvetica, Arial, sans-serif;
$fontSansBold: "SuisseIntl-Bold", Helvetica, Arial, sans-serif;

@font-face{
	font-family: "SuisseIntl-Regular";
	src: url("webfont/SuisseIntl-Regular-WebS.woff2") format("woff2"),url("webfont/SuisseIntl-Regular-WebS.woff") format("woff");
}

@font-face{
	font-family: "SuisseIntl-RegularItalic";
	src: url("webfont/SuisseIntl-RegularItalic-WebS.woff2") format("woff2"),url("webfont/SuisseIntl-RegularItalic-WebS.woff") format("woff");
}

img {
	margin: 0 auto;
	border:none;
	display: flex;
	justify-content: center;
}
table {
	max-width:100%;
	justify-content: center;
	text-align: center;
	margin: 6px auto;
}
table td, table th {
	padding: 5px 10px;
}
  table tbody td {
	font-size: 12px;
	font-weight: bold;
	color: #000000;
}
  table thead {
	background: #FEED36;
	border-bottom: 3px solid #1E1E1E;
}
  table thead th {
	font-size: 15px;
	font-weight: bold;
	color: #000000;
	text-align: center;
}
h4 {
	margin-block-start:0em;
	margin-block-end:0em;
	font-size: 110%;
	font-weight: bold;
}
h1 a {
	text-decoration: none;
	color: #000000;
}
h2 a {
	text-decoration: none;
	color: #000000;
}
h3 a {
	text-decoration: none;
	color: #000000;
}
h4 a {
	text-decoration: none;
	color: #000000;
}
h5 a {
	text-decoration: none;
	color: #000000;
}
h5 {
	font-size: 100%;
	font-weight: bold;
}
.newswrap{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	min-height: calc(100vh - 111px);
	.postwrap{
		position: relative;
		width: calc(100% - 252px);
		.postcontent{
			max-width: 680px;
			margin: 0 auto;
			margin-top: 80px;
			margin-bottom: 80px;
			h2{
				font-size: 34px;
				line-height: 44px;
			}
			p, ul li, ol li{
				font-size: 19px;
				line-height: 29px;
				margin-top: 30px;
				margin-bottom: 30px;
				font-family: "SuisseIntl-Regular", Helvetica, Arial, sans-serif;
				letter-spacing: .1px;
				i, em{
					font-family: "SuisseIntl-RegularItalic", Helvetica, Arial, sans-serif;
					font-style: normal;
				}
			}
			h4{
				font-size: 24px;
				line-height: 31px;
				font-weight: normal;
				margin-top: 60px;
			}
			table thead th{
				color: white;
				font-weight: normal;
				text-align: right;
				font-size: 14px;
			}
			table tbody td{
				font-weight: normal;
				text-align: right;
				font-size: 14px;
			}
			table tbody tr:hover{
				background-color: $duckDByellow;
			}
			div.highlight{
				max-width: 750px;
			}
			div.highlighter-rouge + table,
			table + div.highlighter-rouge{
				margin-top: 30px;
			}
		}
		.infoline{
			color: $duckDBgrey;
			margin-bottom: 15px;
			span:first-child{
				margin-right: 60px;
			}
		}
		.postpreview{
			margin: 0 auto;
			margin-top: 80px;
			margin-bottom: 80px;
			h2{
				a{
					color: black;
					text-decoration: none;
				}
			}
		}
		a.backtoarchive,
		a.continue{
			color: $duckDBgrey;
			text-decoration: none;
			-webkit-transition: color .3s;
			-o-transition: color .3s;
			transition: color .3s;
			&:hover{
				color: black;
			}
		}

		.singleentry{
			h1{
				font-size: 34px;
				line-height: 44px;
				margin-bottom: 30px;
			}
		}
	}
	.sidebar{
		width: 252px;
		background-color: $duckDByellow;
		padding: 30px;
		position: fixed;
		right: 0;
		height: 100vh;
		z-index: 800;
		.newsarchive{
			margin-top: 52px;
			h1{
				margin-bottom: 15px;
				font-size: 100%;
			}
		}
		.latestnews{
			margin-top: 100px;
			h1{
				margin-bottom: 15px;
				font-size: 100%;
				a{
					color: black;
					text-decoration: none;
					&:hover{
						text-decoration: underline;
					}
				}
			}
			ul{
				list-style: none;
				padding: 0;
				margin: 0;
				padding-left: 20px;
				li{
					margin-bottom: 15px;
					margin-top: 15px;
					font-size: 14px;
					a{
						color: black;
						text-decoration: none;
					}
					a:hover{
						text-decoration: underline;
					}
				}
			}
		}
		.archivesAccordian{
			.theyear{
				font-size: 100%; /** zuvor 130% **/
				padding-left: 10px;
				cursor: pointer;
				line-height: 26px;
				//font-family: $fontSansBold;
				span{
					-webkit-transition: -webkit-transform .3s;
					transition: -webkit-transform .3s;
					-o-transition: transform .3s;
					transition: transform .3s;
					transition: transform .3s, -webkit-transform .3s;
					display: inline-block;
					font-size: 14px;
					position: absolute;
					-webkit-transform: translateX(-13px);
					    -ms-transform: translateX(-13px);
					        transform: translateX(-13px);
				}
				span::before{
					content: '\25BA';
					font-family: "DuckDB-Symbol";
				}
				&.opened span{
					-webkit-transform: translateX(-13px) rotate(90deg);
					    -ms-transform: translateX(-13px) rotate(90deg);
					        transform: translateX(-13px) rotate(90deg);
					-webkit-transition: -webkit-transform .3s;
					transition: -webkit-transform .3s;
					-o-transition: transform .3s;
					transition: transform .3s;
					transition: transform .3s, -webkit-transform .3s;
					position: absolute;
				}
			}
			.collapse{
				display: none;
				&.show{
					display: block;
				}
			}
			.card-body{
				padding-left: 20px;
				padding-top: 5px;
				padding-bottom: 5px;
				font-size: 14px;
				a{
					color: black;
					text-decoration: none;
					&:hover{
						text-decoration: underline;
					}
				}
				.list-group > div{
					padding-bottom: 5px;
					a.selected{
						text-decoration: underline;
					}
				}
			}
		}
	}
}

footer{
	position: relative;
	z-index: 900;
}
