---
---

$ce_purple: #A293FF;
$ce_purplelight: #f2f0fe;

body.documentation.communityextensions #duckdb_logo{
	width: 167.05px;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' id='Ebene_1' version='1.1' viewBox='0 0 167.046 38'%3E%3Cdefs%3E%3Cstyle%3E.st0%7Bfill:%23a899ff%7D.st1%7Bfill:%231d1d1b%7D%3C/style%3E%3C/defs%3E%3Cpath d='M19 38c10.536 0 19-8.507 19-19S29.493 0 19 0 0 8.507 0 19s8.464 19 19 19Z' class='st1'/%3E%3Cpath d='M6.585 19c0 4.361 3.54 7.86 7.86 7.86s7.858-3.542 7.858-7.86-3.54-7.86-7.859-7.86S6.585 14.683 6.585 19ZM28.586 16.172h-3.735v5.656h3.735a2.828 2.828 0 0 0 0-5.657Z' class='st0'/%3E%3Cpath d='M70.327 22.083c0 1.685-.475 3.094-2.245 3.094s-2.246-1.41-2.246-3.094v-7.168h-3.195v7.86c0 3.065 2.461 4.853 5.441 4.853s5.44-1.788 5.44-4.854v-7.859h-3.195v7.168ZM51.456 10.62h-4.953v16.704h4.953c5.3 0 9.286-1.728 9.286-8.364 0-6.635-3.986-8.34-9.286-8.34Zm-.138 14.124h-1.52V13.2h1.52c3.041 0 6.014.76 6.014 5.76 0 5.046-2.973 5.784-6.014 5.784ZM81.679 25.158c-1.751 0-2.996-1.451-2.996-4.054 0-2.582 1.314-3.987 2.972-3.987 1.222 0 2.327.853 2.581 2.051h3.041c-.437-3.064-3.018-4.516-5.622-4.516-3.709 0-6.22 2.719-6.22 6.497 0 3.756 2.372 6.475 6.082 6.475 2.58 0 5.138-1.129 5.875-4.517h-3.04c-.438 1.475-1.568 2.051-2.673 2.051ZM100.523 14.928h-3.571l-4.516 4.977V10.62h-3.179v16.704h3.179v-3.732l1.521-1.636 3.249 5.368h3.571l-4.7-7.649 4.446-4.747zM107.042 10.62h-4.953v16.704h4.953c5.3 0 9.286-1.728 9.286-8.364 0-6.635-3.986-8.34-9.286-8.34Zm-.138 14.124h-1.52V13.2h1.52c3.041 0 6.014.76 6.014 5.76 0 5.046-2.973 5.784-6.014 5.784ZM129.32 18.5c.853-.553 1.89-1.959 1.89-3.525 0-3.433-3.157-4.355-6.083-4.355h-6.497v16.704h6.773c3.434 0 6.405-1.336 6.405-4.93 0-2.304-1.198-3.272-2.488-3.894Zm-7.395-5.3h3.409c1.544 0 2.49.783 2.49 2.097 0 1.474-.923 2.212-2.49 2.212h-3.41V13.2Zm3.64 11.544h-3.64v-4.747h3.502c2.05 0 3.018.83 3.018 2.397 0 1.544-.945 2.35-2.88 2.35ZM146.637 26.15c-3.434 0-5.807-2.743-5.807-7.19 0-4.608 2.512-7.165 5.807-7.165 2.534 0 4.676 1.405 5.368 4.193h1.612c-.737-3.387-3.156-5.668-6.935-5.668-4.792 0-7.488 3.548-7.488 8.64 0 5.046 2.626 8.664 7.42 8.664 3.962 0 6.335-2.327 7.072-5.668h-1.612c-.507 2.165-2.212 4.193-5.437 4.193ZM167.048 12.048V10.62h-10.714v16.704h10.714v-1.428h-9.17v-6.498h8.617v-1.451h-8.617v-5.899h9.17z' class='st1'/%3E%3C/svg%3E");
}

html.darkmode body.documentation.communityextensions #duckdb_logo{
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' id='Ebene_1' version='1.1' viewBox='0 0 167.046 38'%3E%3Cdefs%3E%3Cstyle%3E.st1%7Bfill:%231d1d1b%7D.st2%7Bfill:%23fff%7D%3C/style%3E%3C/defs%3E%3Cpath d='M19 38c10.536 0 19-8.507 19-19S29.493 0 19 0 0 8.507 0 19s8.464 19 19 19Z' style='fill:%23a899ff'/%3E%3Cpath d='M6.585 19c0 4.361 3.54 7.86 7.86 7.86s7.858-3.542 7.858-7.86-3.54-7.86-7.859-7.86S6.585 14.683 6.585 19ZM28.586 16.172h-3.735v5.656h3.735a2.828 2.828 0 0 0 0-5.657Z' class='st1'/%3E%3Cpath d='M70.327 22.083c0 1.685-.475 3.094-2.245 3.094s-2.246-1.41-2.246-3.094v-7.168h-3.195v7.86c0 3.065 2.461 4.853 5.441 4.853s5.44-1.788 5.44-4.854v-7.859h-3.195v7.168ZM51.456 10.62h-4.953v16.704h4.953c5.3 0 9.286-1.728 9.286-8.364 0-6.635-3.986-8.34-9.286-8.34Zm-.138 14.124h-1.52V13.2h1.52c3.041 0 6.014.76 6.014 5.76 0 5.046-2.973 5.784-6.014 5.784ZM81.679 25.158c-1.751 0-2.996-1.451-2.996-4.054 0-2.582 1.314-3.987 2.972-3.987 1.222 0 2.327.853 2.581 2.051h3.041c-.437-3.064-3.018-4.516-5.622-4.516-3.709 0-6.22 2.719-6.22 6.497 0 3.756 2.372 6.475 6.082 6.475 2.58 0 5.138-1.129 5.875-4.517h-3.04c-.438 1.475-1.568 2.051-2.673 2.051ZM100.523 14.928h-3.571l-4.516 4.977V10.62h-3.179v16.704h3.179v-3.732l1.521-1.636 3.249 5.368h3.571l-4.7-7.649 4.446-4.747zM107.042 10.62h-4.953v16.704h4.953c5.3 0 9.286-1.728 9.286-8.364 0-6.635-3.986-8.34-9.286-8.34Zm-.138 14.124h-1.52V13.2h1.52c3.041 0 6.014.76 6.014 5.76 0 5.046-2.973 5.784-6.014 5.784ZM129.32 18.5c.853-.553 1.89-1.959 1.89-3.525 0-3.433-3.157-4.355-6.083-4.355h-6.497v16.704h6.773c3.434 0 6.405-1.336 6.405-4.93 0-2.304-1.198-3.272-2.488-3.894Zm-7.395-5.3h3.409c1.544 0 2.49.783 2.49 2.097 0 1.474-.923 2.212-2.49 2.212h-3.41V13.2Zm3.64 11.544h-3.64v-4.747h3.502c2.05 0 3.018.83 3.018 2.397 0 1.544-.945 2.35-2.88 2.35ZM146.637 26.15c-3.434 0-5.807-2.743-5.807-7.19 0-4.608 2.512-7.165 5.807-7.165 2.534 0 4.676 1.405 5.368 4.193h1.612c-.737-3.387-3.156-5.668-6.935-5.668-4.792 0-7.488 3.548-7.488 8.64 0 5.046 2.626 8.664 7.42 8.664 3.962 0 6.335-2.327 7.072-5.668h-1.612c-.507 2.165-2.212 4.193-5.437 4.193ZM167.048 12.048V10.62h-10.714v16.704h10.714v-1.428h-9.17v-6.498h8.617v-1.451h-8.617v-5.899h9.17z' class='st2'/%3E%3C/svg%3E");
}

html.darkmode body.documentation.communityextensions .box-link .symbol img{
	filter: invert(84%) sepia(38%) saturate(7079%) hue-rotate(206deg) brightness(101%) contrast(101%);
}

.breadcrumbs{
	display: none;
}

.hamburger-inner, 
.hamburger-inner:after, 
.hamburger-inner:before,
.hamburger.is-active .hamburger-inner, 
.hamburger.is-active .hamburger-inner:after, 
.hamburger.is-active .hamburger-inner:before{
	background-color: $ce_purple;
}

.button.yellow{
	background-color: $ce_purple;	
}

header .headerline .headercontent .landingmenu nav a:hover{
	color: $ce_purple;
}

body.documentation.communityextensions header .headerline .headercontent .landingmenu nav .search_icon{
	display: none;
}

.extension_functions_table + table td:nth-child(1),
.extension_functions_table + table td:nth-child(5) {
  font-family: "JetBrainsMono-Regular", "Lucida Console", monospace;
}

.extension_settings_table + table td:nth-child(1),
.extension_settings_table + table td:nth-child(3),
.extension_settings_table + table td:nth-child(4) {
  font-family: "JetBrainsMono-Regular", "Lucida Console", monospace;
}

a.button {
	text-decoration: none !important;
}
