---
---

$ce_purple: #A293FF;
$ce_purplelight: #f2f0fe;

body.documentation.communityextensions #duckdb_logo{
	width: 167.61px;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='168' height='38' fill='none' viewBox='0 0 168 38'%3E%3Cpath fill='%230D0D0D' d='M19.363 38c-10.511 0-19-8.489-19-19s8.489-19 19-19c10.512 0 19 8.489 19 19s-8.488 19-19 19Z'/%3E%3Cpath fill='%23A899FF' d='M29.522 16.182h-3.727v5.625h3.727a2.852 2.852 0 0 0 2.83-2.83c0-1.556-1.284-2.795-2.83-2.795ZM7.535 19c0 4.34 3.534 7.875 7.875 7.875S23.285 23.34 23.285 19c0-4.341-3.534-7.876-7.875-7.876-4.34 0-7.875 3.535-7.875 7.876Z'/%3E%3Cpath fill='%230D0D0D' d='M69.79 14.018v8.095c0 1.742-1.072 2.973-2.538 2.973h-.715c-1.5 0-2.539-1.23-2.539-2.973v-8.095h-2.827v8.594c0 3.101 2.216 5.331 5.32 5.331h.819c3.104 0 5.296-2.23 5.296-5.33v-8.595h-2.815Zm25.79 4.913 5.238-5.552h-3.946l-4.604 4.994v-8.281h-2.792v17.62h2.792v-5.17l1.35-1.428 4.604 6.609h3.462L95.58 18.93ZM51.548 24.9h-3.38V12.937h3.38c2.62 0 4.708 2.682 4.708 5.934 0 3.357-2.089 6.028-4.708 6.028Zm0-14.832h-6.185v17.665h6.185c4.142 0 7.535-3.937 7.535-8.862 0-4.808-3.381-8.803-7.535-8.803ZM109.772 24.9h-3.334V12.938h3.334c2.643 0 4.708 2.682 4.708 5.934 0 3.357-2.065 6.028-4.708 6.028Zm0-14.831h-6.15v17.665h6.15c4.2 0 7.535-3.937 7.535-8.862 0-4.808-3.335-8.803-7.535-8.803Zm16.87 14.831h-4.35v-4.89h4.35c1.292 0 2.411 1.127 2.411 2.428 0 1.382-1.119 2.462-2.411 2.462Zm-4.35-7.735v-4.227h3.461c1.166 0 2.112.917 2.112 2.102a2.12 2.12 0 0 1-2.112 2.125h-3.461Zm7.327.94c.634-.847 1.073-1.916 1.073-3.077 0-2.718-2.262-4.97-4.939-4.97h-6.254v17.665h7.143c2.896 0 5.215-2.381 5.215-5.296a5.268 5.268 0 0 0-2.238-4.321Zm-49.051-1.45h.692c1.673 0 3.058 1.23 3.058 2.763h2.85c0-3.043-2.666-5.551-5.896-5.551h-.693c-3.184 0-5.746 2.59-5.746 5.76v2.532c0 3.206 2.573 5.784 5.746 5.784h.693c3.334 0 6.057-2.508 6.057-5.528h-2.85c0 1.463-1.454 2.66-3.207 2.66h-.693c-1.627 0-2.977-1.301-2.977-2.916v-2.532a2.972 2.972 0 0 1 2.966-2.973Zm73.215-.972h-2.142a4.454 4.454 0 0 0-1.805-2.799 4.848 4.848 0 0 0-1.477-.725 5.902 5.902 0 0 0-1.693-.242c-1.071 0-2.042.27-2.911.812-.864.541-1.552 1.339-2.064 2.393-.507 1.053-.761 2.346-.761 3.878s.254 2.824.761 3.878c.512 1.054 1.2 1.851 2.064 2.393.869.541 1.84.812 2.911.812.587 0 1.151-.081 1.693-.242a4.964 4.964 0 0 0 1.477-.717 4.538 4.538 0 0 0 1.805-2.807h2.142a7.133 7.133 0 0 1-.881 2.427 6.636 6.636 0 0 1-1.589 1.822 6.968 6.968 0 0 1-2.134 1.132 7.951 7.951 0 0 1-2.513.389c-1.509 0-2.851-.369-4.025-1.106-1.175-.737-2.099-1.785-2.773-3.144-.674-1.36-1.011-2.971-1.011-4.837 0-1.866.337-3.478 1.011-4.837.674-1.36 1.598-2.407 2.773-3.144 1.174-.737 2.516-1.106 4.025-1.106.892 0 1.73.13 2.513.389.789.259 1.5.639 2.134 1.14a6.521 6.521 0 0 1 1.589 1.814c.426.708.72 1.517.881 2.427Zm3.072 12.162v-17.69h10.676v1.9h-8.533v5.977h7.981v1.9h-7.981v6.012h8.672v1.9h-10.815Z'/%3E%3C/svg%3E");
}

html.darkmode body.documentation.communityextensions #duckdb_logo{
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='168' height='38' fill='none' viewBox='0 0 168 38'%3E%3Cpath fill='%23A899FF' d='M19.363 38c-10.511 0-19-8.489-19-19s8.489-19 19-19c10.512 0 19 8.489 19 19s-8.488 19-19 19Z'/%3E%3Cpath fill='%230D0D0D' d='M29.522 16.182h-3.727v5.625h3.727a2.852 2.852 0 0 0 2.83-2.83c0-1.556-1.284-2.795-2.83-2.795ZM7.535 19c0 4.34 3.534 7.875 7.875 7.875S23.285 23.34 23.285 19c0-4.341-3.534-7.876-7.875-7.876-4.34 0-7.875 3.535-7.875 7.876Z'/%3E%3Cpath fill='%23FAFAFA' d='M69.79 14.018v8.095c0 1.742-1.072 2.973-2.538 2.973h-.715c-1.5 0-2.539-1.23-2.539-2.973v-8.095h-2.827v8.594c0 3.101 2.216 5.331 5.32 5.331h.819c3.104 0 5.296-2.23 5.296-5.33v-8.595h-2.815Zm25.79 4.913 5.238-5.552h-3.946l-4.604 4.994v-8.281h-2.792v17.62h2.792v-5.17l1.35-1.428 4.604 6.609h3.462L95.58 18.93ZM51.548 24.9h-3.38V12.937h3.38c2.62 0 4.708 2.682 4.708 5.934 0 3.357-2.089 6.028-4.708 6.028Zm0-14.832h-6.185v17.665h6.185c4.142 0 7.535-3.937 7.535-8.862 0-4.808-3.381-8.803-7.535-8.803ZM109.772 24.9h-3.334V12.938h3.334c2.643 0 4.708 2.682 4.708 5.934 0 3.357-2.065 6.028-4.708 6.028Zm0-14.831h-6.15v17.665h6.15c4.2 0 7.535-3.937 7.535-8.862 0-4.808-3.335-8.803-7.535-8.803Zm16.87 14.831h-4.35v-4.89h4.35c1.292 0 2.411 1.127 2.411 2.428 0 1.382-1.119 2.462-2.411 2.462Zm-4.35-7.735v-4.227h3.461c1.166 0 2.112.917 2.112 2.102a2.12 2.12 0 0 1-2.112 2.125h-3.461Zm7.327.94c.634-.847 1.073-1.916 1.073-3.077 0-2.718-2.262-4.97-4.939-4.97h-6.254v17.665h7.143c2.896 0 5.215-2.381 5.215-5.296a5.268 5.268 0 0 0-2.238-4.321Zm-49.051-1.45h.692c1.673 0 3.058 1.23 3.058 2.763h2.85c0-3.043-2.666-5.551-5.896-5.551h-.693c-3.184 0-5.746 2.59-5.746 5.76v2.532c0 3.206 2.573 5.784 5.746 5.784h.693c3.334 0 6.057-2.508 6.057-5.528h-2.85c0 1.463-1.454 2.66-3.207 2.66h-.693c-1.627 0-2.977-1.301-2.977-2.916v-2.532a2.972 2.972 0 0 1 2.966-2.973Zm73.215-.972h-2.142a4.454 4.454 0 0 0-1.805-2.799 4.848 4.848 0 0 0-1.477-.725 5.902 5.902 0 0 0-1.693-.242c-1.071 0-2.042.27-2.911.812-.864.541-1.552 1.339-2.064 2.393-.507 1.053-.761 2.346-.761 3.878s.254 2.824.761 3.878c.512 1.054 1.2 1.851 2.064 2.393.869.541 1.84.812 2.911.812.587 0 1.151-.081 1.693-.242a4.964 4.964 0 0 0 1.477-.717 4.538 4.538 0 0 0 1.805-2.807h2.142a7.133 7.133 0 0 1-.881 2.427 6.636 6.636 0 0 1-1.589 1.822 6.968 6.968 0 0 1-2.134 1.132 7.951 7.951 0 0 1-2.513.389c-1.509 0-2.851-.369-4.025-1.106-1.175-.737-2.099-1.785-2.773-3.144-.674-1.36-1.011-2.971-1.011-4.837 0-1.866.337-3.478 1.011-4.837.674-1.36 1.598-2.407 2.773-3.144 1.174-.737 2.516-1.106 4.025-1.106.892 0 1.73.13 2.513.389.789.259 1.5.639 2.134 1.14a6.521 6.521 0 0 1 1.589 1.814c.426.708.72 1.517.881 2.427Zm3.072 12.162v-17.69h10.676v1.9h-8.533v5.977h7.981v1.9h-7.981v6.012h8.672v1.9h-10.815Z'/%3E%3C/svg%3E");
}

html.darkmode body.documentation.communityextensions .box-link .symbol img{
	filter: invert(84%) sepia(38%) saturate(7079%) hue-rotate(206deg) brightness(101%) contrast(101%);
}

.breadcrumbs{
	display: none;
}

.hamburger-inner, 
.hamburger-inner:after, 
.hamburger-inner:before,
.hamburger.is-active .hamburger-inner, 
.hamburger.is-active .hamburger-inner:after, 
.hamburger.is-active .hamburger-inner:before{
	background-color: $ce_purple;
}

.button.yellow{
	background-color: $ce_purple;	
}

header .headerline .headercontent .landingmenu nav a:hover{
	color: $ce_purple;
}

body.documentation.communityextensions header .headerline .headercontent .landingmenu nav .search_icon{
	display: none;
}

.extension_functions_table + table td:nth-child(1),
.extension_functions_table + table td:nth-child(5) {
  font-family: "JetBrainsMono-Regular", "Lucida Console", monospace;
}

.extension_settings_table + table td:nth-child(1),
.extension_settings_table + table td:nth-child(3),
.extension_settings_table + table td:nth-child(4) {
  font-family: "JetBrainsMono-Regular", "Lucida Console", monospace;
}

a.button {
	text-decoration: none !important;
}
