---
---

$ce_purple: #A293FF;
$ce_purplelight: #f2f0fe;

#duckdb_logo{
	width: 170px;
	background-image: url("data:image/svg+xml,%3Csvg width='300' height='69' viewBox='0 0 300 69' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M274.951 28.7501H271.164C270.94 27.6608 270.548 26.7039 269.988 25.8794C269.438 25.0548 268.767 24.3625 267.972 23.8026C267.189 23.2326 266.318 22.805 265.361 22.52C264.404 22.2349 263.407 22.0924 262.368 22.0924C260.475 22.0924 258.76 22.5709 257.222 23.5278C255.695 24.4847 254.479 25.8946 253.573 27.7575C252.677 29.6205 252.229 31.9059 252.229 34.6137C252.229 37.3216 252.677 39.607 253.573 41.4699C254.479 43.3328 255.695 44.7428 257.222 45.6997C258.76 46.6566 260.475 47.135 262.368 47.135C263.407 47.135 264.404 46.9925 265.361 46.7075C266.318 46.4224 267.189 46 267.972 45.4401C268.767 44.87 269.438 44.1727 269.988 43.3481C270.548 42.5133 270.94 41.5564 271.164 40.4774H274.951C274.666 42.0756 274.147 43.5059 273.393 44.7682C272.64 46.0305 271.703 47.1045 270.584 47.9901C269.464 48.8656 268.207 49.5324 266.812 49.9905C265.427 50.4486 263.946 50.6776 262.368 50.6776C259.701 50.6776 257.329 50.0261 255.253 48.7231C253.176 47.4201 251.542 45.5673 250.351 43.1649C249.16 40.7624 248.564 37.912 248.564 34.6137C248.564 31.3154 249.16 28.4651 250.351 26.0626C251.542 23.6601 253.176 21.8074 255.253 20.5044C257.329 19.2013 259.701 18.5498 262.368 18.5498C263.946 18.5498 265.427 18.7789 266.812 19.2369C268.207 19.695 269.464 20.3669 270.584 21.2526C271.703 22.128 272.64 23.1969 273.393 24.4593C274.147 25.7114 274.666 27.1417 274.951 28.7501Z' fill='%23A293FF'/%3E%3Cpath d='M280.382 50.2501V18.9774H299.256V22.3367H284.169V32.9035H298.278V36.2629H284.169V46.8907H299.5V50.2501H280.382Z' fill='%23A293FF'/%3E%3Cpath d='M34.876 68.6607C16.0073 68.6607 0.769531 53.3229 0.769531 34.3303C0.769531 15.3378 16.0073 0 34.876 0C53.7446 0 68.9824 15.3378 68.9824 34.3303C68.9824 53.3229 53.7446 68.6607 34.876 68.6607Z' fill='%23A293FF'/%3E%3Cpath d='M53.1126 29.3872H46.4219V39.5508H53.1126C55.8868 39.5508 58.1919 37.2306 58.1919 34.4382C58.1919 31.6252 55.8868 29.3872 53.1126 29.3872Z' fill='black'/%3E%3Cpath d='M13.6406 34.4795C13.6406 42.3229 19.9846 48.7085 27.7768 48.7085C35.5691 48.7085 41.9131 42.3229 41.9131 34.4795C41.9131 26.6361 35.5691 20.2505 27.7768 20.2505C19.9846 20.2505 13.6406 26.6361 13.6406 34.4795Z' fill='black'/%3E%3Cpath d='M124.692 26.0016V40.3127C124.692 43.3926 122.795 45.569 120.204 45.569H118.939C116.287 45.569 114.452 43.3926 114.452 40.3127V26.0016H109.454V41.1956C109.454 46.6778 113.37 50.62 118.858 50.62H120.306C125.793 50.62 129.669 46.6778 129.669 41.1956V26.0016H124.692ZM170.282 34.6868L179.543 24.8723H172.567L164.428 33.7013V19.0616H159.492V50.2094H164.428V41.0724L166.815 38.5469L174.954 50.2299H181.073L170.282 34.6868ZM92.4414 45.2405H86.4647V24.0921H92.4414C97.0719 24.0921 100.764 28.8351 100.764 34.5842C100.764 40.5181 97.0719 45.2405 92.4414 45.2405ZM92.4414 19.0205H81.5078V50.2505H92.4414C99.7645 50.2505 105.762 43.2899 105.762 34.5842C105.762 26.0837 99.7849 19.0205 92.4414 19.0205ZM195.373 45.2405H189.477V24.0921H195.373C200.044 24.0921 203.695 28.8351 203.695 34.5842C203.695 40.5181 200.044 45.2405 195.373 45.2405ZM195.373 19.0205H184.5V50.2505H195.373C202.798 50.2505 208.693 43.2899 208.693 34.5842C208.693 26.0837 202.798 19.0205 195.373 19.0205ZM225.195 45.2405H217.505V36.5963H225.195C227.48 36.5963 229.459 38.588 229.459 40.8876C229.459 43.331 227.48 45.2405 225.195 45.2405ZM217.505 31.5659V24.0921H223.625C225.685 24.0921 227.358 25.7141 227.358 27.8084C227.358 29.8822 225.685 31.5659 223.625 31.5659H217.505ZM230.458 33.229C231.58 31.7301 232.355 29.8412 232.355 27.7879C232.355 22.9833 228.357 19 223.625 19H212.569V50.2299H225.195C230.315 50.2299 234.416 46.0208 234.416 40.8671C234.416 37.7256 232.886 34.9537 230.458 33.229ZM143.744 30.6625H144.968C147.926 30.6625 150.373 32.8389 150.373 35.5492H155.412C155.412 30.1697 150.7 25.7347 144.988 25.7347H143.764C138.134 25.7347 133.606 30.3134 133.606 35.9188V40.3949C133.606 46.0618 138.155 50.62 143.764 50.62H144.988C150.883 50.62 155.697 46.185 155.697 40.8466H150.659C150.659 43.4337 148.089 45.5485 144.988 45.5485H143.764C140.888 45.5485 138.501 43.2489 138.501 40.3949V35.9188C138.501 33.0032 140.868 30.6625 143.744 30.6625Z' fill='%23A293FF'/%3E%3C/svg%3E%0A");
}

.sidenavigation{
	background-color: $ce_purplelight;
}

.breadcrumbs{
	display: none;
}

.hamburger-inner, 
.hamburger-inner:after, 
.hamburger-inner:before,
.hamburger.is-active .hamburger-inner, 
.hamburger.is-active .hamburger-inner:after, 
.hamburger.is-active .hamburger-inner:before{
	background-color: $ce_purple;
}

.button.yellow{
	background-color: $ce_purple;	
}

header .headerline .headercontent .landingmenu nav a:hover{
	color: $ce_purple;
}

body.documentation.communityextensions header .headerline .headercontent .landingmenu nav .search_icon{
	display: none;
}

.extension_functions_table + table td:nth-child(1),
.extension_functions_table + table td:nth-child(5) {
  font-family: "JetBrainsMono-Regular", "Lucida Console", monospace;
}

.extension_settings_table + table td:nth-child(1),
.extension_settings_table + table td:nth-child(3),
.extension_settings_table + table td:nth-child(4) {
  font-family: "JetBrainsMono-Regular", "Lucida Console", monospace;
}

a.button {
	text-decoration: none !important;
}
