---
---

@import 'variables';

html.disable-transitions * {
	transition: none !important;
}

html.darkmode body{
	background-color: #1F1F1F;
	color: white;
	::-moz-selection {
	  background: #353535;
	}
	::selection {
	  background: #353535;
	}

	/** DOCS SIDE NAVIGATION **/
	.sidenavigation{
		background: #292929;
		color: white;
		li{
			a{
				color: white;
			}
		}
		li.active{
			background: rgb(255 255 255 / 8%);
		}
		li.hasSub span{
			background-image: url("data:image/svg+xml,%3Csvg width='7' height='11' viewBox='0 0 7 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L6 5.5L1 10' stroke='white' stroke-linecap='round'/%3E%3C/svg%3E%0A");
		}
	}
	.sidenavigation li.active.hasSub{
		background: transparent;
	}
	.sidenavigation .opensearch{
		border: 1px solid #575757;
		color: #727272;
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='15' fill='none'%3E%3Cpath stroke='%23727272' stroke-width='1.5' d='M10.073 9.692 14 13.62'/%3E%3Ccircle cx='5.923' cy='6.303' r='5.173' stroke='%23727272' stroke-width='1.5'/%3E%3C/svg%3E");
		> .shortcut{
			color: white;
			border: 1px solid #545454;
			background: #383838;
		}
	}
	.sidenavigation::-webkit-scrollbar-thumb{
		background: #111111;
	}
	.sidenavigation::-webkit-scrollbar-track{
		background: #252525
	}
	pre.highlight::-webkit-scrollbar-thumb{
		background: #111111;
	}
	pre.highlight::-webkit-scrollbar-track{
		background: #252525;
	}
	
	/** DOCS COLORS **/
	code.language-plaintext{
		background: #262626;
		border: 1px solid #505050;
	}
	pre,
	.pagemeta,
	.highlight{
		background: #262626;
	}
	div.highlight{
		border: 1px solid #373737;
	}
	pre.highlight > button, 
	.highlight button.copy{
		background-color: #262626;
		&:hover{
			background-color: #373737;
		}
	}
	pre.highlight > button span.copy, 
	.highlight button.copy span.copy{
		background-image: url("data:image/svg+xml,%3Csvg width='13' height='13' viewBox='0 0 13 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23fff' d='M3.5.5h9v9h-9z'/%3E%3Cpath d='M1 4v8h8' stroke='%23fff'/%3E%3C/svg%3E");
	}
	pre.highlight > button span.copied, 
	.highlight button.copy span.copied{
		background-image: url("data:image/svg+xml,%3Csvg width='13' height='10' viewBox='0 0 13 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m1 5.642 3.343 3.343 7.642-7.642' stroke='%23fff'/%3E%3C/svg%3E");
	}
	table tr{
		border-bottom: 1px solid #5b5b5b;
	}
	table td{
		border-bottom: 1px solid #5b5b5b;
	}
	.versionsidebar > ul li.current a,
	.versionsidebar > ul li a:hover{
		color: #c9c9c9!important; 
		background-color: #3a3a3a;
	}
	&.installation {
		.yourselection{
			background: #282828;
			border: 1px solid #373737;
			.select.hide{
				opacity: .3;
			}
		}
		.select{
			border-bottom: 1px solid #373737;
		}
		.select ul li.selected{
			background: white;
			color: black;
			&:hover{
				background: white;
				color: black;
			}
		}
		.select ul li{
			background-color: #3f3f3f;
		}
		.select ul li:hover{
			background-color: #515151;
		}
		.output .result{
			background: #262626;
			border-color: #403f3f;
		}
		.note.output .result{
			color: white;
		}
	}
	
	/** SEARCH **/
	.searchoverlay{
		background-color: rgba(0, 0, 0, 0.8);
		> div{
			background: #2d2d2d;
		}
		> div form input{
			background-color: #434343;
			border-color: #4d4d4d;
			color: white;
		}
		> div form .empty_input{
			background-image: url("data:image/svg+xml,%3Csvg width='13' height='13' viewBox='0 0 13 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13 11.757 7.727 6.5 13 1.243 11.731 0 6.486 5.257 1.24 0 0 1.243 5.245 6.5 0 11.757 1.24 13l5.246-5.257L11.73 13 13 11.757Z' fill='%23fff'/%3E%3C/svg%3E");
		}
		> div #search_results .search_result{
			background: #3a3a3a;
		}
		> div #search_results .search_category{
			background-color: #2b2b2b;
		}
		> div .shortcuts span{
			background: #3a3a3a;
		}
		> div #search_results::-webkit-scrollbar-track{
			background: #252525
		}
		> div #search_results::-webkit-scrollbar-thumb{
			background: #111111;
		}
	}
}

html.darkmode body.documentation{
	.toc_menu h5{
		color: #ACACAC;
	}	
	.toc_menu ul#toc ul{
		border-left: 1px solid #5a5a5a;
	}
	#sidebar{
		background-color: #292929;
	}
	.toc_menu ul#toc a{
		color: #ACACAC;
	}
	.toc_menu ul#toc li.current > a{
		color: #7D66FF;
	}
	.headlinebar a, .wrap a{
		color: white;
	}
	.wrap a:hover{
		color: #4396D7;
	}
	.headlinebar div.version > div:first-child,
	.versionsidebar,
	.headlinebar div.mode{
		border: 1px solid #373737;
		color: #828282;
		background-color: #262626;
	}
	.headlinebar div.version span.arrow{
		background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='8' cy='8' r='7.5' stroke='%23828282'/%3E%3Cpath d='M3.6875 6.54541L8.05098 10.9089L12.4145 6.54541' stroke='%23828282'/%3E%3C/svg%3E%0A");
	}
	blockquote{
		background: #282828;
	}
	blockquote.default .symbol{
		background-color: #6B6B6B;
	}
	.railroad-diagram path{
		stroke: white;
	}
	.railroad-diagram rect{
		fill: #262626;
		stroke: #505050;
	}
	g.non-terminal text,
	g.terminal text{
		fill: white;
	}
	main .wrap.frequentlyaskedquestions .qa-wrap{
		background: #282828;
		border: 1px solid #373737;
	}
	main .wrap.frequentlyaskedquestions h3::after{
		background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='15' cy='15' r='15' fill='%23343434'/%3E%3Cpath d='M21.5 13L15 20L8.5 13' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
	}
	div.bodywrapper dt.sig-object{
		background-color: #3d3d3d;
	}
	.language-console pre{
		background-color: #2D1C1C;
	}
	.language-console div.highlight{
		border-color: #462727;
	}
} 
