@import 'variables';

html.disable-transitions * {
	transition: none !important;
}

html.darkmode body{
	::-moz-selection {
	  background: #353535;
	}
	::selection {
	  background: #353535;
	}

	/** DOCS SIDE NAVIGATION **/
	.sidenavigation{
		li.hasSub span{
			background-image: url("data:image/svg+xml,%3Csvg width='7' height='11' viewBox='0 0 7 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L6 5.5L1 10' stroke='white' stroke-linecap='round'/%3E%3C/svg%3E%0A");
		}
	}
	.sidenavigation li.active.hasSub{
		background: transparent;
	}
	.sidenavigation .opensearch{
		border: 1px solid #575757;
		color: #727272;
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='15' fill='none'%3E%3Cpath stroke='%23727272' stroke-width='1.5' d='M10.073 9.692 14 13.62'/%3E%3Ccircle cx='5.923' cy='6.303' r='5.173' stroke='%23727272' stroke-width='1.5'/%3E%3C/svg%3E");
		> .shortcut{
			color: white;
			border: 1px solid #545454;
			background: #383838;
		}
	}
	
	/** DOCS COLORS **/
	pre.highlight > button span.copy, 
	.highlight button.copy span.copy{
		background-image: url("data:image/svg+xml,%3Csvg width='13' height='13' viewBox='0 0 13 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23fff' d='M3.5.5h9v9h-9z'/%3E%3Cpath d='M1 4v8h8' stroke='%23fff'/%3E%3C/svg%3E");
	}
	pre.highlight > button span.copied, 
	.highlight button.copy span.copied{
		background-image: url("data:image/svg+xml,%3Csvg width='13' height='10' viewBox='0 0 13 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m1 5.642 3.343 3.343 7.642-7.642' stroke='%23fff'/%3E%3C/svg%3E");
	}
	.box-link .chevron{
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='7' height='12' fill='none' viewBox='0 0 7 12'%3E%3Cpath stroke='%234C4C4C' stroke-width='1.256' d='m1 11 5-5-5-5'/%3E%3C/svg%3E");
	}
	.box-link .symbol img{
		filter: invert(100%) sepia(100%) saturate(1000%) hue-rotate(340deg) brightness(100%);
	}
	
	/** SEARCH **/
	.searchoverlay{
		background-color: rgba(0, 0, 0, 0.8);
		> div{
			background: #2d2d2d;
		}
		> div form input{
			background-color: #434343;
			border-color: #4d4d4d;
			color: white;
		}
		> div form .empty_input{
			background-image: url("data:image/svg+xml,%3Csvg width='13' height='13' viewBox='0 0 13 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13 11.757 7.727 6.5 13 1.243 11.731 0 6.486 5.257 1.24 0 0 1.243 5.245 6.5 0 11.757 1.24 13l5.246-5.257L11.73 13 13 11.757Z' fill='%23fff'/%3E%3C/svg%3E");
		}
		> div #search_results .search_result{
			background: #3a3a3a;
		}
		> div #search_results .search_category{
			background-color: #2b2b2b;
		}
		> div .shortcuts span{
			background: #3a3a3a;
		}
		> div #search_results::-webkit-scrollbar-track{
			background: #252525
		}
		> div #search_results::-webkit-scrollbar-thumb{
			background: #111111;
		}
	}
}

html.darkmode body.documentation{
	.wrap a:hover{
		color: #4396D7;
	}
	.headlinebar div.version span.arrow{
		background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='8' cy='8' r='7.5' stroke='%23828282'/%3E%3Cpath d='M3.6875 6.54541L8.05098 10.9089L12.4145 6.54541' stroke='%23828282'/%3E%3C/svg%3E%0A");
	}
	.railroad-diagram path{
		stroke: white;
	}
	.railroad-diagram rect{
		fill: #1a1a1a;
		stroke: #333333;
	}
	g.non-terminal text,
	g.terminal text{
		fill: white;
	}
	main .wrap.frequentlyaskedquestions h3::after{
		background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='15' cy='15' r='15' fill='%23343434'/%3E%3Cpath d='M21.5 13L15 20L8.5 13' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
	}
} 
