/* Error: expected "{".
 *   ,
 * 6 | $duckDByellow: #fff100;
 *   |                       ^
 *   '
 *   /Volumes/Macintosh HD/Users/maxwo/Git/duckdb-web/css/docu.scss 6:23  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a   \2577 \a 6 \2502  $duckDByellow: #fff100;\a   \2502                        ^\a   \2575 \a   /Volumes/Macintosh HD/Users/maxwo/Git/duckdb-web/css/docu.scss 6:23  root stylesheet';
}
