---
---

/** DUCKDB DOCUMENTATION CONTENT CSS **/

$duckDByellow: #fff100;
$duckDBlightyellow: #fffee6;
$duckDBgrey: #ebebeb;
$duckDBlightgrey: #f5f5f5;
$maxContentWidth: 1000px;
$duckDBblue: #e0f1fd;

$fontMono:  "JetBrainsMono-Regular", "Lucida Console", monospace;
$fontMonoBold: "JetBrainsMono-Bold", "Lucida Console", monospace;
$fontMonoItalic: "JetBrainsMono-Italic", "Lucida Console", monospace;
$fontMonoItalicBold: "JetBrainsMono-Bold-Italic", "Lucida Console", monospace;

$fontSans: "SuisseIntl-Book", Helvetica, Arial, sans-serif;
$fontSansBold: "SuisseIntl-SemiBold", Helvetica, Arial, sans-serif;

body{
	background-color: white;
	font-size: 100%;
}

code,
pre {
	font-family: $fontMono;
    font-size: 14px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    line-height: 1.4;
}
code.language-plaintext{
	background-color: rgb(245, 245, 245);
	font-family: $fontMonoBold;
	border-radius: 7px;
	padding: 2px 5px 2px 5px;
	margin: 0;
}
pre {
    padding: 10px;
    overflow: auto;
    background-color: rgb(245, 245, 245);
}
code {
    padding: 1px 0px;
    margin: 0 3px;
}

pre code {
    display: block;
    -webkit-box-shadow: none;
            box-shadow: none;
}
pre.highlight{
	white-space: pre;
	overflow-x: auto;
    padding-bottom: 0px;
    margin: 0;
    code, pre{
        margin-bottom: 15px;
        margin-top: 8px;
    }
    &::-webkit-scrollbar {
      height: 5px;
    }
    &::-webkit-scrollbar-track {
      background: #D9D9D9;
    }
    &::-webkit-scrollbar-thumb {
      background: #b5b5b5;
    }
}
div.highlight{
	width: calc(100vw - 380px);
	max-width: 720px;
    position: relative;
}
blockquote {
    margin: 0;
    padding: 20px 20px 20px 20px;
    background-color: $duckDBblue;
    margin-top: 40px;
    margin-bottom: 40px;
    p:last-child{
	    margin-bottom: 0;
    }
}
dl,
ol,
ul {
    margin-bottom: 15px;
}
ul {
    list-style-position: outside;
    list-style-type: '\2022 \00a0\00a0';
    padding: 0;
    padding-left: 20px;
    ul{
	    padding-left: 20px;
    }
}
ul + p{
	margin-top: 3px;
	margin-bottom: 25px;
}
ol {
    list-style-position: inside;
    list-style: decimal;
    padding-left: 20px;
}
dl dt {
    font-weight: bold;
}
dl dd {
    padding-left: 20px;
    font-style: italic;
}
dl p {
    padding-left: 20px;
    font-style: italic;
}
hr {
    height: 1px;
    margin-bottom: 5px;
    border: 1px solid black;
}
table {
    border: 1px solid black;
    margin-bottom: 20px;
    text-align: left;
    background-color: $duckDBlightgrey;
    width: calc(100vw - 380px);
    max-width: 1000px;
    font-variant-numeric: tabular-nums;
    font-variant-ligatures: none;
    &.narrow{
        width: auto;
        td{
            min-width: 40px;
        }
    }
}
th {
    padding: 7px;
    font-weight: normal;
    background: #000000;
    color: #fff;
    font-size: 14px;
}
td {
    padding: 7px;
    border: 1px solid white;
    font-size: 14px;
}
.narrow_table + table{
    width: auto;
    min-width: auto;
    td{
        min-width: 40px;
    }
}
form {
    background: #f2f2f2;
    padding: 20px;
}
.highlighter-rouge + table,
.highlighter-rouge + .narrow_table{
    margin-top: 20px;
}
.outer {
    width: 100%;
}
.inner {
    position: relative;
    max-width: 640px;
    padding: 20px 10px;
    margin: 0 auto;
}

.pill, 
a.pill,
body.documentation main .wrap a.pill{
    background-color: #F3F3F3;
    font-size: 12px;
    border-radius: 50px;
    padding: .3em .8em;
    text-decoration: none;
    margin-left: 5px;
    &:hover{
        background: black!important;
        color: white;
    }
}


#main_content_wrap{
	table{
        -webkit-font-variant-ligatures: none;
            font-variant-ligatures: none;
		code.language-plaintext{
			padding: 0;
			background-color: transparent;
		}
		em code{
			font-family: $fontMonoItalicBold;
			font-style: normal;
            -webkit-font-variant-ligatures: none;
                font-variant-ligatures: none;
		}
	}

	table.bench{
		a{
			background-color: transparent;
			&:hover{
				background-color: $duckDByellow;
			}
		}
		th a{
			color: white;
			&:hover{
				color: black;
			}
		}
	}
    h5{
        margin-top: 40px;
    }
}

div.flex{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}


/** WHY DUCKDB **/

.wrap.whyduckdb{
	ul{
		list-style-position: outside;
		padding-left: 20px;
	}
	div.icon{
		width: 90px;
		height: 90px;
		background-color: #f5f5f5;
		text-align: center;
		font-size: 60px;
		padding-top: 9px;
	}
	div.headline{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		padding-top: 60px;
		h1,h2{
			margin-left: 20px;
			margin-top: 30px;
			font-size: 140%;
		}
	}
	article{
		width: 540px;
		max-width: none;
		min-width: none;
		p{
			text-align: justify;
		}
		h1:first-of-type{
			margin-top: 0px;
		}
		sup{
			font-size: 100%;
			top: 0;
			&::after{
				content: "]"
			}
			&::before{
				content: "["
			}
		}
	}
	.footnotes{
		width: 280px;
		margin-left: 40px;
		font-size: 70%;
		position: relative;
		div.sup{
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-pack: justify;
			    -ms-flex-pack: justify;
			        justify-content: space-between;
			position: absolute;
			sup{
				min-width: 20px;
				top: 0;
				font-size: 70%;
				display: inline-block;
			}
			p{
				display: inline-block;
				margin: 0;
				margin-top: -8px;
			}
		}
	}
	div.flex{
		-webkit-box-pack: start;
		    -ms-flex-pack: start;
		        justify-content: flex-start;
	}
}

#docusitemaphere{
	> ul > li.hasSub,
	> ul > li{
		font-size: 140%;
		list-style: none;
		margin-top: 40px;
		margin-bottom: 10px;
	}
	> ul > ul > li.hasSub{
		font-size: 100%;
		margin-top: 20px;
	}
	> ul > ul > ul > li.hasSub{
		margin-top: 10px;
	}
}


table td {
    padding: 5px;
}
table pre {
    margin: 0;
}

/* color scheme */

// comment
.c1 {
    color: #a0a1a7;
    font-family: $fontMonoItalic;
}

// keywords
.k, .kn, .kv {
    color: #0098dd;
    font-family: $fontMonoBold;
}

// numbers
.mi {
    color: #ce33c0;
}

// foreground
.n, .nn {
    color: #383a42;
}

// type names
.nb {
    color: #0098dd;
    font-family: $fontMonoBold;
}

// functions
.nf {
    color: #23974a;
    font-family: $fontMonoBold;
}

.p {
    color: #7a82da;
}

// strings
.s, .s1 {
    color: #c5a332;
}

// keywords in table headers
th .k {
    color: #fff;
    font-family: $fontMonoBold;
}

// background
.highlight {
    background-color :#f9f9f9;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
    color: #0F79D0;
    text-shadow: none;
    transition: color 0.5s ease;
    transition: text-shadow 0.5s ease;
    -webkit-transition: color 0.5s ease;
    -webkit-transition: text-shadow 0.5s ease;
    -moz-transition: color 0.5s ease;
    -moz-transition: text-shadow 0.5s ease;
    -o-transition: color 0.5s ease;
    -o-transition: text-shadow 0.5s ease;
    -ms-transition: color 0.5s ease;
    -ms-transition: text-shadow 0.5s ease;
}
a:focus,
a:hover {
    text-decoration: underline;
}
strong {
    font-weight: normal;
    font-family: $fontSansBold;
}
p{
	line-height: 1.5;
}
p em{
	font-family: $fontSans;
}

code em{
	font-family: $fontMonoItalic;
}
p img {
    display: inline;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    text-align: center;
    border: none;
}


@media screen and (max-width: 992px) {
    img {
        max-width: 100%;
    }
}
@media screen and (max-width: 480px) {
    body {
        font-size: 14px;
    }
    #downloads {
        display: none;
    }
    .inner {
        min-width: 320px;
        max-width: 480px;
    }
    #project_title {
        font-size: 32px;
    }
    h1 {
        font-size: 28px;
    }
    h2 {
        font-size: 24px;
    }
    h3 {
        font-size: 21px;
    }
    h4 {
        font-size: 18px;
    }
    h5 {
        font-size: 16px;
    }
    h6 {
        font-size: 14px;
    }
    code,
    pre {
        font-size: 14px;
    }
}
@media screen and (max-width: 320px) {
    body {
        font-size: 14px;
    }
    #downloads {
        display: none;
    }
    .inner {
        min-width: 240px;
        max-width: 320px;
    }
    #project_title {
        font-size: 28px;
    }
    h1 {
        font-size: 24px;
    }
    h2 {
        font-size: 21px;
    }
    h3 {
        font-size: 18px;
    }
    h4 {
        font-size: 16px;
    }
    h5 {
        font-size: 14px;
    }
    h6 {
        font-size: 12px;
    }
    code,
    pre {
        min-width: 240px;
        max-width: 320px;
        font-size: 14px;
    }
}
