---
---

@import 'variables';

/** DUCKDB MAIN CSS **/

/** FONT IMPORT **/
@font-face{
	font-family: "SuisseIntl";
	src: url("webfont/SuisseIntl-Book-WebXL.woff2") format("woff2"),url("webfont/SuisseIntl-Book-WebXL.woff") format("woff");
	font-weight: 450;
	font-style: normal;
	font-display: swap;
}
@font-face{
	font-family: "SuisseIntl";
	src: url("webfont/SuisseIntl-Medium-WebXL.woff2") format("woff2"),url("webfont/SuisseIntl-SemiBold-WebXL.woff") format("woff");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face{
	font-family: "SuisseIntl";
	src: url("webfont/SuisseIntl-SemiBold-WebXL.woff2") format("woff2"),url("webfont/SuisseIntl-SemiBold-WebXL.woff") format("woff");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}
@font-face{
	font-family: "SuisseIntl";
	src: url("webfont/SuisseIntl-Bold-WebS.woff2") format("woff2"),url("webfont/SuisseIntl-Bold-WebS.woff") format("woff");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face{
	font-family: "DuckDB-Symbol";
	src: url("webfont/DuckDB-Symbol.woff2") format("woff2"),url("webfont/DuckDB-Symbol.woff") format("woff");
}

@font-face{
	font-family: "JetBrainsMono-Regular";
	src: url("webfont/JetBrainsMono/woff2/JetBrainsMono-Regular.woff2") format("woff2"),url("webfont/JetBrainsMono/woff/JetBrainsMonoNL-Regular.woff") format("woff");
}
@font-face{
	font-family: "JetBrainsMono-Bold";
	src: url("webfont/JetBrainsMono/woff2/JetBrainsMono-Bold.woff2") format("woff2"),url("webfont/JetBrainsMono/woff/JetBrainsMonoNL-Bold.woff") format("woff");
}
@font-face{
	font-family: "JetBrainsMono-ExtraBold";
	src: url("webfont/JetBrainsMono/woff2/JetBrainsMono-ExtraBold.woff2") format("woff2"),url("webfont/JetBrainsMono/woff/JetBrainsMono-ExtraBold.woff") format("woff");
}
@font-face{
	font-family: "JetBrainsMono-Italic";
	src: url("webfont/JetBrainsMono/woff2/JetBrainsMono-Italic.woff2") format("woff2"),url("webfont/JetBrainsMono/woff/JetBrainsMonoNL-Italic.woff") format("woff");
}
@font-face{
	font-family: "JetBrainsMono-Bold-Italic";
	src: url("webfont/JetBrainsMono/woff2/JetBrainsMono-Bold-Italic.woff2") format("woff2"),url("webfont/JetBrainsMono/woff/JetBrainsMonoNL-BoldItalic.woff") format("woff");
}

@import "hamburgers.min.css";


@mixin button {
	color: black;
	height: 30px;
	display: inline-block;
	background-color: black;
	line-height: 30px;
	padding-left: 8px;
	padding-right: 25px;
	cursor: pointer;
	font-size: 14px;
	transition: background-color .3s;
	span::after{
		content: "→";
		font-family: "DuckDB-Symbol";
		margin-left: 4px;
		transition: transform .3s;
		position: absolute;
	}
	&:hover span::after{
		transform: translateX(3px);
	}
}

@mixin textlink {
	color: darken($duckDBgrey,20);
	text-decoration: underline;
	font-size: 14px;
	transition: color .3s;
	span::after{
		content: "→";
		font-family: "DuckDB-Symbol";
		margin-left: 6px;
		transition: transform .3s;
		position: absolute;
		text-decoration: none;
		line-height: 1.5;
	}
	&:hover span::after{
		transform: translateX(3px);
	}
}


*{
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body{
	font-size: 100%;
	font-family: $fontSans;
	font-weight: 450;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

::-moz-selection {
  background: $duckDByellow;
}
::selection {
  background: $duckDByellow;
}

a, a:active, a:focus, button, button:active, button:focus {
  outline: none;
}

p a{
	color: black;
	text-decoration: underline;
	transition: color .3s;
	&:hover{
		color: $blue;
		cursor: pointer;
	}
}

p a:has(code):hover{
	background-color: transparent;
}

ul{
	list-style-type: '\2022 \00a0\00a0';
}

strong{
	font-family: $fontSans;
	font-weight: 600;
	font-weight: normal;
}

/** External Links in Fließtext **/
/*
a.externallink:hover{
	background-color: $duckDBblue!important;
}
a.externallink:hover::after{
	opacity: 1;
	-webkit-transform: translate(0px, 0px);
		-ms-transform: translate(0px, 0px);
			transform: translate(0px, 0px);
}
a.externallink::after {
  content: " \2197";
  font-family: "DuckDB-Symbol";
  position: absolute;
  margin-left: -1px;
  font-size: 10px;
  opacity: 0;
  -webkit-transform: translate(-10px, 5px);
	  -ms-transform: translate(-10px, 5px);
		  transform: translate(-10px, 5px);
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}
a.externallink{
	margin-right: 3px;
}

a.externallink:hover{
	cursor: url("data:image/svg+xml,%3Csvg version='1.1' id='Ebene_1' xmlns='http://www.w3.org/2000/svg' x='0' y='0' width='17' height='17' viewBox='0 0 28.3 28.3' style='enable-background:new 0 0 28.3 28.3' xml:space='preserve'%3E%3Cstyle%3E.st0%7Bfill:%23fff%7D%3C/style%3E%3Cpath d='M1.2 27.2V4.5h10.9v3.9h-7v14.9h14.8v-7h3.9v10.9z'/%3E%3Cpath class='st0' d='M11.5 5.2v2.6h-7v16.1h16.1v-7h2.6v9.6H1.8V5.2h9.7m1.2-1.3H.6V27.7H24.4V15.6h-5v7H5.7V9h7V3.9z'/%3E%3Cg%3E%3Cpath d='m11.6 14 9-9h-5.9V1.2h12.5v12.4h-3.9V7.8l-9 8.9z'/%3E%3Cpath class='st0' d='M26.6 1.8V13H24V6.3l-9.6 9.6-1.9-1.9 9.6-9.6h-6.8V1.8h11.3M27.8.5H14.1v5H19L11.5 13l-.8 1 .9.9 1.9 1.9.9.9.9-.9 7.5-7.5v4.9h5V.5z'/%3E%3C/g%3E%3C/svg%3E") 2 2, alias;
	background-color: $duckDBblue!important;
}


.external a::after{
	content: "\E000";
	font-family: "DuckDB-Symbol";
	font-size: 90%;
	top: -1px;
	-webkit-transform: translateX(1px);
		-ms-transform: translateX(1px);
			transform: translateX(1px);
	display: inline-block;
	-webkit-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
	opacity: 0;
	color: white;
	position: absolute;
}
.external a:hover::after{
	-webkit-transform: translateX(5px);
		-ms-transform: translateX(5px);
			transform: translateX(5px);
	opacity: 1;
	color: $duckDByellow;
}
.external a:hover{
	background-color: transparent!important;
}
*/

.duckdbsymbol{
	font-family: "DuckDB-Symbol";
}

.onlymobile{
	display: none;
}
.notonmobile{
	display: block;
}

a.blocklink{
	display: block;
	position: absolute;
	z-index: 500;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	&:hover{
		background-color: transparent!important;
	}
}

img.downloadlogo{
	height: 30px;
	width: 130px;
	position: absolute;
	top: 10px;
	left: 15px;
	z-index: 999;
	background: red;
	opacity: 0!important;
}

.flexwrap{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.pagehead{
	background-color: #161616;
	background-image: url("data:image/svg+xml,%3Csvg width='1440' height='257' viewBox='0 0 1440 257' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_2960_5714)'%3E%3Crect width='1440' height='257' fill='%23161616'/%3E%3Cpath d='M1762 710.626L1762 -53.9999C1762 -142.365 1690.37 -214 1602 -214L1344.05 -214C1255.69 -214 1184.05 -142.366 1184.05 -54L1184.05 270.996C1184.05 359.361 1112.42 430.996 1024.05 430.996L942 430.996C853.635 430.996 782 502.63 782 590.996L782 1058' stroke='url(%23paint0_linear_2960_5714)' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M-664.793 1108L850 1108C938.366 1108 1010 1036.37 1010 948L1010 220.616C1010 132.25 938.366 60.6156 850 60.6155L1.7064 60.6155C-86.6592 60.6155 -158.294 -11.019 -158.294 -99.3845L-158.294 -508C-158.294 -596.365 -229.928 -668 -318.294 -668L-1294 -668' stroke='url(%23paint1_linear_2960_5714)' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_2960_5714' x1='1556.56' y1='-272.688' x2='965.893' y2='681.719' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23292058'/%3E%3Cstop offset='1' stop-color='%235C4CB8'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint1_linear_2960_5714' x1='1116.3' y1='735.688' x2='-612.923' y2='-333.951' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23292058'/%3E%3Cstop offset='1' stop-color='%235C4CB8'/%3E%3C/linearGradient%3E%3CclipPath id='clip0_2960_5714'%3E%3Crect width='1440' height='257' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
	background-size: cover;
	background-position: center center;
	h1{
		padding: 65px 15px;
		color: white;
		font-size: $fontSizeh1;
		margin-bottom: 0;
	}
	&.bg1{
		background-image: url("data:image/svg+xml,%3Csvg width='1440' height='180' viewBox='0 0 1440 180' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_3117_3030)'%3E%3Crect width='1440' height='180' fill='%23161616'/%3E%3Cpath d='M1762 737.626L1762 -26.9999C1762 -115.365 1690.37 -187 1602 -187L1344.05 -187C1255.69 -187 1184.05 -115.366 1184.05 -27L1184.05 297.996C1184.05 386.361 1112.42 457.996 1024.05 457.996L942 457.996C853.635 457.996 782 529.63 782 617.996L782 1085' stroke='url(%23paint0_linear_3117_3030)' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M1064 246L1064 141C1064 85.7716 1019.23 41.0001 964 41.0001L-158 41' stroke='url(%23paint1_linear_3117_3030)' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_3117_3030' x1='1556.56' y1='-245.688' x2='965.893' y2='708.719' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23292058'/%3E%3Cstop offset='1' stop-color='%235C4CB8'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint1_linear_3117_3030' x1='1175.19' y1='714.808' x2='-585.695' y2='-426.622' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23292058'/%3E%3Cstop offset='1' stop-color='%235C4CB8'/%3E%3C/linearGradient%3E%3CclipPath id='clip0_3117_3030'%3E%3Crect width='1440' height='180' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
	}
	&.bg2{
		background-image: url("data:image/svg+xml,%3Csvg width='1440' height='180' viewBox='0 0 1440 180' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_3117_3021)'%3E%3Crect width='1440' height='180' fill='%23161616'/%3E%3Cpath d='M1064 -65L1064 39.9999C1064 95.2284 1019.23 140 964 140L-158 140' stroke='url(%23paint0_linear_3117_3021)' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M1488 112L1232.05 112C1176.82 112 1132.05 156.772 1132.05 212L1132.05 258.5' stroke='url(%23paint1_linear_3117_3021)' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_3117_3021' x1='1175.19' y1='-533.808' x2='-585.695' y2='607.622' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23292058'/%3E%3Cstop offset='1' stop-color='%235C4CB8'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint1_linear_3117_3021' x1='1504.56' y1='53.3121' x2='913.893' y2='1007.72' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23292058'/%3E%3Cstop offset='1' stop-color='%235C4CB8'/%3E%3C/linearGradient%3E%3CclipPath id='clip0_3117_3021'%3E%3Crect width='1440' height='180' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
	}
	&.bg3{
		background-image: url("data:image/svg+xml,%3Csvg width='1440' height='180' viewBox='0 0 1440 180' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_3117_3016)'%3E%3Crect width='1440' height='180' fill='%23161616'/%3E%3Cpath d='M440 -33L440 33C440 88.2284 484.771 133 540 133L979 133C1034.23 133 1079 88.2284 1079 32.9999V-49' stroke='url(%23paint0_linear_3117_3016)' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M1488 112L1232.05 112C1176.82 112 1132.05 156.771 1132.05 212L1132.05 258.5' stroke='url(%23paint1_linear_3117_3016)' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_3117_3016' x1='1137.14' y1='808.687' x2='-36.2365' y2='411.703' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23292058'/%3E%3Cstop offset='1' stop-color='%235C4CB8'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint1_linear_3117_3016' x1='1504.56' y1='53.3119' x2='913.893' y2='1007.72' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23292058'/%3E%3Cstop offset='1' stop-color='%235C4CB8'/%3E%3C/linearGradient%3E%3CclipPath id='clip0_3117_3016'%3E%3Crect width='1440' height='180' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
	}
	&.bg4{
		background-image: url("data:image/svg+xml,%3Csvg width='1440' height='180' viewBox='0 0 1440 180' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_3117_3003)'%3E%3Crect width='1440' height='180' fill='%23161616'/%3E%3Cpath d='M757 -104L757 18C757 73.2284 801.771 118 857 118L1122 118C1177.23 118 1222 73.2285 1222 18L1222 -81' stroke='url(%23paint0_linear_3117_3003)' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_3117_3003' x1='1305.44' y1='938.484' x2='-9.30333' y2='78.9597' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23292058'/%3E%3Cstop offset='1' stop-color='%235C4CB8'/%3E%3C/linearGradient%3E%3CclipPath id='clip0_3117_3003'%3E%3Crect width='1440' height='180' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
	}
	&.bg5{
		background-image: url("data:image/svg+xml,%3Csvg width='1440' height='180' viewBox='0 0 1440 180' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_3117_3010)'%3E%3Crect width='1440' height='180' fill='%23161616'/%3E%3Cpath d='M1710 112L1232.05 112C1176.82 112 1132.05 156.772 1132.05 212L1132.05 656.996C1132.05 712.224 1087.28 756.996 1032.05 756.996L730 756.996' stroke='url(%23paint0_linear_3117_3010)' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M1010 297L1010 140.616C1010 85.3872 965.229 40.6156 910 40.6156L-158.294 40.6155' stroke='url(%23paint1_linear_3117_3010)' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_3117_3010' x1='1504.56' y1='53.3119' x2='913.893' y2='1007.72' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23292058'/%3E%3Cstop offset='1' stop-color='%235C4CB8'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint1_linear_3117_3010' x1='1219.64' y1='2733.49' x2='-2551' y2='846.424' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23292058'/%3E%3Cstop offset='1' stop-color='%235C4CB8'/%3E%3C/linearGradient%3E%3CclipPath id='clip0_3117_3010'%3E%3Crect width='1440' height='180' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
	}
	&.bg6{
		background-image: url("data:image/svg+xml,%3Csvg width='1440' height='180' viewBox='0 0 1440 180' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_3117_3037)'%3E%3Crect width='1440' height='180' fill='%23161616'/%3E%3Cpath d='M1137 145L1260 145C1315.23 145 1360 100.228 1360 45L1360 -296' stroke='url(%23paint0_linear_3117_3037)' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M698 145L73.0001 145C17.7717 145 -26.9998 100.229 -26.9998 45.0001L-27 -296' stroke='url(%23paint1_linear_3117_3037)' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3E%3Crect x='698' y='45' width='439' height='236' rx='100' stroke='url(%23paint2_linear_3117_3037)' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_3117_3037' x1='587.973' y1='553.593' x2='1634.94' y2='-94.5036' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23292058'/%3E%3Cstop offset='1' stop-color='%235C4CB8'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint1_linear_3117_3037' x1='2482.95' y1='553.593' x2='1550.69' y2='-1322.6' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23292058'/%3E%3Cstop offset='1' stop-color='%235C4CB8'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint2_linear_3117_3037' x1='-382.821' y1='-173.657' x2='78.0801' y2='875.881' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23292058'/%3E%3Cstop offset='1' stop-color='%235C4CB8'/%3E%3C/linearGradient%3E%3CclipPath id='clip0_3117_3037'%3E%3Crect width='1440' height='180' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
	}
}

header .headerline{
	background-color: black;
	height: 70px;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9000;
	.headercontent{
		max-width: calc(100% - 40px);
		height: 100%;
		margin: 0 auto;
		color: white;
		align-items: center;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
			-ms-flex-pack: justify;
				justify-content: space-between;
		.duckdbhome{
			font-size: 20px;
			font-family: "DuckDB-Symbol";
			a{
				text-decoration: none;
				color: $duckDByellow;
				-webkit-transition: color .3s;
				-o-transition: color .3s;
				transition: color .3s;
				&:hover{
					color: white;
				}
			}
		}
		.landingmenu{
			font-size: 16px;
			height: 100%;
			nav{
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				height: 100%;
				align-items: center;
				> div{
					margin-left: 35px;
					position: relative;
				}
				a{
					color: white;
					text-decoration: none;
					-webkit-transition: color .3s;
					-o-transition: color .3s;
					transition: color .3s;
					line-height: 70px;
					&:hover{
						color: $duckDByellow;
					}
				}
				.external a::after,
				.external a:hover::after{
					display: none;
				}
				.hasSub + ul{
					border-radius: 0px 0px 15px 15px;
					border: 1px solid #393939;
					border-top: 0;
					padding: 15px 10px;
					background: rgba(9, 9, 9, 0.85);
					backdrop-filter: blur(5px);
					position: absolute;
					top: 65px;
					left: -15px;
					-webkit-transition: all .3s ease;
					-o-transition: all .3s ease;
					transition: all .3s ease;
					opacity: 0;
					visibility: hidden;
					display: flex;
					flex-direction: column;
					margin: 0;
					li{	
						a{
							text-decoration: none;
							color: white;
							line-height: 1;
							padding: 15px 20px;
							border-radius: 120px;
							display: block;
							font-size: 14px;
							white-space: nowrap;
							transition: all .2s;
							margin-top: -3px;
							margin-bottom: -3px;
							background: rgba(93, 93, 93, 0);
							&:hover{
								background: rgba(0, 0, 0, 0.5);
								color: $duckDByellow;
							}
						}
					}
					ul{
						padding: 5px 12px;
						margin-top: -6px;
						margin-bottom: 5px;
						li{
							line-height: 20px;
							font-size: 13px;
						}
					}
				}
				.hasSub + ul:hover{
					opacity: 1;
					visibility: visible;
					-webkit-transform: translateY(5px);
						-ms-transform: translateY(5px);
							transform: translateY(5px);
				}
				.hasSub{
					cursor: pointer;
					a::after{
						content: "\E010";
						font-family: "DuckDB-Symbol";
						margin-left: 3px;
					}
					&:hover{
						color: $duckDByellow;
						& ~ ul{
							opacity: 1;
							visibility: visible;
							-webkit-transform: translateY(5px);
								-ms-transform: translateY(5px);
									transform: translateY(5px);
							ul{
								visibility: visible;
							}
						}
						a{
							color: $duckDByellow;
						}
					}
				}
				.search_icon{
					width: 17px;
					height: 70px;
					background-image: url("data:image/svg+xml,%3Csvg width='15' height='14' viewBox='0 0 15 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.073 9.312 14 13.238' stroke='%23fff' stroke-width='1.5'/%3E%3Ccircle cx='5.923' cy='5.923' r='5.173' stroke='%23fff' stroke-width='1.5'/%3E%3C/svg%3E");
					background-repeat: no-repeat;
					background-size: contain;
					background-position: center center;
					cursor: pointer;
					display: none;
					&:hover{
						background-image: url("data:image/svg+xml,%3Csvg width='15' height='14' viewBox='0 0 15 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.073 9.312 14 13.238' stroke='%23FFEF00' stroke-width='1.5'/%3E%3Ccircle cx='5.923' cy='5.923' r='5.173' stroke='%23FFEF00' stroke-width='1.5'/%3E%3C/svg%3E");
					} 
				}
				.starcount{
					color: #A5A5A5;
					margin-left: 25px;
					position: relative;
					transition: color .3s;
					&::before{
						content: " ";
						background-image: url("data:image/svg+xml,%3Csvg width='18' height='17' viewBox='0 0 18 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.83063 13.817C8.98898 13.722 9.1868 13.722 9.34515 13.817L13.6356 16.3914C14.0146 16.6188 14.4806 16.2787 14.3797 15.8484L13.2432 11.0052C13.2006 10.8238 13.2624 10.6337 13.4037 10.5121L17.1857 7.25491C17.5214 6.96575 17.343 6.41506 16.9014 6.37782L11.9168 5.9574C11.7323 5.94184 11.5715 5.82558 11.4989 5.65525L9.54784 1.07886C9.37508 0.673645 8.8007 0.673645 8.62794 1.07886L6.67692 5.65525C6.6043 5.82558 6.4435 5.94184 6.259 5.9574L1.27437 6.37782C0.83283 6.41506 0.654351 6.96575 0.990107 7.25491L4.77213 10.5121C4.91333 10.6337 4.97519 10.8238 4.93262 11.0052L3.79611 15.8484C3.69514 16.2787 4.16116 16.6188 4.54015 16.3914L8.83063 13.817Z' fill='%23A5A5A5'/%3E%3C/svg%3E%0A");
						width: 18px;
						height: 17px;
						background-size: contain;
						position: absolute;
						left: -22px;
						top: 1px;
						transition: all 350ms cubic-bezier(.47,1.64,.41,.8);
					}
				}
				a.github:hover{
					.starcount{
						color: $duckDByellow;
						&::before{
							scale: 1.25;
							background-image: url("data:image/svg+xml,%3Csvg width='18' height='17' viewBox='0 0 18 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.83063 13.817C8.98898 13.722 9.1868 13.722 9.34515 13.817L13.6356 16.3914C14.0146 16.6188 14.4806 16.2787 14.3797 15.8484L13.2432 11.0052C13.2006 10.8238 13.2624 10.6337 13.4037 10.5121L17.1857 7.25491C17.5214 6.96575 17.343 6.41506 16.9014 6.37782L11.9168 5.9574C11.7323 5.94184 11.5715 5.82558 11.4989 5.65525L9.54784 1.07886C9.37508 0.673645 8.8007 0.673645 8.62794 1.07886L6.67692 5.65525C6.6043 5.82558 6.4435 5.94184 6.259 5.9574L1.27437 6.37782C0.83283 6.41506 0.654351 6.96575 0.990107 7.25491L4.77213 10.5121C4.91333 10.6337 4.97519 10.8238 4.93262 11.0052L3.79611 15.8484C3.69514 16.2787 4.16116 16.6188 4.54015 16.3914L8.83063 13.817Z' fill='%23FFEF00'/%3E%3C/svg%3E%0A");
						}
					}
				}
			}
		}
		.button{
			line-height: 1;
			margin: 0;
		}
	}
}

body.landing header .headerline .headercontent .landingmenu nav .search_icon,
body.documentation header .headerline .headercontent .landingmenu nav .search_icon{
	display: block;
}

.hamburger{
	padding: 3px;
	margin-top: 2px;
	display: none;
	background: #2E2E2E;
	border-radius: 100px;
	width: 41px;
	height: 41px;
	align-items: center; 
	justify-content: center; 
}

.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before{
	background-color: $duckDByellow;
	border-radius: 0px;
	height: 2px;
	width: 16px;
}

.hamburger-box{
	width: 16px;
	height: 16px;
	margin-top: 2px;
}

.hamburger-inner:after{
	bottom: -6px;
}
.hamburger-inner:before{
	top: -6px;
}

.hamburger.is-active:hover, .hamburger:hover{
	opacity: 1;
}

.hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner:after, .hamburger.is-active .hamburger-inner:before{
	background-color: $duckDByellow;
}

main{
	h1{
		font-size: 24px;
		font-weight: normal;
		margin-bottom: 50px;
	}
	.wrap{
		max-width: $maxContentWidthOld;
		margin: 0 auto;
	}
	#main_content_wrap{
		margin-top: 70px;
	}
}



footer{
	.sitefooter{
		background-color: black;
		color: white;
		.footercontent{
			max-width: 1150px;
			margin: 0 auto;
			padding: 60px 15px 20px 15px;
			//padding-bottom: 45px;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			justify-content: space-between;
			column-gap: 80px;
			font-size: 14px;
			flex-wrap: wrap;
			.footernavigation{
				display: flex;
				column-gap: 50px;
				a{
					line-height: 2;
				}
			}
			.bottomline{
				width: 100%;
				margin-top: 60px;
				font-weight: 400;
				color: #979797;
			}
			strong{
					font-weight: normal;
				color: $duckDByellow;
				}
			> div{
				overflow: visible;
				position: relative;
				a{
					color: #B8B8B8;
					text-decoration: none;
					-webkit-transition: color .3s;
					-o-transition: color .3s;
					transition: color .3s;
					&:hover{
						color: $purple;
					}
				}
			}
			h6{
				text-decoration: none;
				font-family: $fontSans;
				font-weight: 500;
				margin-top: 0px;
				margin-bottom: 20px;
				color: white;
			}
			img.duckdbfooter{
				width: 140px;
				height: auto;
			}
			.icons a{
				text-decoration: none;
				font-size: 25px;
				span{
					margin-right: 4px;
				}
			}
			.tmhints{
				a{
					font-size: 11px;
					color: #878787;
					text-decoration: none;
				}
			}
		}
	}
}


h1{
	font-size: 29px;
	line-height: 1.0;
	font-weight: normal;
	margin-bottom: 50px;
}
h2{
	font-size: 26px;
	line-height: 1.0;
	font-weight: normal;
	margin-bottom: 30px;
}
h3{
	font-weight: normal;
	font-size: 21px;
	line-height: 1.1;
}
h4{
	font-weight: normal;
	font-size: 19px;
	line-height: 1.0;
}
h5{
	font-weight: normal;
	line-height: 1.0;
	font-size: 18px;
}
h6{
	font-weight: normal;
	line-height: 1.0;
	font-size: 14px;
}

body.landing label.onlymobile,
body.installation div.environment.select label.onlymobile{
	position: relative;
	&::after{
		content: "\E010";
		font-family: "DuckDB-Symbol";
		right: 10px;
		top: 4px;
		padding: 0 0 2px;
		position: absolute;
		pointer-events: none;
		font-size: 20px;
		color: white;
	}
}
.environmentselect{
	width: 100%;
	/*border: 1px solid #b8b8b8;*/
	border: none;
	background: black;
	color: white;
	border-radius: 0;
	height: 35px;
	padding-left: 9px;
	font-family: "SuisseIntl-Book", Helvetica, Arial, sans-serif;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	cursor: pointer;
}

body.installation{
	.environmentselect{
		background-color: darken($duckDBlightgrey,5);
		color: black;
		border: none;
		border-bottom: 2px solid rgba(0,0,0,0.4);
		&:focus, &:active{
			outline: 0;
			border: none;
			border-radius: 0;
			border-bottom: 2px solid rgba(0,0,0,0.4);
		}
	}
}
body.installation .environment.select label.onlymobile{
	&::after{
		color: black;
	}
}




/** FAQ **/

body.documentation main .wrap.frequentlyaskedquestions{
	h2, h3{
		cursor: pointer;
		font-size: 18px;
		position: relative;
		font-weight: 600;
		margin: 0;
		padding-right: 55px;
		&::after{
			content: " ";
			background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='15' cy='15' r='15' fill='%23EFEFEF'/%3E%3Cpath d='M21.5 13L15 20L8.5 13' stroke='black' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
			background-size: contain;
			background-repeat: no-repeat;
			width: 30px;
			height: 30px;
			position: absolute;
			right: 0px;
			top: -5px;
			transition: transform .3s;
			cursor: pointer;
		}
		a:hover{
			background-color: transparent;
		}
	}
	.qa-wrap{
		padding: 20px;
		background-color: #F9F9F9;
		transition: background-color .3s;
		margin-bottom: 5px;
		border-radius: 10px;
		&.open h3::after{
			transform: rotate(180deg);
		}
		&:hover{
			background-color: #f5f5f5;
		}
	}
	.answer{
		display: none;
		max-width: calc(100% - 55px);
		padding-top: 20px;
		>p:first-child{
			margin-top: 0;
		}
	}
	.headlinebar{
		margin-bottom: 40px;
	}
}


/** BLOG STYLES **/
section.blog{
	background-color: #F9F9F9;
}
section.blog,
.post-list .newstiles{
	.newswrap, .newstileswrap{
		margin-top: 70px;
		margin-bottom: 70px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.postpreview{
		width: calc(33.33% - 15px);
		&:nth-child(4){
			display: none;
		}
		.postimg{
			aspect-ratio: 16/9;
			background-color: $duckDByellow;
			background-position: left top;
			background-size: contain;
			border-radius: 15px;
			position: relative;
			a.blocklink{
				display: block;
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
			}
			&.bg_1{
				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='750' height='500' fill='none'%3E%3Cpath fill='%23FFF100' d='M0 0h750v500H0z'/%3E%3Cpath fill='%23F8E700' d='M750 72c-23.29.039-34.974 5.916-46.658 11.793-11.722 5.896-23.444 11.793-46.888 11.793s-35.166-5.897-46.889-11.793C597.843 77.896 586.121 72 562.677 72s-35.166 5.897-46.889 11.793c-11.722 5.896-23.444 11.793-46.888 11.793s-35.166-5.897-46.889-11.793C410.289 77.896 398.567 72 375.123 72s-35.167 5.897-46.889 11.793c-11.722 5.896-23.444 11.793-46.888 11.793-23.443 0-35.161-5.896-46.88-11.792C222.744 77.897 211.022 72 187.569 72c-23.454 0-35.179 5.897-46.904 11.794-11.723 5.896-23.446 11.792-46.888 11.792-23.444 0-35.166-5.897-46.889-11.793C35.166 77.896 23.445 72 0 72v166h750V72Z'/%3E%3Cpath fill='%23ECDC00' d='M0 369h750V226.641h-.015c-23.445 0-35.167-5.911-46.888-11.822C691.378 208.909 679.66 203 656.225 203c-23.436 0-35.154 5.91-46.872 11.82-11.718 5.911-23.436 11.821-46.873 11.821-23.436 0-35.154-5.91-46.872-11.821-11.718-5.91-23.436-11.82-46.873-11.82-23.436 0-35.154 5.91-46.872 11.82-11.718 5.911-23.437 11.821-46.873 11.821-23.436 0-35.154-5.91-46.872-11.821C316.4 208.91 304.681 203 281.245 203c-23.436 0-35.154 5.91-46.872 11.82-11.719 5.911-23.437 11.821-46.873 11.821-23.434 0-35.149-5.909-46.864-11.819C128.919 208.911 117.2 203 93.755 203s-35.167 5.911-46.888 11.822C35.149 220.731 23.43 226.64 0 226.641V369Z'/%3E%3Cpath fill='%23DFD100' d='M750 334c-23.29.039-34.974 5.916-46.658 11.793-11.722 5.896-23.444 11.793-46.888 11.793s-35.166-5.897-46.889-11.793C597.843 339.896 586.121 334 562.677 334s-35.166 5.896-46.889 11.793c-11.722 5.896-23.444 11.793-46.888 11.793s-35.166-5.897-46.889-11.793C410.289 339.896 398.567 334 375.123 334s-35.167 5.896-46.889 11.793c-11.722 5.896-23.444 11.793-46.888 11.793-23.443 0-35.161-5.896-46.88-11.792C222.744 339.897 211.022 334 187.569 334c-23.454 0-35.179 5.897-46.904 11.794-11.723 5.896-23.446 11.792-46.888 11.792-23.444 0-35.166-5.897-46.889-11.793C35.166 339.896 23.445 334 0 334v166h750V334Z'/%3E%3C/svg%3E");
			}
			&.bg_2{
				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='750' height='500' fill='none'%3E%3Cpath fill='%238C78FF' d='M0 0h750v500H0z'/%3E%3Cpath fill='%238370F3' d='M750 72c-23.29.039-34.974 5.916-46.658 11.793-11.722 5.896-23.444 11.793-46.888 11.793s-35.166-5.897-46.889-11.793C597.843 77.896 586.121 72 562.677 72s-35.166 5.897-46.889 11.793c-11.722 5.896-23.444 11.793-46.888 11.793s-35.166-5.897-46.889-11.793C410.289 77.896 398.567 72 375.123 72s-35.167 5.897-46.889 11.793c-11.722 5.896-23.444 11.793-46.888 11.793-23.443 0-35.161-5.896-46.88-11.792C222.744 77.897 211.022 72 187.569 72c-23.454 0-35.179 5.897-46.904 11.794-11.723 5.896-23.446 11.792-46.888 11.792-23.444 0-35.166-5.897-46.889-11.793C35.166 77.896 23.445 72 0 72v166h750V72Z'/%3E%3Cpath fill='%237C69E5' d='M0 369h750V226.641h-.015c-23.445 0-35.167-5.911-46.888-11.822C691.378 208.909 679.66 203 656.225 203c-23.436 0-35.154 5.91-46.872 11.82-11.718 5.911-23.436 11.821-46.873 11.821-23.436 0-35.154-5.91-46.872-11.821-11.718-5.91-23.436-11.82-46.873-11.82-23.436 0-35.154 5.91-46.872 11.82-11.718 5.911-23.437 11.821-46.873 11.821-23.436 0-35.154-5.91-46.872-11.821C316.4 208.91 304.681 203 281.245 203c-23.436 0-35.154 5.91-46.872 11.82-11.719 5.911-23.437 11.821-46.873 11.821-23.434 0-35.149-5.909-46.864-11.819C128.919 208.911 117.2 203 93.755 203s-35.167 5.911-46.888 11.822C35.149 220.731 23.43 226.64 0 226.641V369Z'/%3E%3Cpath fill='%237361DA' d='M750 334c-23.29.039-34.974 5.916-46.658 11.793-11.722 5.896-23.444 11.793-46.888 11.793s-35.166-5.897-46.889-11.793C597.843 339.896 586.121 334 562.677 334s-35.166 5.896-46.889 11.793c-11.722 5.896-23.444 11.793-46.888 11.793s-35.166-5.897-46.889-11.793C410.289 339.896 398.567 334 375.123 334s-35.167 5.896-46.889 11.793c-11.722 5.896-23.444 11.793-46.888 11.793-23.443 0-35.161-5.896-46.88-11.792C222.744 339.897 211.022 334 187.569 334c-23.454 0-35.179 5.897-46.904 11.794-11.723 5.896-23.446 11.792-46.888 11.792-23.444 0-35.166-5.897-46.889-11.793C35.166 339.896 23.445 334 0 334v166h750V334Z'/%3E%3C/svg%3E");
			}
			&.bg_3{
				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='750' height='500' fill='none'%3E%3Cpath fill='%2378A6FF' d='M0 0h750v500H0z'/%3E%3Cpath fill='%23759FF2' d='M750 72c-23.29.039-34.974 5.916-46.658 11.793-11.722 5.896-23.444 11.793-46.888 11.793s-35.166-5.897-46.889-11.793C597.843 77.896 586.121 72 562.677 72s-35.166 5.897-46.889 11.793c-11.722 5.896-23.444 11.793-46.888 11.793s-35.166-5.897-46.889-11.793C410.289 77.896 398.567 72 375.123 72s-35.167 5.897-46.889 11.793c-11.722 5.896-23.444 11.793-46.888 11.793-23.443 0-35.161-5.896-46.88-11.792C222.744 77.897 211.022 72 187.569 72c-23.454 0-35.179 5.897-46.904 11.794-11.723 5.896-23.446 11.792-46.888 11.792-23.444 0-35.166-5.897-46.889-11.793C35.166 77.896 23.445 72 0 72v166h750V72Z'/%3E%3Cpath fill='%236D97E8' d='M0 369h750V226.641h-.015c-23.445 0-35.167-5.911-46.888-11.822C691.378 208.909 679.66 203 656.225 203c-23.436 0-35.154 5.91-46.872 11.82-11.718 5.911-23.436 11.821-46.873 11.821-23.436 0-35.154-5.91-46.872-11.821-11.718-5.91-23.436-11.82-46.873-11.82-23.436 0-35.154 5.91-46.872 11.82-11.718 5.911-23.437 11.821-46.873 11.821-23.436 0-35.154-5.91-46.872-11.821C316.4 208.91 304.681 203 281.245 203c-23.436 0-35.154 5.91-46.872 11.82-11.719 5.911-23.437 11.821-46.873 11.821-23.434 0-35.149-5.909-46.864-11.819C128.919 208.911 117.2 203 93.755 203s-35.167 5.911-46.888 11.822C35.149 220.731 23.43 226.64 0 226.641V369Z'/%3E%3Cpath fill='%23638BD8' d='M750 334c-23.29.039-34.974 5.916-46.658 11.793-11.722 5.896-23.444 11.793-46.888 11.793s-35.166-5.897-46.889-11.793C597.843 339.896 586.121 334 562.677 334s-35.166 5.896-46.889 11.793c-11.722 5.896-23.444 11.793-46.888 11.793s-35.166-5.897-46.889-11.793C410.289 339.896 398.567 334 375.123 334s-35.167 5.896-46.889 11.793c-11.722 5.896-23.444 11.793-46.888 11.793-23.443 0-35.161-5.896-46.88-11.792C222.744 339.897 211.022 334 187.569 334c-23.454 0-35.179 5.897-46.904 11.794-11.723 5.896-23.446 11.792-46.888 11.792-23.444 0-35.166-5.897-46.889-11.793C35.166 339.896 23.445 334 0 334v166h750V334Z'/%3E%3C/svg%3E");
			}
			&.bg_4{
				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='750' height='500' fill='none'%3E%3Cpath fill='%2300C770' d='M0 0h750v500H0z'/%3E%3Cpath fill='%2300BD6A' d='M750 72c-23.29.039-34.974 5.916-46.658 11.793-11.722 5.896-23.444 11.793-46.888 11.793s-35.166-5.897-46.889-11.793C597.843 77.896 586.121 72 562.677 72s-35.166 5.897-46.889 11.793c-11.722 5.896-23.444 11.793-46.888 11.793s-35.166-5.897-46.889-11.793C410.289 77.896 398.567 72 375.123 72s-35.167 5.897-46.889 11.793c-11.722 5.896-23.444 11.793-46.888 11.793-23.443 0-35.161-5.896-46.88-11.792C222.744 77.897 211.022 72 187.569 72c-23.454 0-35.179 5.897-46.904 11.794-11.723 5.896-23.446 11.792-46.888 11.792-23.444 0-35.166-5.897-46.889-11.793C35.166 77.896 23.445 72 0 72v166h750V72Z'/%3E%3Cpath fill='%2300B365' d='M0 369h750V226.641h-.015c-23.445 0-35.167-5.911-46.888-11.822C691.378 208.909 679.66 203 656.225 203c-23.436 0-35.154 5.91-46.872 11.82-11.718 5.911-23.436 11.821-46.873 11.821-23.436 0-35.154-5.91-46.872-11.821-11.718-5.91-23.436-11.82-46.873-11.82-23.436 0-35.154 5.91-46.872 11.82-11.718 5.911-23.437 11.821-46.873 11.821-23.436 0-35.154-5.91-46.872-11.821C316.4 208.91 304.681 203 281.245 203c-23.436 0-35.154 5.91-46.872 11.82-11.719 5.911-23.437 11.821-46.873 11.821-23.434 0-35.149-5.909-46.864-11.819C128.919 208.911 117.2 203 93.755 203s-35.167 5.911-46.888 11.822C35.149 220.731 23.43 226.64 0 226.641V369Z'/%3E%3Cpath fill='%2300A95F' d='M750 334c-23.29.039-34.974 5.916-46.658 11.793-11.722 5.896-23.444 11.793-46.888 11.793s-35.166-5.897-46.889-11.793C597.843 339.896 586.121 334 562.677 334s-35.166 5.896-46.889 11.793c-11.722 5.896-23.444 11.793-46.888 11.793s-35.166-5.897-46.889-11.793C410.289 339.896 398.567 334 375.123 334s-35.167 5.896-46.889 11.793c-11.722 5.896-23.444 11.793-46.888 11.793-23.443 0-35.161-5.896-46.88-11.792C222.744 339.897 211.022 334 187.569 334c-23.454 0-35.179 5.897-46.904 11.794-11.723 5.896-23.446 11.792-46.888 11.792-23.444 0-35.166-5.897-46.889-11.793C35.166 339.896 23.445 334 0 334v166h750V334Z'/%3E%3C/svg%3E");
			}
			&.bg_0{
				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='750' height='500' fill='none'%3E%3Cpath fill='%23FF6900' d='M0 0h750v500H0z'/%3E%3Cpath fill='%23F36400' d='M750 72c-23.29.039-34.974 5.916-46.658 11.793-11.722 5.896-23.444 11.793-46.888 11.793s-35.166-5.897-46.889-11.793C597.843 77.896 586.121 72 562.677 72s-35.166 5.897-46.889 11.793c-11.722 5.896-23.444 11.793-46.888 11.793s-35.166-5.897-46.889-11.793C410.289 77.896 398.567 72 375.123 72s-35.167 5.897-46.889 11.793c-11.722 5.896-23.444 11.793-46.888 11.793-23.443 0-35.161-5.896-46.88-11.792C222.744 77.897 211.022 72 187.569 72c-23.454 0-35.179 5.897-46.904 11.794-11.723 5.896-23.446 11.792-46.888 11.792-23.444 0-35.166-5.897-46.889-11.793C35.166 77.896 23.445 72 0 72v166h750V72Z'/%3E%3Cpath fill='%23E75F00' d='M0 369h750V226.641h-.015c-23.445 0-35.167-5.911-46.888-11.822C691.378 208.909 679.66 203 656.225 203c-23.436 0-35.154 5.91-46.872 11.82-11.718 5.911-23.436 11.821-46.873 11.821-23.436 0-35.154-5.91-46.872-11.821-11.718-5.91-23.436-11.82-46.873-11.82-23.436 0-35.154 5.91-46.872 11.82-11.718 5.911-23.437 11.821-46.873 11.821-23.436 0-35.154-5.91-46.872-11.821C316.4 208.91 304.681 203 281.245 203c-23.436 0-35.154 5.91-46.872 11.82-11.719 5.911-23.437 11.821-46.873 11.821-23.434 0-35.149-5.909-46.864-11.819C128.919 208.911 117.2 203 93.755 203s-35.167 5.911-46.888 11.822C35.149 220.731 23.43 226.64 0 226.641V369Z'/%3E%3Cpath fill='%23DC5A00' d='M750 334c-23.29.039-34.974 5.916-46.658 11.793-11.722 5.896-23.444 11.793-46.888 11.793s-35.166-5.897-46.889-11.793C597.843 339.896 586.121 334 562.677 334s-35.166 5.896-46.889 11.793c-11.722 5.896-23.444 11.793-46.888 11.793s-35.166-5.897-46.889-11.793C410.289 339.896 398.567 334 375.123 334s-35.167 5.896-46.889 11.793c-11.722 5.896-23.444 11.793-46.888 11.793-23.443 0-35.161-5.896-46.88-11.792C222.744 339.897 211.022 334 187.569 334c-23.454 0-35.179 5.897-46.904 11.794-11.723 5.896-23.446 11.792-46.888 11.792-23.444 0-35.166-5.897-46.889-11.793C35.166 339.896 23.445 334 0 334v166h750V334Z'/%3E%3C/svg%3E");
			}
			&.custom{
				background-size: cover;
				background-position: center center;	
			}
		}
		.date{
			font-size: 14px;
			margin-top: 15px;
			margin-bottom: 5px;
			padding: 0 3px;
		}
		h3{
			margin-bottom: 15px;
			padding: 0 3px;
			a{
				text-decoration: none;
				color: inherit;
			}
		}
	}
}


/** SPECIAL INSTALLATION PAGE **/

body.installation{
	main .wrap, main .wrap #main_content_wrap{
		max-width: 100%;
	}
	h1{
		font-size: 140%;
		font-weight: normal;
		margin-bottom: 50px;
	}
	h2{
		font-size: 110%;
		font-weight: normal;
		margin-bottom: 7px;
		-webkit-user-select: none;
		   -moz-user-select: none;
			-ms-user-select: none;
				user-select: none;
	}
	.yourselection{
		background-color: $black50;
		position: relative;
		border: 1px solid $black200;
		border-radius: 15px;
		margin-top: 25px;
		.select.hide {
			display: none;
		}
		.select li.inactive {
			opacity: 0.4;
			pointer-events: none;
		}
	}
	.wrap{
		margin-bottom: 100px;
	}
	.select{
		display: flex;
		border-bottom: 1px solid $black200;
		padding: 25px 20px;
		h3{
			font-size: 17px!important;
			font-weight: 600!important;
			width: 162px;
			flex-shrink: 0;
			margin: 0!important;
			letter-spacing: -0.17px;
			padding-top: 8px;
		}
		ul{
			padding: 0;
			margin: 0;
			list-style: none;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			flex-wrap: wrap;
			pointer-events: all;
			gap: 5px;
			align-items: center;
			li{
				line-height: 1;
				display: block;
				white-space: nowrap;
				padding: 8px 14px;
				background-color: $black200;
				border-radius: 50px;
				font-weight: 500;
				font-size: 14px;
				cursor: pointer;
				transition: background-color .2s;
				user-select: none;
				span.versioninfo{
					color: darken($duckDBlightgrey,40);
				}
			&:hover{
				background-color: darken($duckDBlightgrey,10);
				}
			&.selected{
				 background-color: black;
				 color: white;
				}
			}
		}
		&.inactive{
			opacity: .4;
			pointer-events: none;
		}
		&.inactive ul{
			pointer-events: none;
		}
	}
	.output{
		display: flex;
		padding: 25px 20px;
		position: relative;
		h3{
			font-size: 17px!important;
			font-weight: 600!important;
			width: 162px;
			flex-shrink: 0;
			margin: 0!important;
			letter-spacing: -0.17px;
			padding-top: 8px;
		}
		.result{
			font-family: $fontMono;
			background-color: #f5f5f5;
			min-height: 100px;
			padding: 12px 12px 14px 14px;
			border-radius: 10px;
			border: 1px solid $black200;
			font-size: 14px;
			position: relative;
			width: calc(100% - 162px);
			pre{
				padding: 0;
				margin: 0;
			}
			a{
				word-wrap: break-word;
				word-break: break-word;
			}
			a.externallink{
				line-height: 1.6;
			}
		}
	}
	.possibleresults{
		display: none;
	}
	.wrap a.sha512{
		border-radius: 50px;
		background-color: $black300;
		border: 1px solid $black400;
		text-decoration: none;
		padding: 0px 7px;
		transition: background-color .3s, border-color 3s;
		&:hover{
			color: black;
			background-color: darken($black300, 4%);
			border: 1px solid darken($black400, 4%);
		}
	}
}


/** GENERATED HTML FIXES FOR DOCUMENTATION **/
div.bodywrapper{
	dl dt{
		font-family: $fontMonoBold;
		font-weight: normal;
		a.headerlink{
			opacity: 0;
			transition: opacity .3s;
			padding-left: 4px;
		}
		.sig-prename,
		.property span.pre{
			font-family: $fontMono;
		}
	}
	dl{
		p{
			margin-top: 4px;
			margin-bottom: 30px;
			padding-left: 0;
			font-style: normal;
		}
		dd{
			padding-left: 0;
		}
	}
	dl dd,
	em.sig-param{
		font-style: normal;
		.n{
			font-weight: normal;
			font-family: $fontMono;
		}
	}
	a.reference.internal{
		text-decoration: none;
	}
	dt.sig-object{
		background-color: whitesmoke;
		border-radius: 7px;
		padding: 2px 5px 2px 5px;
		display: inline-block;
		&:hover{
			a.headerlink{
				opacity: 1;
			}
		}
	}
}

body.tmguidelines{
	h1, h2{
		font-size: 24px;
		a{
			color: inherit;
		}
	}
	p + h2{
		margin-top: 60px;
	}
	#main_content_wrap{
		padding-bottom: 80px;	
	}
}

@import url(copy_button.css);
@import url(search.css);
@import url(home.css?add4c80a);
