---
---

@media only screen and (min-width: 1680px) {
	body.documentation main .wrap {
		width: calc(100% - 350px);
		margin-left: 350px;
	}

	.sidenavigation {
		width: 350px;
	}
}

@media only screen and (max-width: 1200px) {

	main .wrap,
	body.landing .welcome .mainlinks ul {
		max-width: 800px;
	}

	body.landing .welcome .mainlinks ul li {
		min-width: 160px;
	}

	.searchoverlay>div .shortcuts {
		display: none;
	}
}

@media only screen and (max-width: 980px) {
	.newswrap .postwrap {
		position: relative;
	}

	.singleentry div.highlight,
	body.installation .output .result {
		width: 100%;
	}

	body.installation .output,
	body.installation .select {
		padding: 15px 10px;
		flex-wrap: wrap;

		h3 {
			width: 100%;
			padding: 0 0 15px 0;
		}
	}

	body.installation .yourselection>.select:first-child {
		padding-top: 20px;
	}

	body.installation .select .info {
		margin-left: 0;
	}

	body.installation .select ul {
		width: 100%;
		gap: 8px;
	}

	body.installation .output .result {
		overflow: auto;
	}

	footer .sitefooter .footercontent {
		flex-wrap: wrap;
		justify-content: space-between;
		column-gap: 40px;
	}

	.singleentry table {
		margin: 0;
	}

	section.upcoming-events .postpreview,
	section.blog .postpreview,
	.post-list .newstiles .postpreview {
		width: calc(50% - 10px);

		.postdetails {
			padding: 20px;
		}
	}
}

@media only screen and (max-width: 860px) {

	main .wrap,
	body.landing .welcome .mainlinks ul {
		max-width: auto;
		width: 100%;
	}

	br.break {
		display: none;
	}

	nobr.break {
		display: inline-flex;
		margin-right: 5px;
	}

	a.externallink {
		margin-right: 0;
	}

	body.landing .welcome .mainlinks ul li {
		min-width: 160px;
	}

	.wrap.whyduckdb div.flex,
	body.documentation main .wrap.whyduckdb #main_content_wrap,
	.wrap.whyduckdb article {
		display: block;
		width: 100%;
	}

	.wrap.whyduckdb .footnotes.mobilesups {
		margin-left: 0;
		margin-top: 50px;
		width: 90%;
		border-top: 1px solid #ebebeb;

		div.sup {
			position: relative;
			margin-top: 20px;
		}
	}

	.newswrap .sidebar {
		display: none;
	}

	body.landing .stickerbanner>div:nth-child(2) {
		text-align: right;
	}

	body.documentation .headlinebar {
		>div.improvethispage {
			display: none;
		}

		.breadcrumbs {
			width: 100%;
			order: 2;
		}

		div.versionselect {
			width: 100%;
			position: relative;
			height: 42px;
		}

		div.version {
			position: absolute;
			top: 0;
			left: 0;
			order: 1;

			>div:first-child {
				position: relative;
			}

			span.arrow {
				top: 5px;
			}
		}

		.title {
			order: 3;
			margin-top: 5px;
		}
	}
}

@media only screen and (max-width: 780px) {
	footer .sitefooter .footercontent>div:first-child {
		width: 100%;
		margin-bottom: 30px;
	}

	header .headerline .headercontent .landingmenu nav .starcount {
		display: none;
	}
}

@media only screen and (max-width: 700px) {
	body.landing .welcome .mainlinks ul li {
		min-width: 160px;
	}

	.environmentselect.onlymobile,
	body.landing label.onlymobile {
		display: block;
	}

	body.landing .install .environment {
		display: none;
	}

	body.landing .install p {
		margin-bottom: 25px;
	}
}

@media only screen and (max-width: 660px) {

	.hamburger,
	nav.mobile .hamburger {
		display: flex !important;
	}

	.notonmobile {
		display: none;
	}

	.onlymobile {
		display: block;
	}

	p.system {
		display: inline-grid;
	}

	body.landing .install .result+p span {
		margin-left: 0;
	}

	footer .sitefooter .footercontent,
	header .headerline .headercontent {
		max-width: calc(100% - 30px);
	}

	footer .sitefooter .footercontent {
		padding: 45px 0;
	}

	header .headerline .headercontent .landingmenu nav:not(.mobile) {
		display: block;
		position: fixed;
		top: 70px;
		right: -100%;
		width: 75%;
		height: 100%;
		background: rgba(9, 9, 9, 0.85);
		backdrop-filter: blur(5px);
		border: 1px solid #393939;
		border-top: 0;
		border-radius: 0 0 15px 15px;
		pointer-events: none;
		transition: all 0.3s;

		&.slidein {
			pointer-events: all;
			right: 0;
		}

		div {
			line-height: 20px;
		}

		a {
			color: #fff;
			line-height: 3;
		}
	}

	header .headerline .headercontent .landingmenu {
		display: flex;
		align-items: center;
		position: relative;

		nav .hasSub+ul {
			position: relative;
			display: none;
		}

		nav .hasSub:hover~ul {
			display: none;
		}

		nav .hasSub a::after {
			display: none;
		}

		nav>div:last-of-type {
			margin-left: 20px;
		}
	}

	body.landing .welcome .mainlinks ul,
	body.landing .benefits .mainlinks ul {
		max-width: 80%;
		display: block;
	}

	.pagehead h1 {
		font-size: 35px;
		padding: 50px 15px;
	}
	
	.newswrap .postwrap .postcontent .recentposts h1{
		font-size: 35px;
	}

	main.f-md .pagehead+.wrap {
		padding: 50px 15px;
	}

	body.landing .welcome h1 {
		font-size: 200%;
	}

	body.landing .benefits h1 {
		font-size: 145%;
	}

	body.landing .welcome .mainlinks ul li,
	body.landing .boxlayout .box {
		margin-bottom: 40px;
		width: 100%;
	}

	body.landing .boxlayout .box div:nth-child(2) {
		width: calc(100% - 100px);
	}

	body.landing .using .box div:not(.icon) {
		padding-right: 0;
		width: calc(100% - 85px);
	}

	body.landing .docu .boxlayout .box:first-child {
		padding-right: 0;
	}

	body.landing .using .box {
		margin-bottom: 50px;

		&:nth-child(2) {
			margin-bottom: 0;
		}

		div.icon {
			font-size: 75px;
			width: 85px;
		}
	}

	body.landing .docu .boxlayout .box .button {
		width: 100%;
	}

	body.landing .newsblog .newstileswrap .postpreview {
		width: 100%;
		margin-bottom: 50px;
	}

	.newswrap .headlinebar {
		padding-left: 15px;
	}

	body.documentation header .headerline .headercontent .landingmenu nav.mobile {
		display: flex;

		>div:last-of-type {
			display: block;
		}
	}

	body.documentation main .wrap {
		padding: 15px;
		width: 100%;
		margin-left: 0;
		transition: opacity 0.5s;

		&.inactive {
			opacity: 0.4;
		}

		.limit-width {
			width: 108%;
		}
	}

	body.documentation .sidenavigation {
		position: fixed;
		right: 0;
		width: 75%;
		transform: translateX(100%);
		transition: transform 0.5s;
		padding-top: 14px;

		&.slidein {
			transform: translateX(0);
		}

		.opensearch {
			display: none;
		}
	}

	body.documentation {
		header .headerline .headercontent .landingmenu nav {
			display: none;
		}

		table {
			border: 0;
		}
	}

	body.landing .stickerbanner {
		flex-wrap: wrap;

		>div {
			width: 100%;

			&:nth-child(2) {
				display: none;
			}
		}
	}

	footer .sitefooter .footercontent {
		column-gap: 0;

		>div {
			width: 180px;
			margin-bottom: 30px;

			&:first-child {
				width: 100%;
			}
		}
	}

	body.landing footer .sitefooter .footercontent .footernavigation,
	.sitefooter .footercontent .footernavigation {
		column-gap: 30px;
		row-gap: 40px;
		flex-wrap: wrap;

		>div {
			width: calc(50% - 15px);
		}

		a {
			line-height: 1.5;
		}
	}

	section.blog .postpreview,
	section.upcoming-events .postpreview,
	.post-list .newstiles .postpreview,
	.newswrap .postwrap .postcontent .recentposts .postpreview {
		width: 100%;
		margin-bottom: 10px;

		.meta {
			font-size: 11.5px;
		}

		.postdetails .tags span {
			font-size: 11px;
		}
	}
	.newswrap .postwrap .postcontent .recentposts{
		padding: 50px 15px;
	}
	.pagetitle {
		padding: 35px 0;
	}
}

@media only screen and (max-height: 840px) {

}

@media only screen and (max-width: 580px) {
	footer .sitefooter .footercontent>div {
		width: 50%;
	}

	footer .sitefooter .footercontent .linktoduckdblabs .button,
	footer .sitefooter .footercontent .gitbutton {
		width: 170px;
	}
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
	body.landing section {
		padding: 50px 15px;
	}

	body.landing .boxlayout .box:last-child {
		margin-bottom: 0;
	}

	body.landing .whyduckdb .boxlayout .box div.icon {
		width: 110px;
		height: 110px;
	}

	body.landing .install .result+p {
		margin-bottom: 0;
	}

	body.landing .welcome .mainlinks ul {
		margin-top: 60px;
	}

	.newswrap .postwrap .singleentry {
		h1 {
			font-size: 30px;
			line-height: 34px;
		}

		h2 {
			font-size: 28px;
			line-height: 30px;
		}
	}

	footer .sitefooter .footercontent>div {
		width: 100%;
	}

	body.installation .select ul li span.versioninfo {
		display: none;
	}

	body.installation .output .result a {
		word-break: break-word;
	}

	.pagemeta {
		flex-wrap: wrap;

		>div {
			width: 100%;
		}

		>div:first-child {
			margin-bottom: 0.8em;
		}
	}
}
