/* Error: expected selector.
 *   ,
 * 2 | ---
 *   |    ^
 *   '
 *   /Volumes/Macintosh HD/Users/maxwo/Git/duckdb-web/css/mobilestyles.scss 2:4  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: expected selector.\a   \2577 \a 2 \2502  ---\a   \2502     ^\a   \2575 \a   /Volumes/Macintosh HD/Users/maxwo/Git/duckdb-web/css/mobilestyles.scss 2:4  root stylesheet";
}
