---
---

@use 'variables' as *;

/** ADDITIONAL CSS FOR 404 PAGE **/

body.notfound{
	font-size: $fontSizep;
	main * .wrap{
		max-width: $maxContentWidth;
	}
	main > .wrap{
		max-width: unset;
	}
	/** GENERAL NEW STYLES **/
	h1{
		font-size: $fontSizeh1;
		font-weight: 500;
		line-height: 1;
		margin: 0;
	}
	section{
		padding: 105px 15px;
		div p:last-of-type{
			margin-bottom: 25px;
		}
	}
	
	
	section.quickaccess{
		.flexwrap{
			-webkit-box-pack: justify;
				-ms-flex-pack: justify;
					justify-content: space-between;
			-ms-flex-wrap: wrap;
				flex-wrap: wrap; 
			margin-top: 70px;
			row-gap: 20px;
			> a{
				display: block;
				width: calc(33.33% - 14px);
				text-decoration: none; 
				color: inherit; 
				p{
					text-decoration: none; 
					color: inherit; 
					font-size: $fontSizeh4;
					font-weight: 500;
				}
				@media only screen and (max-width: 700px) {
					width: 100%;
				}
			}
			.guides{
				.icon{
					background-image: url("data:image/svg+xml,%3Csvg width='367' height='217' viewBox='0 0 367 217' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_2957_1890)'%3E%3Cpath d='M367 0H1.15398e-05L66 1.15398e-05L0 66L1.15398e-05 217H367V0Z' fill='%23FF6900'/%3E%3Cpath d='M66 51C66 59.2843 59.2843 66 51 66L7.62939e-06 66L66 -7.62939e-06L66 51Z' fill='%23DC5A00'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_2957_1890'%3E%3Crect width='367' height='217' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
					background-size: cover;
					border-radius: 15px;
					aspect-ratio: 16/9;
					width: 100%;
					background-position: center center; 
				}
			}
			.documentation{
				.icon{
					background-image: url("data:image/svg+xml,%3Csvg width='367' height='217' viewBox='0 0 367 217' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='367' height='217' fill='%23ECDC00'/%3E%3Crect x='30' y='30' width='307' height='39' rx='19.5' fill='%23FFF100'/%3E%3Crect x='30' y='89' width='307' height='39' rx='19.5' fill='%23FFF100'/%3E%3Crect x='30' y='148' width='307' height='39' rx='19.5' fill='%23FFF100'/%3E%3C/svg%3E%0A");
					background-size: cover;
					border-radius: 15px;
					aspect-ratio: 16/9;
					width: 100%;
					background-position: center center; 
				}
			}
			.development{
				.icon{
					background-image: url("data:image/svg+xml,%3Csvg width='367' height='217' viewBox='0 0 367 217' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_2957_1909)'%3E%3Crect width='367' height='217' fill='%2300C770'/%3E%3Cpath d='M102.556 286C94.9953 286 88.6163 280.373 87.6733 272.871L86.0317 259.811C85.4838 255.452 82.4927 251.883 78.7325 249.611C74.9832 247.345 70.39 246.742 66.348 248.431L53.8831 253.639C46.9404 256.54 38.9229 253.848 35.1371 247.346L19.7036 220.837C15.8799 214.269 17.5723 205.879 23.6433 201.307L37.105 191.17C38.8427 189.861 39.661 187.709 39.661 185.534V178.526C39.661 176.351 38.8427 174.199 37.105 172.891L23.6433 162.753C17.5723 158.181 15.8799 149.792 19.7036 143.224L35.1371 116.715C38.9229 110.212 46.9404 107.52 53.8831 110.421L66.2423 115.585C70.351 117.302 75.0166 116.684 78.8684 114.45C82.6178 112.275 85.4754 108.675 86.016 104.375L87.6733 91.1898C88.6163 83.6879 94.9953 78.0605 102.556 78.0605H133.595C141.156 78.0605 147.535 83.6879 148.478 91.1897L150.12 104.249C150.668 108.608 153.659 112.178 157.419 114.45C161.168 116.715 165.762 117.318 169.804 115.629L182.268 110.421C189.211 107.52 197.229 110.212 201.014 116.715L216.448 143.224C220.272 149.792 218.579 158.181 212.508 162.753L199.046 172.891C197.309 174.199 196.491 176.351 196.491 178.526V185.534C196.491 187.681 197.1 189.901 198.815 191.192L212.247 201.307C218.318 205.879 220.01 214.269 216.186 220.837L200.773 247.311C196.979 253.829 188.935 256.516 181.985 253.587L169.901 248.495C165.799 246.767 161.133 247.377 157.283 249.611C153.534 251.786 150.676 255.385 150.136 259.686L148.478 272.871C147.535 280.373 141.156 286 133.595 286H102.556ZM118.599 218.42C128.705 218.42 137.331 214.867 144.475 207.763C151.62 200.658 155.192 192.081 155.192 182.03C155.192 171.98 151.62 163.402 144.475 156.298C137.331 149.193 128.705 145.641 118.599 145.641C108.317 145.641 99.6466 149.193 92.5858 156.298C85.5249 163.402 81.998 171.98 82.005 182.03C82.005 192.081 85.5319 200.658 92.5858 207.763C99.6396 214.867 108.311 218.42 118.599 218.42Z' fill='%2300A95F'/%3E%3Cpath d='M233.071 128.939C225.51 128.939 219.131 123.312 218.188 115.81L216.546 102.751C215.998 98.3915 213.007 94.8221 209.247 92.55C205.498 90.2845 200.905 89.6817 196.863 91.3706L184.398 96.5787C177.455 99.4796 169.438 96.7879 165.652 90.2853L150.218 63.7762C146.395 57.2083 148.087 48.8185 154.158 44.2467L167.62 34.1093C169.357 32.8007 170.176 30.6488 170.176 28.4735V21.4659C170.176 19.2906 169.357 17.1387 167.62 15.8301L154.158 5.69268C148.087 1.12089 146.395 -7.26891 150.218 -13.8368L165.652 -40.3459C169.438 -46.8485 177.455 -49.5401 184.398 -46.6393L196.757 -41.4753C200.866 -39.7586 205.531 -40.3763 209.383 -42.6106C213.132 -44.7855 215.99 -48.3852 216.531 -52.6859L218.188 -65.8708C219.131 -73.3727 225.51 -79 233.071 -79H264.11C271.671 -79 278.05 -73.3727 278.993 -65.8708L280.635 -52.8112C281.182 -48.4521 284.174 -44.8827 287.934 -42.6106C291.683 -40.3451 296.276 -39.7423 300.318 -41.4312L312.783 -46.6393C319.726 -49.5401 327.743 -46.8485 331.529 -40.3459L346.963 -13.8368C350.786 -7.2689 349.094 1.12089 343.023 5.69269L329.561 15.8301C327.824 17.1387 327.005 19.2906 327.005 21.4659V28.4735C327.005 30.6204 327.615 32.8405 329.33 34.1319L342.762 44.2467C348.833 48.8185 350.525 57.2083 346.701 63.7762L331.288 90.2508C327.493 96.7682 319.45 99.4551 312.5 96.5267L300.416 91.4347C296.314 89.7064 291.648 90.3167 287.798 92.55C284.048 94.725 281.191 98.3246 280.65 102.625L278.993 115.81C278.05 123.312 271.671 128.939 264.11 128.939H233.071ZM249.113 61.3591C259.22 61.3591 267.846 57.8068 274.99 50.7022C282.135 43.5976 285.707 35.0201 285.707 24.9697C285.707 14.9193 282.135 6.3418 274.99 -0.762802C267.846 -7.86739 259.22 -11.4197 249.113 -11.4197C238.832 -11.4197 230.161 -7.86739 223.1 -0.762802C216.04 6.3418 212.513 14.9193 212.52 24.9697C212.52 35.0201 216.047 43.5976 223.1 50.7022C230.154 57.8068 238.825 61.3591 249.113 61.3591Z' fill='%2300B365'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_2957_1909'%3E%3Crect width='367' height='217' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
					background-size: cover;
					border-radius: 15px;
					aspect-ratio: 16/9;
					width: 100%;
					background-position: center center; 
				}
			}
		}
	}
	
}

@media only screen and (max-width: 650px) {
	body.notfound{
		font-size: 16px;
		h1{
			font-size: 35px;
		}
		section{
			padding: 50px 15px;
		}
	}
}