---
---

body.search{
	height: 100vh;
	overflow: hidden;
}

.searchoverlay{
	opacity: 0;
	pointer-events: none;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100vh;
	z-index: 9001;
	background-color: rgba(0, 0, 0, 0.6);
	transition: opacity .4s;
	&.active{
		opacity: 1;
		pointer-events: all;
	}
	>div{
		position: relative;
		top: 53px;
		left: 252px;
		width: calc(100% - 252px);
		height: calc(100% - 53px);
		background-color: #F3F3F3;
		box-sizing: border-box;
		padding: 25px 40px 40px 40px;
		overflow-y: scroll;
		form{
			padding: 0;
			background: transparent;
			input{
				border: 1px solid #D3D3D3;
				width: 720px;
				font-family: "SuisseIntl-Book", Helvetica, Arial, sans-serif;
				padding-left: 45px;
				background: url("data:image/svg+xml,%3Csvg id='Ebene_1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 18.71 17.73'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:none;stroke:%234b4b4b;stroke-width:2px%7D%3C/style%3E%3C/defs%3E%3Cpath class='cls-1' d='M12.95 11.97 18 17.02'/%3E%3Ccircle class='cls-1' cx='7.62' cy='7.62' r='6.62'/%3E%3C/svg%3E") no-repeat scroll 10px 12px;
				background-size: 20px;
				background-color: white;
				&::placeholder{
					color: #BEBEBE;
				}
				&:active, &:focus{
					border: 1px solid #D3D3D3;
					outline: 0;
				}
			}
			.empty_input{
				background-image: url("data:image/svg+xml,%3Csvg width='13' height='13' viewBox='0 0 13 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13 11.757 7.727 6.5 13 1.243 11.731 0 6.486 5.257 1.24 0 0 1.243 5.245 6.5 0 11.757 1.24 13l5.246-5.257L11.73 13 13 11.757Z' fill='%23000'/%3E%3C/svg%3E");
				background-size: contain;
				width: 14px;
				height: 14px;
				position: absolute;
				right: 13px;
				top: 15px;
				cursor: pointer;
			}
		}
		.shortcuts{
			position: fixed;
			bottom: 20px;
			right: 20px;
			color: #B4B4B4;
			font-size: 14px;
			span{
				background: white;
				border-radius: 50px;
				padding: 2px 8px;
			}
		}
		#search_results{
			h2{
				font-size: 16px;
				margin-top: 0;
				text-decoration: underline;
			}
			.search_result{
				max-width: 720px;
				width: 100%;
				margin: 0;
				padding: 20px 5px;
				border-bottom: 1px solid #D0D0D0;
				position: relative;
				&.selected{
					background: #e6e6e6;
				}
				>a{
					display: block;
					width: 100%;
					height: 100%;
					position: absolute;
					z-index: 400;
					top: 0;
					left: 0;
					&:hover{
						background: #00000005;
					}
				}
			}
			.search_category{
				background-color: #E1E1E1;
				font-size: 12px;
				padding: 2px 8px;
				margin-top: 10px;
				display: inline-block;	
			}
		}
	}
}

.autocomplete {
	/*the container must be positioned relative:*/
	position: relative;
	display: inline-block;
}
input {
	border: 1px solid;
	background-color: #f1f1f1;
	padding: 10px;
	font-size: 16px;
}
input[type=text] {
	background-color: #f1f1f1;
	width: 100%;
  }
input[type=submit] {
	background-color: DodgerBlue;
	color: #fff;
}
.autocomplete-items {
	/* relative position does not cover up the search results */
	position: relative;
	border: 1px solid #d4d4d4;
	border-bottom: none;
	border-top: none;
	z-index: 99;
	/*position the autocomplete items to be the same width as the container:*/
	top: 100%;
	left: 0;
	right: 0;
}
.autocomplete-items div {
	padding: 10px;
	cursor: pointer;
	background-color: #fff;
	border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
	/*when hovering an item:*/
	background-color: #e9e9e9;
}
.autocomplete-active {
	/*when navigating through the items using the arrow keys:*/
	background-color: #fff100 !important;
	color: black;
}