---
---

@import 'variables';

/* SYNTAX HIGHLIGHTING COLORS */

// comments
:is(.c, .ch, .cm, .cp, .cpf, .cs, .c1){
	color: #a0a1a7;
	font-family: $fontMonoItalic;
}

// keywords
.highlight, .highlighter-rouge :is(.k, .kc, .kd, .kn, .kr, .kt, .kv){
	color: #0098dd;
	font-family: $fontMonoBold;
}

// properties
.highlight, .highlighter-rouge :is(.py) {
	color: #976F4D;
}

// numbers
.highlight, .highlighter-rouge :is(.m, .mf, .mh, .mi, .mo, .il){
	color: #ce33c0;
}

// foreground
.highlight, .highlighter-rouge :is(.g, .l, .no, .nd, .nx, .w, .nn, .n, .vg){
	color: #383a42;
}

// type names
.highlight, .highlighter-rouge :is(.nb, .bp, .vcb){
	color: #0098dd;
	font-family: $fontMonoBold;
}

// functions
.highlight, .highlighter-rouge :is(.nf, .na, .nt){
	color: #23974a;
	font-family: $fontMonoBold;
}

body.documentation .highlight, .highlighter-rouge code a{
	text-decoration-color: #23974a;
	text-underline-offset: .05em;
	text-underline-offset: 0.17em;
}

// class names
.highlight, .highlighter-rouge :is(.nc, .nv){
	color: #d52753;
}

// punctuation
.highlight, .highlighter-rouge :is(.p, .x){
	color: #7a82da;
}

// operators
.highlight, .highlighter-rouge :is(.o, .ow){
	color: #7a82da
}

// strings
.highlight, .highlighter-rouge :is(.ld, .s, .sb, .sc, .sd, .s2, .se, .sh, .si, .sx, .sr, .s1, .ss, .dl, .nl){
	color: #c5a332;
}

.language-bash code:before {
	content: '$ ';
}

.language-plsql code:before {
	content: 'D ';
}

// keywords in table headers
th .k {
	color: #fff;
	font-family: $fontMonoBold;
}

// background
.highlight, .highlighter-rouge {
	background-color: $black50;
}

// ??
.highlight, .highlighter-rouge :is(.gh, .gp){
}

.landing .highlight{
	background: transparent;
}

.landing .highlight, .landing .highlighter-rouge :is(.n, .vg){
	color: #fff;
}

.landing .highlight, .landing .highlighter-rouge :is(.g, .l, .no, .nd, .nx, .py, .w, .nn){
	color: #aaaaaa;
}

.landing .highlight, .landing .highlighter-rouge :is(.py){
	color: #976F4D;
}

.landing .dark .highlight{
	background-color: transparent;
}

html.darkmode, 
.dark{
	// comments
	.highlight, .highlighter-rouge :is(.c, .ch, .cm, .cp, .cpf, .cs, .c1){
		color: #636d83;
		font-family: $fontMonoItalic;
	}
	
	// keywords
	.highlight, .highlighter-rouge :is(.k, .kc, .kd, .kn, .kr, .kt, .kv){
		color: #10b1fe;
		font-family: $fontMonoBold;
	}

	// properties
	.highlight, .highlighter-rouge :is(.py){
		color: #BA9678;
	}

	// numbers
	.highlight, .highlighter-rouge :is(.m, .mf, .mh, .mi, .mo, .il){
		color: #ff78f8;
	}
	
	// foreground
	.highlight, .highlighter-rouge :is(.g, .l, .no, .nd, .nx, .w, .nn, .n, .vg){
		color: $black300;
	}
	
	// type names
	.highlight, .highlighter-rouge :is(.nb, .bp, .vcb){
		color: #0098dd;
		font-family: $fontMonoBold;
	}
	
	// functions
	.highlight, .highlighter-rouge :is(.nf, .na, .nt){
		color: #3fc56b;
		font-family: $fontMonoBold;
	}
	
	// class names
	.highlight, .highlighter-rouge :is(.nc, .nv){
		color: #ff6480;
	}
	
	// punctuation
	.highlight, .highlighter-rouge :is(.p, .x){
		color: #7a82da;
	}
	
	// operators
	.highlight, .highlighter-rouge :is(.o, .ow){
		color: #7a82da
	}
	
	// strings
	.highlight, .highlighter-rouge :is(.ld, .s, .sb, .sc, .sd, .s2, .se, .sh, .si, .sx, .sr, .s1, .ss, .dl, .nl){
		color: #f9c859;
	}
	
	// keywords in table headers
	th .k {
		color: #fff;
		font-family: $fontMonoBold;
	}
	
	// background
	.highlight, .highlighter-rouge {
		background-color :#282c34;
	}
	
	// ??
	.highlight, .highlighter-rouge :is(.gh, .gp){
	}
	
}
