---
layout: default
title: An in-process SQL OLAP database management system
subtitle: An In-Process Analytical Database
description: DuckDB is an in-process SQL OLAP database management system. Simple, feature-rich, fast & open source.
body_class: landing nowrap
---

<div class="dummy">
</div>

<section class="welcome">
	<div class="flexwrap wrap">
		<div class="duckdb">
			<h1>DuckDB is a fast <nobr>in-process</nobr> analytical database</h1>
			<p>It is an in-process SQL analytical database management system with integrations to 10+ programming languages</p>
			<a class="button transparent arrow-down dark" href="#quickinstall">Installation</a>
			<a class="button yellow" href="/docs/archive/{{ site.currentduckdbversion }}/">Documentation</a>
		</div>
		<div class="demo window">
			<div>
				<div class="topbar">
					<ul class="lang">
						<li data-language="python" class="active">Python</li>
						<li data-language="r">R</li>
						<li data-language="nodejs">NodeJS</li>
						<li data-language="java">Java</li>
						<li data-language="rust">Rust</li>
					</ul>
				</div>
				<div class="content haslines">
					<div class="lines"></div>
						<div class="code dark">
{% highlight sql %}
-- LANGUAGE: PYTHON, EXAMPLE: JOIN QUERY
-- set the memory limit of the system to 10GB
SET memory_limit='10GB';
-- configure the system to use 1 thread
SET threads TO 1;
-- enable printing of a progress bar during long-running queries
SET enable_progress_bar=true;
-- set the default null order to NULLS LAST
PRAGMA default_null_order='nulls_last';

-- show a list of all available settings
SELECT * FROM duckdb_settings();

-- return the current value of a specific setting
-- this example returns 'automatic'
SELECT current_setting('access_mode');

-- reset the memory limit of the system back to the default
RESET memory_limit;
{% endhighlight %}
						</div>
				</div>
				<div class="bottombar flexwrap">
					<div class="select">
						<select id="example-select">
							<option value="join-query">Join query</option>
							<option value="aggregation-query">Aggregation query</option>
							<option value="parquet-reading">Parquet reading</option>
							<option value="as-of-join">As-of join</option>
							<option value="s3-access">S3 access</option>
						</select>
					</div>
					<a class="button arrow-right livedemo" href="#">Live Demo</a>
				</div>
			</div>
		</div>
	</div>
</section>


<section class="whyduckdb">
	<div class="wrap">
		<h1>Why DuckDB Transforms Data Management</h1>
		<div class="flexwrap">
			<div class="featurebox">
				<div class="icon simple"></div>
				<h3>Simple</h3>
				<p>Secure, extensive SQL, query Parquet, CSV, JSON with advanced joins, aggregates, and window functions for precise data handling.</p>
				<a href="#" class="textbutton arrow-right">Read more</a>
			</div>
			<div class="featurebox">
				<div class="icon featurerich"></div>
				<h3>Feature-Rich</h3>
				<p>DuckDB: Secure, extensive SQL, query Parquet, CSV, JSON with advanced joins, aggregates, and window functions for precise data handling.</p>
				<a href="#" class="textbutton arrow-right">Read more</a>
			</div>
			<div class="featurebox">
				<div class="icon speed"></div>
				<h3>Blazing Speed</h3>
				<p>Lightning-fast, optimized for analytics, with a vectorized, parallel engine. Experience blazing in-memory processing and parallel loading for data formats.</p>
				<a href="#" class="textbutton arrow-right">Read more</a>
			</div>
			<div class="featurebox">
				<div class="icon free"></div>
				<h3>Free</h3>
				<p>Embrace freedom and adaptability with DuckDB, a free, open-source solution under the MIT License, offering flexibility through a robust extension mechanism. </p>
				<a href="#" class="textbutton arrow-right">Read more</a>
			</div>
			<div class="featurebox">
				<div class="icon portable"></div>
				<h3>Portable</h3>
				<p>Embrace freedom and adaptability with DuckDB, a free, open-source solution under the MIT License, offering flexibility through a robust extension mechanism.</p>
				<a href="#" class="textbutton arrow-right">Read more</a>
			</div>
			<div class="featurebox">
				<div class="icon extensible"></div>
				<h3>Extensible</h3>
				<p>Embrace freedom and adaptability with DuckDB, a free, open-source solution under the MIT License, offering flexibility through a robust extension mechanism.</p>
				<a href="#" class="textbutton arrow-right">Read more</a>
			</div>
		</div>
	</div>
</section>

<section id="quickinstall">
	<div class="flexwrap wrap">
		<div class="intro">
			<h1>Installation</h1>
			<p>Your in-process SQL OLAP database management system. Seamlessly integrated with 15 programming languages. </p>
			<a href="/docs/archive/{{ site.currentduckdbversion }}/installation/" class="white dark button">More installations</a>
		</div>
		<div class="install">
			<div class="window">
				<div class="topbar environment">
					<ul>
						<li data-id="cli" class="active">Command Line</li>
						<li data-id="python">Python</li>
						<li data-id="r">R</li>
						<li data-id="java">Java</li>
						<li data-id="js">Node.js</li>
						<li data-id="odbc">ODBC</li>
					</ul>
				</div>
				<label class="onlymobile">
					<select name="environment" class="environmentselect onlymobile">
						<option value="cli">Command Line</option>
						<option value="python">Python</option>
						<option value="r">R</option>
						<option value="java">Java</option>
						<option value="js">Node.js</option>
						<option value="odbc">ODBC</option>
					</select>
				</label>
				
				<div class="result content dark">
					<pre><a href="https://github.com/duckdb/duckdb/releases/download/v{{ site.currentduckdbversion }}/duckdb_cli-windows-amd64.zip" target="_blank">https://github.com<wbr>/duckdb/<wbr>duckdb/<wbr>releases/<wbr>download/<wbr>v{{ site.currentduckdbversion }}/duckdb_cli-windows-amd64.zip</a></pre>
				</div>
				
				<div class="bottombar">
					<p class="system">
						<span>Latest release: DuckDB {{ site.currentduckdbversion }}</span>
						<span class="systemdetected">System detected: </span>
					</p>
				</div>	
	</div>
</section>


<section class="blog">
	<div class="wrap">
		<h1>Blog</h1>
		<div class="newswrap">
			{% for post in site.posts limit:4 %}
				{% capture year %}{{post.date | date: "%Y"}}{% endcapture %}
				{% capture month %}{{post.date | date: "%B"}}{% endcapture %}
				{% assign random_number = forloop.index | modulo: 5 %}
				<div class="postpreview" data-year="{{year}}" data-month="{{month}}">
					{% if post.thumb %}
					<div class="postimg custom" style="background-image: url('{{ post.thumb }}');">
					{% else %}
					<div class="postimg bg_{{ random_number }}">
					{% endif %}
						<a href="{{ post.url }}" class="blocklink"></a>
					</div>
					<div class="date">{{ post.date | date: "%Y-%m-%d" }}</div>
					<h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
					<a class="textbutton arrow-right" href="{{ post.url }}">Read more</a>
				</div>
			{% endfor %}
		</div>
		<a href="{{ site.url }}{{ site.baseurl }}/news" class="button transparent arrow-right">Archive <span></span></a>
	</div>
</section>





<section class="hidden">
	
	
<div class="dropdown hero-demo">
	
<!-- SPECIFIC EXAMPLE LIST FOR PYTHON -->	
<div data-language="python">
	<option value="join-query">Join query</option>
	<option value="aggregation-query">Aggregation query</option>
	<option value="parquet-reading">Parquet reading</option>
	<option value="as-of-join">As-of join</option>
	<option value="s3-access">S3 access</option>
</div>

<!-- SPECIFIC EXAMPLE LIST FOR R -->	
<div data-language="r">
	<option value="example-option-1">Example Option 1</option>
	<option value="example-option-2">Example Option 2</option>
	<option value="example-option-3">Example Option 3</option>
	<option value="example-option-4">Example Option 4</option>
</div>
	
</div>

	
<div class="examples hero-demo">
	
<!-- PYTHON -->	
<div data-language="python" data-example="join-query" data-buttontxt="Python Docs" data-buttonurl="https://duckdb.org/docs/archive/0.9.2/api/python/overview">
{% highlight sql %}
-- LANGUAGE: PYTHON, EXAMPLE: JOIN QUERY
-- set the memory limit of the system to 10GB
SET memory_limit='10GB';
-- configure the system to use 1 thread
SET threads TO 1;
-- enable printing of a progress bar during long-running queries
SET enable_progress_bar=true;
-- set the default null order to NULLS LAST
PRAGMA default_null_order='nulls_last';

-- show a list of all available settings
SELECT * FROM duckdb_settings();

-- return the current value of a specific setting
-- this example returns 'automatic'
SELECT current_setting('access_mode');

-- reset the memory limit of the system back to the default
RESET memory_limit;
{% endhighlight %}
</div>	

<div data-language="python" data-example="aggregation-query" data-buttontxt="Python Docs" data-buttonurl="">
{% highlight sql %}
-- LANGUAGE: PYTHON, EXAMPLE: AGGREGATION QUERY
{% endhighlight %}
</div>

<div data-language="python" data-example="parquet-reading" data-buttontxt="Python Docs" data-buttonurl="">
{% highlight sql %}
-- LANGUAGE: PYTHON, EXAMPLE: PARQUET READING
{% endhighlight %}
</div>

<div data-language="python" data-example="as-of-join" data-buttontxt="Python Docs" data-buttonurl="">
{% highlight sql %}
-- LANGUAGE: PYTHON, EXAMPLE: AS-OF JOIN
{% endhighlight %}
</div>

<div data-language="python" data-example="s3-access" data-buttontxt="Python Docs" data-buttonurl="">
{% highlight sql %}
-- LANGUAGE: PYTHON, EXAMPLE: S3 ACCESS
{% endhighlight %}
</div>
	
<!-- R -->
<div data-language="r" data-example="example-option-1" data-buttontxt="XY" data-buttonurl="XY">
{% highlight sql %}
-- LANGUAGE: R, EXAMPLE: EXAMPLE OPTION 1
{% endhighlight %}
</div>

<div data-language="r" data-example="example-option-2" data-buttontxt="XY" data-buttonurl="XY">
{% highlight sql %}
-- LANGUAGE: R, EXAMPLE: EXAMPLE OPTION 2
{% endhighlight %}
</div>

<div data-language="r" data-example="example-option-3" data-buttontxt="XY" data-buttonurl="XY">
{% highlight sql %}
-- LANGUAGE: R, EXAMPLE: EXAMPLE OPTION 3
{% endhighlight %}
</div>

<div data-language="r" data-example="example-option-4" data-buttontxt="XY" data-buttonurl="XY">
{% highlight sql %}
-- LANGUAGE: R, EXAMPLE: EXAMPLE OPTION 4
{% endhighlight %}
</div>

	
</div>




<div class="quick-installation">

<div data-install="python">
{% highlight python %}
pip install duckdb=={{ site.currentduckdbversion }}
{% endhighlight %}
</div>

<div data-install="r">
install.packages("duckdb")
</div>

<div data-install="java">
{% highlight java %}
<dependency>
 <groupId>org.duckdb</groupId>
 <artifactId>duckdb_jdbc</artifactId>
 <version>0.9.2</version>
</dependency>
{% endhighlight %}<br/>
<a href="https://search.maven.org/artifact/org.duckdb/duckdb_jdbc/{{ site.currentduckdbversion }}/jar">More Options</a>
</div>

<div data-install="js">
{% highlight javascript %}
npm install duckdb
{% endhighlight %}
</div>

<div data-install="cli macos">
brew install duckdb<br/>---<br/>Direct download: <a href="https://github.com/duckdb/duckdb/releases/download/v{{ site.currentduckdbversion }}/duckdb_cli-osx-universal.zip" target="_blank">https://github.com<wbr>/duckdb/<wbr>duckdb/<wbr>releases/<wbr>download/<wbr>v{{ site.currentduckdbversion }}/duckdb_cli-osx-universal.zip</a>
</div>

<div data-install="cli linux">
<a href="https://github.com/duckdb/duckdb/releases/download/v{{ site.currentduckdbversion }}/duckdb_cli-linux-amd64.zip" target="_blank">https://github.com<wbr>/duckdb/<wbr>duckdb/<wbr>releases/<wbr>download/<wbr>v{{ site.currentduckdbversion }}/duckdb_cli-linux-amd64.zip</a>
</div>

<div data-install="cli win">
<a href="https://github.com/duckdb/duckdb/releases/download/v{{ site.currentduckdbversion }}/duckdb_cli-windows-amd64.zip" target="_blank">https://github.com<wbr>/duckdb/<wbr>duckdb/<wbr>releases/<wbr>download/<wbr>v{{ site.currentduckdbversion }}/duckdb_cli-windows-amd64.zip</a>
</div>

<div data-install="odbc macos">
Not available
</div>

<div data-install="odbc linux">
<a href="https://github.com/duckdb/duckdb/releases/download/v{{ site.currentduckdbversion }}/duckdb_odbc-linux-amd64.zip" target="_blank">https://github.com/<wbr>duckdb/<wbr>duckdb/<wbr>releases/<wbr>download/<wbr>v{{ site.currentduckdbversion }}/duckdb_odbc-linux-amd64.zip</a>
</div>

<div data-install="odbc win">
<a href="https://github.com/duckdb/duckdb/releases/download/v{{ site.currentduckdbversion }}/duckdb_odbc-windows-amd64.zip" target="_blank">https://github.com/<wbr>duckdb/<wbr>duckdb/<wbr>releases/<wbr>download/<wbr>v{{ site.currentduckdbversion }}/duckdb_odbc-windows-amd64.zip</a>
</div>

</div>

	
</section>