---
layout: postarchive
title: Engineering Blog
excerpt: The blog contains use case descriptions, release announcements, benchmarks, etc. about DuckDB.
body_class: blog
redirect_from:
- /blog
---

{% assign all_tags = "" %}
{% for post in site.posts %}
	{% assign all_tags = all_tags | append: post.tags | join: "," | append: "," %}
{% endfor %}
{% assign unique_tags = all_tags | split: "," | uniq | sort %}

<div class="wrap pagetitle">
	<h1>{{ page.title }}</h1>

	<div class="controls filterbar" data-all-available="{{ unique_tags | join: ', ' }}">
		<div class="filter-group" data-filter-key="category">
			<span class="filter-group-label">Category</span>
			<div class="filtertags">
				<div class="filter-highlight"></div>
				<button type="button" class="filter-btn active" data-filter="*">All</button>
				<button type="button" class="filter-btn" data-filter=".using-duckdb">Using DuckDB</button>
				<button type="button" class="filter-btn" data-filter=".benchmark">Benchmarks</button>
				<button type="button" class="filter-btn" data-filter=".deep-dive">Deep Dive</button>
				<button type="button" class="filter-btn" data-filter=".extensions">Extensions</button>
				<button type="button" class="filter-btn" data-filter=".release">Releases</button>
			</div>
		</div>

		<input type="text" id="search-input" placeholder="Search ...">

		<button type="button" class="filter-toggle" aria-label="Filter">
			<svg class="icon icon-filter"><use href="#filter-funnel-01"></use></svg>
			<svg class="icon icon-close"><use href="#x-close"></use></svg>
		</button>
		<div class="filter-modal">
			<div class="filter-group filter-group-mobile-only" data-filter-key="category">
				<span class="filter-group-label">Category</span>
				<div class="filtertags">
					<div class="filter-highlight"></div>
					<button type="button" class="filter-btn active" data-filter="*">All</button>
					<button type="button" class="filter-btn" data-filter=".using-duckdb">Using DuckDB</button>
					<button type="button" class="filter-btn" data-filter=".benchmark">Benchmarks</button>
					<button type="button" class="filter-btn" data-filter=".deep-dive">Deep Dive</button>
					<button type="button" class="filter-btn" data-filter=".extensions">Extensions</button>
					<button type="button" class="filter-btn" data-filter=".release">Releases</button>
				</div>
			</div>
		</div>
		<div class="filter-overlay"></div>
	</div>
</div>

<div class="post-list wrap">
	<div class="newstiles">
		{% for post in site.posts %}
			{% assign random_number = forloop.index | modulo: 3 | plus: 1 %}
			{% capture placeholder_thumb %}/images/blog/thumbs/placeholder-{{ random_number }}.svg{% endcapture %}
			{% include post_card.html item=post default_thumb=placeholder_thumb %}
		{% endfor %}
	</div>
</div>
