{% if version_viewed == "current" %}
	<!-- this is the default and recommended version - do not show any extra warning -->
{% elsif version_viewed == "lts" %}
	<div class="banner lts">
		<div class="content">
			<svg class="icon"><use href="#clock"></use></svg>
			<span title="The page is for the LTS build of DuckDB.">LTS version</span>
		</div>
	</div>
{% else %}
	<!-- show 'outdated' banner -->
	{% assign url_parts = page.url | split: '/' %}
	{% assign new_url = '' %}
	{% assign skip_next = false %}
	{% for part in url_parts %}
		{% if part == 'archive' %}
			{% assign skip_next = true %}
			{% continue %}
		{% elsif skip_next %}
			{% assign skip_next = false %}
			{% continue %}
		{% else %}
			{% assign new_url = new_url | append: part %}
			{% unless forloop.last %}
				{% assign new_url = new_url | append: '/' %}
			{% endunless %}
		{% endif %}
	{% endfor %}
	<div class="banner outdated">
		<div class="content">
			<svg class="icon"><use href="#alert-octagon"></use></svg>
			{% assign new_filename = new_url | replace: ".html", ".md" %}
			{% capture url_exists %}{% file_exists {{ new_filename }} %}{% endcapture %}
			{% if url_exists == "true" %}
				<span title="Outdated documentation. Please select the current version.">Outdated documentation</span>
			{% else %}
				<span title="This page is not available in the current version of the documentation.">Outdated documentation</span>
			{% endif %}
		</div>
	</div>
{% endif %}