<footer>
	<div class="sitefooter">
		<div class="footercontent">
			<div class="footernavigation">
				<div>
					<h6>Documentation</h6>
					<a href="{% link docs/stable/index.md %}">Getting Started</a><br/>
					<a href="{% link install/index.html %}">Installation</a><br/>
					<a href="{% link docs/stable/guides/overview.md %}">Guides</a><br/>
					<a href="{% link docs/stable/data/overview.md %}">Data Import</a><br/>
					<a href="{% link docs/stable/clients/overview.md %}">Client APIs</a><br/>
					<a href="{% link docs/stable/sql/introduction.md %}">SQL Introduction</a><br/>
					<a href="{% link why_duckdb.md %}">Why DuckDB</a><br/>
				</div>
				<div>
					<h6>Resources</h6>
					<a href="{% link news/index.html %}">Engineering Blog</a><br/>
					<a href="{% link library/index.html %}">Library</a><br/>
					<a href="{% link events/index.html %}">Events</a><br/>
					<a href="https://shop.duckdb.org/" rel="noopener noreferrer">Webshop</a><br/>
					<a href="{% link feed.xml %}">RSS Feed</a><br/>
					<a href="https://status.duckdb.org/">Status Page</a><br/>
					<a href="{% link faq.md %}">FAQ</a><br/>
				</div>
				<div>
					<h6>Development</h6>
					<a href="{% link release_calendar.md %}">Release Calendar</a><br/>
					<a href="{% link roadmap.md %}">Roadmap</a><br/>
					<a href="{% link docs/stable/dev/building/overview.md %}">Building DuckDB</a><br/>
					<a href="https://github.com/duckdb/duckdb/issues">GitHub Issues</a><br/>
				</div>
				<div>
					<h6>Related Sites</h6>
					<a href="https://ducklake.select/" target="_blank">DuckLake</a><br/>
					<a href="{% link foundation/index.html %}">DuckDB Foundation</a><br/>
					<a href="https://duckdblabs.com/" target="_blank">DuckDB Labs</a><br/>
					<a href="https://duckdblabs.com/#support" target="_blank">Commercial Support</a>
				</div>
				<div>
					<h6>Community</h6>
					<a href="https://duckdb.org/community_extensions/">Community Extensions</a><br/>
					<a href="https://www.linkedin.com/company/duckdb/posts" target="_blank">LinkedIn</a><br/>
					<a href="https://bsky.app/profile/duckdb.org" target="_blank">Bluesky</a><br/>
					<a href="https://twitter.com/duckdb" target="_blank">X (Twitter)</a><br/>
					<a href="https://discord.duckdb.org" target="_blank">Discord</a><br/>
				</div>
			</div>
			<div class="footerlogo duckdb_logo"></div>
			<div class="bottomline">
				<div>© {{ "now" | date: "%Y" }} DuckDB Foundation, Amsterdam NL</div>
				<div>
					<a href="{% link code_of_conduct.md %}">Code of Conduct</a>
					<a href="{% link trademark_guidelines.md %}">Trademark Use</a>
				</div>
			</div>
		</div>
	</div>
</footer>

<div class="svg-sprite" aria-hidden="true" style="position: absolute; width: 0; height: 0; overflow: hidden; visibility: hidden;">
	{% include icons.html %}
</div>