<footer>
	<div class="sitefooter">
		<div class="footercontent">
			<div>
				<img src="{{ site.baseurl }}/images/DuckDB-Footer.svg"/ class="duckdbfooter" alt="DuckDB Logo">
			</div>
			<div>
				<h4>Documentation</h4>
				<a href="{{ site.url }}{{ site.baseurl }}/docs/installation/">Installation</a><br/>
				<a href="{{ site.url }}{{ site.baseurl }}/docs/sql/introduction">SQL Introduction</a>
			</div>
			<div>
				<h4>Internals</h4>
				<a href="{{ site.url }}{{ site.baseurl }}/faq">FAQs</a><br/>
				<a href="{{ site.url }}{{ site.baseurl }}/code_of_conduct">Code of Conduct</a><br/>
				<a href="{{ site.url }}{{ site.baseurl }}/foundation/">Foundation</a>

			</div>
			<div>
				<h4>Commercial Support</h4>
				<a href="https://duckdblabs.com/" target="_blank">
					DuckDB Labs
				</a>
			</div>
			<div>
				<h4>Follow us</h4>
				<div class="icons">
					<a href="https://twitter.com/duckdb" target="_blank"><span class="duckdbsymbol">&#xe045;</span></a>
					<a href="https://discord.gg/tcvwpjfnZx" target="_blank"><span class="duckdbsymbol">&#xe055;</span></a>
					<a href="https://github.com/duckdb/duckdb" target="_blank"><span class="duckdbsymbol">&#xe050;</span></a>
				</div>
			</div> 
		</div>
	</div>
</footer>