{%- comment -%}
Usage: {% include icon.html name="sun" size="24" class="custom-class" %}
Sizes: 16, 20, 24 (default), 32, 48
{%- endcomment -%}

{%- assign valid_sizes = '16,20,24,32,48' | split: ',' -%}
{%- if valid_sizes contains include.size -%}
  {%- assign size_folder = include.size -%}
{%- else -%}
  {%- assign size_folder = '24' -%}
{%- endif -%}

<span class="{{ include.class | default: 'icon' }} icon-{{ size_folder }}">
  {%- assign icon_path = 'icons/' | append: size_folder | append: '/' | append: include.name | append: '.svg' -%}
  {%- include {{ icon_path }} -%}
</span>
