<div class="banner yellow" data-banner-version="quack">
    {% comment %}
    Available color classes: purple, yellow, blue
    Add multiple .banner-item elements to rotate between them every X seconds.
    {% endcomment %}
    <div class="content banner-rotator" data-interval="7">
        <div class="banner-item active">
            The talks of <a href="{% link _events/2026-06-24-duckcon7.html %}#program">DuckCon #7</a> are now online!
        </div>
    </div>
    <div class="close"><svg class="icon"><use href="#x"></use></svg></div>
</div>
