<div class="banner yellow" data-banner-version="duckdb-release-2026-02-24">
    {% comment %}
    Available color classes: purple, yellow, blue
    Add multiple .banner-item elements to rotate between them every X seconds.
    {% endcomment %}
    <div class="content banner-rotator" data-interval="7">
        <div class="banner-item active">
            <a href="{% post_url 2026-03-09-announcing-duckdb-150 %}">DuckDB 1.5</a> is out with built-in GEOMETRY and VARIANT support.
        </div>
    </div>
    <div class="close"><svg class="icon"><use href="#x"></use></svg></div>
</div>
