<div class="banner yellow" data-banner-version="quack">
    {% comment %}
    Available color classes: purple, yellow, blue
    Add multiple .banner-item elements to rotate between them every X seconds.
    {% endcomment %}
    <div class="content banner-rotator" data-interval="7">
        <div class="banner-item active">
            <a href="{% link _events/2026-06-24-duckcon7.html %}">DuckCon #7</a> is happening this week. Join the online stream on Wednesday at 3pm CEST / 9am EST / 6am PDT.
        </div>
    </div>
    <div class="close"><svg class="icon"><use href="#x"></use></svg></div>
</div>
