<div class="sidenavigation" data-selected="{{page.selected}}" data-expanded="{{page.expanded}}">
		
	{% assign starting_url = "docs/" | append: version_viewed | append: "/" %}
	{% assign url_parts = page.url | replace: ".html", "" | split: "/" %}

	{%- assign menudocfile = "menu_docs_" | append: version_viewed | replace: ".", "" -%}

	<ul class="sidenav">
		{% if site.data[menudocfile].docsmenu %}
			{% for item in site.data[menudocfile].docsmenu %}
				{% if item.slug == nil %}
					{% assign slug_parts = item.url | split: "/" %}
				{% else %}
					{% assign slug_parts = item.slug | split: "/" %}
				{% endif %}
				{% assign url_contains = true %}
				{% for slug_part in slug_parts %}
					{% if url_parts contains slug_part %}
					{% else %}
						{% assign url_contains = false %}
					{% endif %}
				{% endfor %}
				{% assign base_slash = '' %}
				{% if item.slug != nil and item.url != nil %}
					{% assign base_slash = '/' %}
				{% endif %}
				<li class="item-menu
					{%- if url_contains %} active opened{% endif -%}
					{%- if item.mainfolderitems[0] %} hasSub{% endif -%}
				">
				{% if item.url %} <a href="{{ base_slash }}{{ site.baseurl }}{{starting_url}}{{item.slug}}{{ item.url }}">{{ item.page }}</a> {% if item.mainfolderitems[0] %} <span class="show"></span> {% endif %} {% else %} {% if item.mainfolderitems[0] %} <span class="show"></span> {% endif %} {{ item.page }} {% endif %} </li>
			
				{% if item.mainfolderitems[0] %}
					<ul style="display: {% if url_contains %}block;{% else %}none{% endif %}">
						{% for mainentry in item.mainfolderitems %}

						<li class="mainentry-menu
								{%- if url_parts[3] == mainentry.url %} active{% endif -%}
								{%- if mainentry.url %} {{ mainentry.url }}{% endif -%}
								{%- if url_parts[3] %} {{ url_parts[3]}}{% endif -%}
								{%- if mainentry.subfolderitems[0] %} hasSub{% endif -%}
								{%- if mainentry.open or url_parts contains mainentry.url or url_parts contains mainentry.slug %} opened{% endif -%}
							">
							{% if mainentry.url %} <a href="{{ site.baseurl }}/{{starting_url}}{{item.slug}}{{ mainentry.url }}">{{ mainentry.page }}</a> {% if mainentry.subfolderitems[0] %} <span class="show"></span> {% endif %} {% else %} {{ mainentry.page }} {% if mainentry.subfolderitems[0] %} <span class="show"></span> {% endif %} {% endif %} </li>
						{% if mainentry.subfolderitems[0] %}
						<ul style="display:{% if mainentry.open or url_parts contains mainentry.url or url_parts contains mainentry.slug %}block{% else %}none{% endif %};">
							{% for entry in mainentry.subfolderitems %}
							{% if mainentry.subfolderitems %}
							<li class="entry-menu
									{%- if url_parts[3] == mainentry.slug and url_parts[4] == entry.url %} active{% endif -%}
									{%- if entry.subsubfolderitems[0] %} hasSub{% endif -%}
									{%- if entry.open or url_parts contains entry.url or url_parts contains entry.slug %} opened{% endif -%}
								">
								{% if entry.url %} <a href="{{ site.baseurl }}/{{starting_url}}{{item.slug}}{{mainentry.slug}}/{{ entry.url }}">{{ entry.page }}</a> {% if entry.subsubfolderitems[0] %} <span class="show"></span> {% endif %} {% else %} {{ entry.page }} {% if entry.subsubfolderitems[0] %} <span class="show"></span> {% endif %} {% endif %}
							</li>
							{% endif %}
							{% if entry.subsubfolderitems[0] %}
							<ul style="display:{% if entry.open or url_parts contains entry.url or url_parts contains entry.slug %}block{% else %}none{% endif %};">
								{% for subentry in entry.subsubfolderitems %}
								{% if entry.subsubfolderitems %}
								<li class="subentry-menu
									{%- if url_parts[4] == entry.slug and url_parts[5] == subentry.url %} active{% endif -%}
									{%- if subentry.open or url_parts contains subentry.url or url_parts contains subentry.slug %} opened{% endif -%}
								">
									{% if subentry.url %} <a href="{{ site.baseurl }}/{{starting_url}}{{item.slug}}{{mainentry.slug}}/{{ entry.slug }}/{{ subentry.url }}"> {{ subentry.page }} </a> {% else %} {{ subentry.page }} {% endif %}
								</li>
								{% endif %}
								{% endfor %}
							</ul>
							{% endif %}
							{% endfor %}
						</ul>
						{% endif %}
						{% endfor %}
					</ul>
				{% endif %}
			{% endfor %}
		{% endif %}

		{% assign pageUrl = page.url | replace: ".html", "" %}

		{% if site.data.menu_side.sidemenu %}
			{% for item in site.data.menu_side.sidemenu %}
				<li class="
					{%- if pageUrl == item.url %} active{% endif -%}
					{%- if item.mainfolderitems[0] %} hasSub{% endif -%}
					{%- if pageUrl contains item.url %} opened{% endif -%}
				">

				{% if item.url %} <a href="{{ site.baseurl }}{{ item.url }}">{{ item.page }}</a> {% if item.mainfolderitems[0] %} <span class="show"></span> {% endif %} {% else %} {{ item.page }} {% if item.mainfolderitems[0] %} <span class="show"></span> {% endif %} {% endif %} </li>
			{% endfor %}
		{% endif %}
	
	</ul>
</div>