<nav>
	<div class="search_icon"></div>
	{% if site.data.secondarymenu.toc2[0] %}
		{% for item in site.data.secondarymenu.toc2 %}
			{% if item.mainfolderitems[0] %}
			{% for mainentry in item.mainfolderitems %}
			{% if mainentry.subfolderitems[0] %} <div> {% endif %}
				{% if mainentry.subfolderitems[0] %} <div class="hasSub" > {% endif %}
					{% if mainentry.url %}
						{% assign myurl = mainentry.url | slice: 0, 5 %}
						{% if myurl == 'https' or myurl == 'http:' %}
						<div class="external"><a href="{{ mainentry.url }}" target="_blank" >{{ mainentry.page }}</a></div>
						{% else %}
						<div><a href="{{ site.baseurl }}{{ mainentry.url }}">{{ mainentry.page }}</a>
				</div>
						{% endif %}
					{% else %} <a href="{{ site.baseurl }}{{ mainentry.url }}">{{ mainentry.page }}</a>{% endif %}
			   {% if mainentry.subfolderitems[0] %}  </div> {% endif %}
		
				{% if mainentry.subfolderitems[0] %}
					<ul>
						{% for entry in mainentry.subfolderitems %}
						<li>&nbsp;{% if entry.url %} <a href="{{ site.baseurl }}{{ entry.url }}">{{ entry.page }}</a> {% else %} {{ entry.page }} {% endif %}  </li>
						{% if entry.subsubfolderitems[0] %}
						<ul>
							{% for subentry in entry.subsubfolderitems %}
							<li>&nbsp;&nbsp;{% if subentry.url %}<a href="{{ site.baseurl }}{{ subentry.url }}">{{ subentry.page }}</a> {% else %} {{ subentry.page }} {% endif %} </li>
							{% endfor %}
						</ul>
						{% endif %}
						</li>
						{% endfor %}
					</ul>
				{% endif %}
			{% if mainentry.subfolderitems[0] %} </div> {% endif %}
			{% endfor %}
			{% endif %}
		{% endfor %}
	{% endif %}
</nav>