<div class="sidenavigation" data-selected="{{page.selected}}" data-expanded="{{page.expanded}}">
	
	{% if page.url contains '/docs/archive/' %}
		{% assign urlVersionParts = page.url | split: "/docs/archive/" %}
		{% assign urlVersionParts = urlVersionParts[1] | split: "/" %}
		{% assign versionviewed = urlVersionParts[0] %}
		{% assign startingUrl = "docs/archive/" | append: versionviewed %}
		{% assign urlString = page.url | replace: ".html", "" | replace: startingUrl, "" %}
		{% assign urlParts = urlString | split: "/"  %}
		{% assign startingUrl = startingUrl | append: "/" %}
	{% else %}
		{% assign versionviewed = "current" %}
		{% assign startingUrl = "docs/" %}
		{% assign urlParts = page.url | replace: ".html", "" | split: "/" %}
	{% endif %}

	{%- assign menudocfile = "menu_docs_" | append: versionviewed | replace: ".", "" -%}

	<ul class="sidenav">
		{% if site.data[menudocfile].docsmenu %}
			{% for item in site.data[menudocfile].docsmenu %}
				{% if item.slug == nil %}
					{% assign slugParts = item.url | split: "/" %}
				{% else %}
					{% assign slugParts = item.slug | split: "/" %}
				{% endif %}
				{% assign urlContains = true %}
				{% for slugPart in slugParts %}
					{% if urlParts contains slugPart %}
					{% else %}
						{% assign urlContains = false %}
					{% endif %}
				{% endfor %}
				{% assign base_slash = '' %}
				{% if item.slug != nil and item.url != nil %}
					{% assign base_slash = '/' %}
				{% endif %}
				<li class="item-menu
					{% if urlContains %}active {% endif %}
					{% if item.mainfolderitems[0] %}hasSub{% endif %} 
					{% if urlContains %} opened {% endif %}
				">
				{% if item.url %} {% if item.mainfolderitems[0] %} <span class="show"></span> {% endif %} <a href="{{ base_slash }}{{ site.baseurl }}{{startingUrl}}{{item.slug}}{{ item.url }}">{{ item.page }}</a>  {% else %} {% if item.mainfolderitems[0] %} <span class="show"></span> {% endif %} {{ item.page }} {% endif %} </li>
			
				{% if item.mainfolderitems[0] %}
					<ul style="display: {% if urlContains %}block;{% else %}none{% endif %}">
						{% for mainentry in item.mainfolderitems %}
						<li class="mainentry-menu
								{% if urlParts[2] == mainentry.url %} active {% endif %}
								{{ mainentry.url }}
								{{ urlParts[2] }}
								{% if mainentry.subfolderitems[0] %} hasSub {% endif %} 
								{% if mainentry.open or urlParts contains mainentry.url or urlParts contains mainentry.slug %} opened {% endif %}
							">
							{% if mainentry.url %} {% if mainentry.subfolderitems[0] %} <span class="show"></span> {% endif %} <a href="{{ site.baseurl }}/{{startingUrl}}{{item.slug}}{{ mainentry.url }}">{{ mainentry.page }}</a>  {% else %} {% if mainentry.subfolderitems[0] %} <span class="show"></span> {% endif %} {{ mainentry.page }} {% endif %} </li>
						{% if mainentry.subfolderitems[0] %}
						<ul style="display:{% if mainentry.open or urlParts contains mainentry.url or urlParts contains mainentry.slug %}block{% else %}none{% endif %};">
							{% for entry in mainentry.subfolderitems %}
							{% if mainentry.subfolderitems %}
							<li class="entry-menu
									{% if urlParts[2] == mainentry.slug and urlParts[3] == entry.url %} active {% endif %}
									{% if entry.subsubfolderitems[0] %}hasSub{% endif %}
									{% if entry.open or urlParts contains entry.url or urlParts contains entry.slug %} opened {% endif %}
								">
								{% if entry.url %} {% if entry.subsubfolderitems[0] %} <span class="show"></span> {% endif %} <a href="{{ site.baseurl }}/{{startingUrl}}{{item.slug}}{{mainentry.slug}}/{{ entry.url }}">{{ entry.page }}</a> {% else %} {% if entry.subsubfolderitems[0] %} <span class="show"></span> {% endif %} {{ entry.page }} {% endif %}
							</li>
							{% endif %}
							{% if entry.subsubfolderitems[0] %}
							<ul style="display:{% if entry.open or urlParts contains entry.url or urlParts contains entry.slug %}block{% else %}none{% endif %};">
								{% for subentry in entry.subsubfolderitems %}
								{% if entry.subsubfolderitems %}
								<li class="subentry-menu
									{% if urlParts[3] == entry.slug and urlParts[4] == subentry.url %} active {% endif %}
									{% if subentry.subsubsubfolderitems[0] %}hasSub{% endif %}
									{% if subentry.open or urlParts contains subentry.url or urlParts contains subentry.slug %} opened {% endif %}
								">
									{% if subentry.url %} {% if subentry.subsubsubfolderitems[0] %} <span class="show"></span> {% endif %} <a href="{{ site.baseurl }}/{{startingUrl}}{{item.slug}}{{mainentry.slug}}/{{ entry.slug }}/{{ subentry.url }}"> {{ subentry.page }} </a> {% else %} {% if subentry.subsubsubfolderitems[0] %} <span class="show"></span> {% endif %} {{ subentry.page }} {% endif %}
								</li>
								{% if subentry.subsubsubfolderitems[0] %}
								<ul style="display:{% if subentry.open or urlParts contains subentry.url or urlParts contains subentry.slug %}block{% else %}none{% endif %};">
									{% for subsubentry in subentry.subsubsubfolderitems %}
									{% if subentry.subsubsubfolderitems %}
									<li class="subsubentry-menu
										{% if urlParts[4] == subentry.slug and urlParts[5] == subsubentry.url %} active {% endif %}
										{% if subsubentry.open or urlParts contains subsubentry.url or urlParts contains subsubentry.slug %} opened {% endif %}
									">
										{% if subsubentry.url %} <a href="{{ site.baseurl }}/{{startingUrl}}{{item.slug}}{{mainentry.slug}}/{{ entry.slug }}/{{ subentry.slug }}/{{ subsubentry.url }}"> {{ subsubentry.page }} {% if subsubentry.subsubsubsubfolderitems[0] %} <span class="show"></span> {% endif %} </a>
										{% else %} {% if subsubentry.subsubsubsubfolderitems[0] %} <span class="show"></span> {% endif %} {{ subsubentry.page }} {% endif %}
									</li>
									{% if subsubentry.subsubsubfolderitems[0] %}
									<ul style="display:{% if subsubentry.open or urlParts contains subsubentry.url or urlParts contains subsubentry.slug %}block{% else %}none{% endif %};">
										{% for subsubsubentry in subsubentry.subsubsubsubfolderitems %}
										<li class="subsubsubentry-menu
											{% if urlParts[6] == subsubsubentry.url %} active {% endif %}
										"><a href="{{ site.baseurl }}/{{startingUrl}}{{item.slug}}{{mainentry.slug}}/{{ entry.slug }}/{{ subentry.slug }}/{{ subsubsubentry.url }}"> {{ subsubsubentry.page }} </a>
										</li>
										{% endfor %}
									</ul>
									{% endif %}
									{% endif %}
									{% endfor %}
								</ul>
								{% endif %}
								{% endif %}
								{% endfor %}
							</ul>
							{% endif %}
							{% endfor %}
						</ul>
						{% endif %}
						{% endfor %}
					</ul>
				{% endif %}
			{% endfor %}
		{% endif %}

		{% assign pageUrl = page.url | replace: ".html", "" %}

		{% if site.data.menu_side.sidemenu %}
			{% for item in site.data.menu_side.sidemenu %}			
			
				<li class="
					{% if pageUrl == item.url %} active {% endif %}
					{% if item.mainfolderitems[0] %} hasSub{% endif %} 
					{% if pageUrl contains item.slug %} opened {% endif %}
				">
				{% if item.url %} {% if item.mainfolderitems[0] %} <span class="show"></span> {% endif %} <a href="{{ site.baseurl }}{{ item.url }}">{{ item.page }}</a>  {% else %} {% if item.mainfolderitems[0] %} <span class="show"></span> {% endif %} {{ item.page }} {% endif %} </li>
			
			{% if item.mainfolderitems[0] %}
			<ul style="display:{% if item.open or pageUrl contains item.slug %}block{% else %}none{% endif %};">
				{% for mainentry in item.mainfolderitems %}
				<li class="
						{% if pageUrl == mainentry.url %} active {% endif %}
						{% if mainentry.subfolderitems[0] %} hasSub{% endif %}
						{% if pageUrl contains mainentry.slug %} opened {% endif %}
					">
					{% if mainentry.url %} {% if mainentry.subfolderitems[0] %} <span class="show"></span> {% endif %} <a href="{{ site.baseurl }}{{ mainentry.url }}">{{ mainentry.page }}</a>  {% else %} {% if mainentry.subfolderitems[0] %} <span class="show"></span> {% endif %} {{ mainentry.page }} {% endif %} </li>
				{% if mainentry.subfolderitems[0] %}
				<ul style="display:{% if mainentry.open or pageUrl contains mainentry.slug %}block{% else %}none{% endif %};">
					{% for entry in mainentry.subfolderitems %}
					{% if mainentry.subfolderitems %}
					<li class="
						{% if pageUrl == entry.url %} active {% endif %}
						{% if entry.subsubfolderitems[0] %}hasSub{% endif %}
						{% if pageUrl contains entry.slug %} opened {% endif %}
					">
						{% if entry.url %} {% if entry.subsubfolderitems[0] %} <span class="show"></span> {% endif %} <a href="{{ site.baseurl }}{{ entry.url }}">{{ entry.page }}</a> {% else %} {% if entry.subsubfolderitems[0] %} <span class="show"></span> {% endif %} {{ entry.page }} {% endif %}
					</li>
					{% endif %}
					{% if entry.subsubfolderitems[0] %}
					<ul style="display:{% if entry.open or pageUrl contains entry.slug %}block{% else %}none{% endif %};">
						{% for subentry in entry.subsubfolderitems %}
						{% if entry.subsubfolderitems %}
						<li class="
							{% if pageUrl == subentry.url %} active {% endif %}
							{% if subentry.subsubfolderitems[0] %}hasSub{% endif %}
							{% if pageUrl contains subentry.slug %} opened {% endif %}
						">
							{% if subentry.url %} {% if subentry.subsubsubfolderitems[0] %} <span class="show"></span> {% endif %} <a href="{{ site.baseurl }}{{ subentry.url }}"> {{ subentry.page }} </a> {% else %} {% if subentry.subsubsubfolderitems[0] %} <span class="show"></span> {% endif %} {{ subentry.page }} {% endif %}
						</li>
						{% if subentry.subsubsubfolderitems[0] %}
						<ul style="display:{% if subentry.open or pageUrl contains subentry.slug %}block{% else %}none{% endif %};">
							{% for subsubentry in subentry.subsubsubfolderitems %}
							{% if subentry.subsubsubfolderitems %}
							<li class="
								{% if pageUrl == subsubentry.url %} active {% endif %}
								{% if subsubentry.subsubfolderitems[0] %}hasSub{% endif %}
								{% if pageUrl contains subsubentry.slug %} opened {% endif %}
							">
								{% if subsubentry.url %} <a href="{{ site.baseurl }}{{ subsubentry.url }}"> {{ subsubentry.page }} {% if subsubentry.subsubsubsubfolderitems[0] %} <span class="show"></span> {% endif %} </a>
								{% else %} {% if subsubentry.subsubsubsubfolderitems[0] %} <span class="show"></span> {% endif %} {{ subsubentry.page }} {% endif %}
							</li>
							{% if subsubentry.subsubsubfolderitems[0] %}
							<ul style="display:{% if subsubentry.open or pageUrl contains subsubentry.slug %}block{% else %}none{% endif %};>
								{% for subsubsubentry in subsubentry.subsubsubsubfolderitems %}
								<li class="{% if page.url contains subsubsubentry.url %} active {% endif %}"><a href="{{ site.baseurl }}{{ subsubsubentry.url }}"> {{ subsubsubentry.page }} </a>
								</li>
								{% endfor %}
							</ul>
							{% endif %}
							{% endif %}
							{% endfor %}
						</ul>
						{% endif %}
						{% endif %}
						{% endfor %}
					</ul>
					{% endif %}
					{% endfor %}
				</ul>
				{% endif %}
				{% endfor %}
			</ul>
			{% endif %}
			{% endfor %}
		{% endif %}
	
	</ul>
</div>