<section id="quickinstall">
	<div class="flexwrap wrap">
		<div class="intro">
			<h1>Installation</h1>
			<p>DuckDB is seamlessly integrated with major programming languages. It can be installed in less than 10 seconds on most platforms.</p>
			<a href="/docs/installation/" class="button transparent">More installation options</a>
		</div>
		<div class="install">
			<div class="window">
				<div class="topbar environment">
					<ul>
						<div class="select-highlight"></div>
						<li data-client="cli" class="active">Command line</li>
						<li data-client="python">Python</li>
						<li data-client="r">R</li>
						<li data-client="java">Java</li>
						<li data-client="nodejs">Node.js</li>
						<li data-client="odbc">ODBC</li>
						<li data-client="rust">Rust</li>
						<li data-client="go">Go</li>
					</ul>
				</div>
				
				<div class="result content">
{% highlight bash %}
curl https://install.duckdb.org | sh
{% endhighlight %}
				</div>
				
				<div class="bottombar">
					<p class="system">
						<span>Latest release: DuckDB {{ site.current_duckdb_version }} | </span>
						<span class="systemdetected">System detected: </span>
					</p>
				</div>	
	</div>
</section>

<section class="hidden">
	
<div id="quick-installation">

<div data-install="python">
{% highlight bash %}
pip install duckdb
{% endhighlight %}
</div>

<div data-install="r">
{% highlight r %}
install.packages("duckdb")
{% endhighlight %}
</div>

<div data-install="java">
{% highlight xml %}
<dependency>
	<groupId>org.duckdb</groupId>
	<artifactId>duckdb_jdbc</artifactId>
	<version>{{ site.current_java_version }}</version>
</dependency>
{% endhighlight %}
</div>

<div data-install="nodejs">
{% highlight bash %}
npm install @duckdb/node-api
{% endhighlight %}
</div>

<div data-install="cli macos">
{% highlight bash %}
curl https://install.duckdb.org | sh
{% endhighlight %}
</div>

<div data-install="cli linux">
{% highlight bash %}
curl https://install.duckdb.org | sh
{% endhighlight %}
</div>

<div data-install="cli win">
<a href="https://github.com/duckdb/duckdb/releases/download/v{{ site.current_duckdb_version }}/duckdb_cli-windows-amd64.zip" target="_blank">https://github.com<wbr>/duckdb/<wbr>duckdb/<wbr>releases/<wbr>download/<wbr>v{{ site.current_duckdb_version }}/duckdb_cli-windows-amd64.zip</a>
</div>

<div data-install="odbc macos">
<a href="https://github.com/duckdb/duckdb-odbc/releases/download/v{{ site.current_duckdb_odbc_version }}/duckdb_odbc-osx-universal.zip" target="_blank">duckdb_odbc-osx-universal.zip</a>
</div>

<div data-install="odbc linux">
<a href="https://github.com/duckdb/duckdb-odbc/releases/download/v{{ site.current_duckdb_odbc_version }}/duckdb_odbc-linux-amd64.zip" target="_blank">duckdb_odbc-linux-amd64.zip</a>
</div>

<div data-install="odbc win">
<a href="https://github.com/duckdb/duckdb-odbc/releases/download/v{{ site.current_duckdb_odbc_version }}/duckdb_odbc-windows-amd64.zip" target="_blank">duckdb_odbc-windows-amd64.zip</a>
</div>

<div data-install="rust">
{% highlight bash %}
cargo add duckdb --features bundled
{% endhighlight %}
</div>

<div data-install="go">
{% highlight bash %}
go get github.com/marcboeker/go-duckdb
{% endhighlight %}
</div>

</div>

</section>