{% if page.collection == "events" %}
	{% assign recent_heading = "Other Events" %}
	{% assign recent_link = "/events/" %}
	{% assign recent_link_text = "All events" %}
	{% assign items = site.events | sort: "date" | reverse %}
{% elsif page.collection == "library" or page.collection == "everywhere" %}
	{% assign recent_heading = "Other Library Resources" %}
	{% assign recent_link = "/library/" %}
	{% assign recent_link_text = "All library resources" %}
	{% assign items = site.library | concat: site.everywhere | sort: "date" | reverse %}
{% else %}
	{% assign recent_heading = "Recent posts" %}
	{% assign recent_link = "/news/" %}
	{% assign recent_link_text = "All blog posts" %}
	{% assign items = site.posts %}
{% endif %}

<section class="blog recentposts">
	<div class="wrap">
		<div class="blog-header">
			<h2 class="headline-2">{{ recent_heading }}</h2>
			<a href="{{ site.url }}{{ recent_link }}" class="textbutton arrow-right">{{ recent_link_text }} <svg class="icon"><use href="#arrow-right"></use></svg></a>
		</div>
		<div class="newstileswrap">
			{% assign recent_count = 0 %}
			{% for item in items %}
				{% if item.url != page.url and recent_count < 3 %}
					{% include card.html item=item %}
					{% assign recent_count = recent_count | plus: 1 %}
				{% endif %}
			{% endfor %}
		</div>
	</div>
</section>
