<section class="blog recentposts">
	<div class="wrap">
		<h2 class="display-3">
			{% if page.collection == "events" %}
				Other Events
			{% elsif page.collection == "library" %}
				Other Library Resources
			{% elsif page.collection == "everywhere" %}
				Other Everywhere Posts
			{% else %}
				Recent Posts
			{% endif %}
		</h2>
		<div class="newstileswrap">
			{% if page.collection == "events" %}
				{% assign items = site.events | sort: "date" | reverse %}
			{% elsif page.collection == "library" %}
				{% assign items = site.library | sort: "date" | reverse %}
			{% elsif page.collection == "everywhere" %}
				{% assign items = site.everywhere | sort: "date" | reverse %}
			{% else %}
				{% assign items = site.posts | sort: "date" | reverse %}
			{% endif %}
			
			{% if page.collection == "library" or page.collection == "everywhere" %}
				{% assign max_recent_posts = 3 %}
			{% else %}
				{% assign max_recent_posts = 2 %}
			{% endif %}
			
			{% assign recent_count = 0 %}
			{% for item in items %}
				{% if item.url != page.url and recent_count < max_recent_posts %}
					{% assign random_number = forloop.index | modulo: 3 | plus: 1 %}
					{% assign tag_classes = item.tags | default: "" | join: ' ' %}
					
					{% if page.collection == "library" %}
						<div class="mediapreview postpreview {{ tag_classes | downcase | slugify }}" data-title="{{ item.title | escape }}">
							<a href="/library/{{ item.slug | default: item.title | slugify }}/" title="{{ item.title }}" class="blocklink"></a>
							<div class="postimg custom">
								{% if item.thumb %}
									<img src="{{ item.thumb }}" alt="{{ item.title }}" class="zoom-image">
								{% else %}
									{% if page.collection == "science" %} <!-- TODO -->
										{% assign placeholder_number = forloop.index | modulo: 2 | plus: 1 %}
										<img src="/images/science/thumbs/placeholder-{{ placeholder_number }}.svg" alt="Placeholder" class="zoom-image">
									{% else %}
										<img src="/images/blog/thumbs/placeholder-{{ random_number }}.svg" alt="Placeholder" class="zoom-image">
									{% endif %}
								{% endif %}
							</div>
							<div class="postdetails">
								{% if item.tags %}
								<div class="tags">
									{% for tag in item.tags %}
										<span class="tag">{{ tag }}</span>
									{% endfor %}
									{% if item.length %}
										<span class="length">{{ item.length }}</span>
									{% endif %}
								</div>
								{% endif %}
								<h3>{{ item.title }}</h3>
								<div class="meta">
									<div class="date">{{ item.date | date: "%Y-%m-%d" }}</div>
									<div class="author">{{ item.author | default: "DuckDB" }}</div>
								</div>
							</div>
						</div>
					{% else %}
						{% if item.external_post_url %}
							{% assign is_external = true %}
							{% assign post_link = item.external_post_url %}
							{% assign link_target = "_blank" %}
							{% assign link_rel = "noopener noreferrer" %}
						{% else %}
							{% assign is_external = false %}
							{% assign post_link = item.url %}
							{% assign link_target = "_self" %}
							{% assign link_rel = "" %}
						{% endif %}
						<div class="postpreview {% if page.collection == 'events' %}eventpreview{% endif %} {{ tag_classes | downcase | slugify }}{% if is_external %} external-post{% endif %}" data-title="{{ item.title | escape }}">
							<a href="{{ post_link }}" class="blocklink" target="{{ link_target }}"{% if link_rel != "" %} rel="{{ link_rel }}"{% endif %}></a>
							<div class="postimg custom">
								{% if item.thumb %}
									<img src="{{ item.thumb }}" alt="{{ item.title }}" class="zoom-image">
								{% else %}
									{% if page.collection == "science" %}
										{% assign placeholder_number = forloop.index | modulo: 2 | plus: 1 %}
										<img src="/images/science/thumbs/placeholder-{{ placeholder_number }}.svg" alt="Placeholder" class="zoom-image">
									{% else %}
										<img src="/images/blog/thumbs/placeholder-{{ random_number }}.svg" alt="Placeholder" class="zoom-image">
									{% endif %}
								{% endif %}
							</div>
							<div class="postdetails">
								{% if item.tags %}
								<div class="tags">
									{% if page.collection == "events" %}
										<span class="eventdate">{{ item.date | date: "%Y-%m-%d" }}</span>
									{% endif %}
									{% for tag in item.tags %}
										<span class="tag">{{ tag }}</span>
									{% endfor %}
								</div>
								{% endif %}
								<h3><a href="{{ post_link }}" target="{{ link_target }}"{% if link_rel != "" %} rel="{{ link_rel }}"{% endif %}>{{ item.title }}</a></h3>
								<div class="meta">
									{% if page.collection == 'events' %}
										<div class="venue">{{ item.venue | default: "Venue not specified" }}</div>
									{% else %}
										{% if is_external %}
											<div class="external-source">{{ item.external_post_url | extract_domain }}</div>
										{% endif %}
										<div class="date">{{ item.date | date: "%Y-%m-%d" }}</div>
									{% endif %}
									<div class="author">{{ item.author | default: "DuckDB" }}</div>
								</div>
							</div>
						</div>
					{% endif %}
					{% assign recent_count = recent_count | plus: 1 %}
				{% endif %}
			{% endfor %}
		</div>
		<a href="{{ site.url }}{% if page.collection == "events" %}/events/{% elsif page.collection == "library" %}/library/{% elsif page.collection == "everywhere" %}/everywhere/{% else %}/news/{% endif %}" class="button transparent arrow-right">
			All {% if page.collection == "events" %}events{% elsif page.collection == "library" %}library resources{% elsif page.collection == "everywhere" %}everywhere posts{% else %}blog posts{% endif %} <span></span>
		</a>
	</div>
</section>
