---
layout: postarchive
title: Media
excerpt: The media page contains talks and podcast episodes about DuckDB.
---

{% assign all_tags = "" %}
{% for event in site.media %}
	{% assign all_tags = all_tags | append: media.tags | join: "," | append: "," %}
{% endfor %}
{% assign unique_tags = all_tags | split: "," | uniq | sort %}

<div class="wrap">
	<div class="controls filterbar" data-all-available="{{ unique_tags | join: ', ' }}">
		<input type="text" id="search-input" placeholder="Search...">
		<div class="filtertags">
			<div class="filter-highlight"></div>
			<button type="button" class="filter-btn active" data-filter="*">All</button>
			<button type="button" class="filter-btn" data-filter=".talk">Talk</button>
			<button type="button" class="filter-btn" data-filter=".podcast">Podcast</button>
			<button type="button" class="filter-btn" data-filter=".updates">Updates</button>
			<button type="button" class="filter-btn" data-filter=".overview">Overview</button>
			<button type="button" class="filter-btn" data-filter=".deep-dive">Deep Dive</button>
		</div>
	</div>
</div>

<div class="post-list wrap">
	<div class="newstiles">
		{% assign sorted_media = site.media | sort: 'date' | reverse %}
		{% for media in sorted_media %}
			{% assign random_number = forloop.index | modulo: 3 | plus: 1 %}
			{% assign tag_classes = "" %}
			{% for tag in media.tags %}
				{% assign slugified_tag = tag | slugify %}
				{% assign tag_classes = tag_classes | append: slugified_tag | append: " " %}
			{% endfor %}
			<div class="mediapreview postpreview {{ tag_classes | downcase }}" data-title="{{ media.title | escape }}">
				<a href="/media/{{ media.slug | default: media.title | slugify }}/" title="{{ media.title }}" class="blocklink"></a>
				<div class="postimg custom">
					{% if media.thumb %}
						<img src="{{ media.thumb }}" alt="{{ media.title }}" class="zoom-image">
					{% else %}
						<img src="/images/blog/thumbs/placeholder-{{ random_number }}.svg" alt="Placeholder" class="zoom-image">
					{% endif %}
				</div>
				<div class="postdetails">
					{% if media.tags %}
					<div class="tags">
						{% for tag in media.tags %}
							<span class="tag">{{ tag }}</span>
						{% endfor %}
						{% if media.length %}
						  <span class="length">{{ media.length }}</span>
						{% endif %}
					</div>
					{% endif %}
					<h3>{{ media.title }}</h3>
					<div class="meta">
						<div class="date">{{ media.date | date: "%Y-%m-%d" }}</div>
						<div class="author">{{ media.author }}</div>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
</div>