$duckDByellow: #fff100;
$duckDBlightyellow: #fffee6;
$purple: #7D66FF;
$blue: #4396D7;
$lightpurple: #D9D2FF;
$duckDBgrey: #ebebeb;
$duckDBblue: #e0f1fd;
$duckDBlightgrey: #f5f5f5;

$black600: #626262;
$black500: #7D7D7D;
$black400: #B8B8B8;
$black300: #CFCFCF;
$black200: #E5E5E5;
$black100: #F5F5F5;
$black50: #FAFAFA;

$fontMono:  "JetBrainsMono-Regular", "Lucida Console", monospace;
$fontMonoBold: "JetBrainsMono-Bold", "Lucida Console", monospace;
$fontMonoItalic: "JetBrainsMono-Italic", "Lucida Console", monospace;
$fontMonoItalicBold: "JetBrainsMono-Bold-Italic", "Lucida Console", monospace;

$fontSans: "SuisseIntl", Helvetica, Arial, sans-serif;

$maxContentWidth: 1150px;
$maxContentWidthOld: 950px;

$fontSizeh1: 47px;
$fontSizeh2: 37px;
$fontSizeh3: 28px;
$fontSizeh4: 22px;
$fontSizep: 18px;
$fontSize16: 16px;

$docuh1: 31px;
$docuh2: 28px;
$docuh3: 24px;
$docuh4: 20px;