$duckDByellow: #fff100;
$duckDBlightyellow: #fffee6;
$purple: #7D66FF;
$lightpurple: #D9D2FF;
$duckDBgrey: #ebebeb;
$duckDBblue: #e0f1fd;
$duckDBlightgrey: #f5f5f5;

$fontMono:  "JetBrainsMono-Regular", "Lucida Console", monospace;
$fontMonoBold: "JetBrainsMono-Bold", "Lucida Console", monospace;
$fontMonoItalic: "JetBrainsMono-Italic", "Lucida Console", monospace;
$fontMonoItalicBold: "JetBrainsMono-Bold-Italic", "Lucida Console", monospace;

$fontSans: "SuisseIntl", Helvetica, Arial, sans-serif;

$maxContentWidth: 1150px;
$maxContentWidthOld: 950px;

$fontSizeh1: 47px;
$fontSizeh2: 37px;
$fontSizeh3: 28px;
$fontSizeh4: 22px;
$fontSizep: 18px;
$fontSize16: 16px;
