---
layout: default
event: true
title: "DuckCon #7 in Amsterdam"
author: Mark Raasveldt, Hannes Mühleisen, Gabor Szarnyas
thumb: "/images/events/thumbs/duckcon-7-amsterdam.svg"
image: "/images/events/thumbs/duckcon-7-amsterdam.png"
excerpt: ""
tags: ["DuckCon"]
body_class: duckcon7
force_dark: true
venue: "Royal Tropical Institute, Amsterdam"
description: "We're hosting DuckCon #7 in our home town of Amsterdam on Wednesday, June 24."
toc: false
redirect_from:
- /dc7
- /duckcon7
---

<section class="hero">
  <picture>
    <source media="(max-width: 640px)" srcset="{% link images/events/duckcon7/duckcon_hero-bg-mobile.svg %}">
    <img class="hero-image" src="{% link images/events/duckcon7/duckcon_hero-bg.svg %}" alt="DuckCon #7 in Amsterdam">
  </picture>
  <div class="hero-center">
    <h1 class="display-1">DuckCon&nbsp;#7 Amsterdam</h1>
    <div class="hero-center-actions">
      <a class="button black" href="https://luma.com/dj4svsmm" target="_blank">Register</a>
      <!--<a class="button transparent arrow-down" href="#speakers">Speakers</a>-->
    </div>
  </div>
  <footer class="hero-footer">
    <div class="hero-footer-content">
      <div class="hero-footer-column">
        <p>Royal Tropical Institute <br/>Amsterdam</p>
      </div>
      <div class="hero-footer-column">
        <p>2026-06-24 <br/>15:00–20:00</p>
      </div>
    </div>
    <a class="hero-footer-button" href="#program"><svg class="icon"><use href="#arrow-down"></use></svg></a>
  </footer>
</section>

<!--
<section class="announcement w-large" id="announcement">
  <p class="wrap">We're hosting DuckCon #7 in the <a href="https://www.kit.nl/about-us/">Royal Tropical Institute</a>, Amsterdam, on Wednesday, June 24.</p>
</section>
-->

<section class="program w-large" id="program">
  {% include duckcon7/section_header.html title="Program" description="Discover where DuckDB is headed and how our community uses it at DuckCon #7." %}
  <div class="wrap table-section">
    {% for day in site.data.duckcon7.program %}
      <h3 class="table-section-title">{{ day.title }}</h3>
      {% for session in day.sessions %}
      <table>
        <thead>
          <tr>
            <th></th>
            <th class="title-1 table-title">{{ session.title }}</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for talk in session.timetable %}
          <tr>
              <td>{{ talk.time }}</td>
              <td>{{ talk.title }}</td>
              <td>{{ talk.speaker }}</td>
              <td>{% if talk.livestream_url %}<a class="button yellow" href="{{ talk.livestream_url }}" target="_blank" rel="noopener noreferrer">Join Livestream</a>{% endif %}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      {% endfor %}
    {% endfor %}
  </div>
  <hr class="divider" />
</section>

<section class="map w-large" id="venue">
  <div class="wrap">
    <ul class="map-menu text-secondary-color">
      <li>
        <a href="https://maps.apple/p/GhSQkWc9z1s1Wf">Apple Maps</a>
      </li>
      <li>
        <a href="https://maps.app.goo.gl/VsutKNqkH2S9Zk3ZA" target="_blank" rel="noopener noreferrer">Google Maps</a>
      </li>
    </ul>
     <div class="js-duckcon7-map embedded-map" id="duckcon7-map" data-lat="52.3627833" data-lng="4.9205426" data-label="Royal Tropical Institute"></div>
  </div>
  <hr class="divider" />
</section>

<section class="sponsors" id="sponsors">
  {% include duckcon7/section_header.html title="Sponsorship options" description="We are looking for sponsors – help us make DuckCon #7 a success!<br>See our <a href='http://blobs.duckdb.org/merch/duckcon-7-amsterdam-sponsorship-brochure.pdf'>sponsorship packages</a> and <a href='mailto:gabor@duckdblabs.com'>reach out to us</a>." %}
  <ul class="sponsors-list">
    <li>
      
    </li>
  </ul>
  <hr class="divider" />
</section>

<section class="slider">
  <div class="swiper js-duckcon7-slider">
    <div class="swiper-wrapper">
      {% for image in site.data.duckcon7.intro_slider %}
      <div class="swiper-slide">
        <img src="{{ image.image }}" alt="{{ image.description }}">
        <p class="text-secondary-color">{{ image.description }}</p>
      </div>
      {% endfor %}
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
  <hr class="divider" />
</section>

<section class="reach_out" id="reach_out">
  {% include duckcon7/section_header.html title="Any questions?" description="If you have any questions or any special requirements (e.g., dietary restrictions),<br>don't hesitate to <a href='mailto:gabor@duckdblabs.com'>contact us</a>!" %}
</section>

<!--
<section class="speakers w-large" id="speakers">
  <div class="wrap">
    {% include duckcon7/section_header.html title="Speakers" description="Meet the engineers, advocates, and innovators advancing embedded analytical databases. DuckCon speakers deliver the technical depth and real-world insight you need—whether you're optimizing queries, building extensions, or scaling DuckDB in production." %}
    <ul class="speakers-list">
      {% if site.data.duckcon7.speakers %}
        {% for speaker in site.data.duckcon7.speakers %}
        <li class="speaker-item">
          <article class="postpreview">
            <a href="{{ speaker.url }}" class="blocklink" title="{{ speaker.name }}" target="_blank" rel="noopener noreferrer"></a>
            <div class="postimg custom">
              {% if speaker.image %}
                <img src="{{ speaker.image }}" alt="{{ speaker.name }}" class="zoom-image"/>
              {% else %}
                {% assign placeholder_number = forloop.index | modulo: 3 | plus: 1 %}
                <img src="/images/blog/thumbs/placeholder-{{ placeholder_number }}.svg" alt="Placeholder" class="zoom-image"/>
              {% endif %}
            </div>
            <div class="postdetails">
              <h3 class="headline-3">{{ speaker.name }}</h3>
              <div class="meta text-secondary-color body-small">
                <div class="speaker">{{ speaker.title }}</div>
              </div>
            </div>
          </article>
        </li>
        {% endfor %}
      {% endif %}
      </ul>
  </div>
  <hr class="divider" />
</section>
-->
<!--
<section class="venue" id="venue">
  {% include duckcon7/section_header.html title="Venue" description="" %}
</section>
<section class="slider">
  <div class="swiper js-duckcon7-slider">
    <div class="swiper-wrapper">
      {% for image in site.data.duckcon7.venue_slider %}
      <div class="swiper-slide">
        <img src="{{ image.image }}" alt="{{ image.description }}">
        <p class="text-secondary-color">{{ image.description }}</p>
      </div>
      {% endfor %}
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
  <hr class="divider" />
</section>
-->
<!--
<section class="venue-access w-large">
  {% include duckcon7/section_header.html title="Accessing the venue" description="" %}
  {% if site.data.duckcon7.venue_access %}
    <div class="wrap feature-list">
      <ul class="flexwrap feature-list">
        {% for venue_access in site.data.duckcon7.venue_access %}
          <li class="featurebox">
            <img class="icon" src="{{ venue_access.icon }}" alt="{{ venue_access.title }}" />
            <h3 class="title-1">{{ venue_access.title }}</h3>
            <p class="body-small text-secondary-color">{{ venue_access.description }}</p>
            <a href="{{ venue_access.url }}" class="textbutton arrow-right">Read more</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
</section>
-->

<!--
<section class="join-us">
  <div class="card max-width-small">
    {% include duckcon7/section_header.html title="Join us for DuckCon #7!" description="Registration for DuckCon #7 is now officially open! Limited amount of spots available." %}
    <button class="button yellow">Register now</button>
  </div>
</section>
-->
