@use 'sass:color';
@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

img.downloadlogo{
	width: 180px;
}

header .headerline .headercontent .landingmenu nav a:hover,
footer .sitefooter .footercontent > div a:hover {
	color: var(--orange-50);
}

header .headerline .headercontent .header-actions {
	display: flex;
	align-items: center;
	gap: 15px;
	z-index: 25;
	font-size: 15px;

	a.duckdb-link {
		display: flex;
		align-items: center;
		gap: 5px;
		text-decoration: none;
		color: var(--menu-topmenu-text-color, #F2F2F2);
		transition: color .3s;
		.icon {
			width: 16px;
			height: 16px;
			color: var(--main-text-secondary-color, #B2B2B2);
			transition: color .3s;
		}
		&:hover {
			color: var(--orange-50);
			.icon {
				color: var(--orange-50);
			}
		}
	}
}

/** DUCKDB-LABS LANDING PAGE STYLES **/
body.landing{
	h1{
		@include display-2();
	}
	
	section.welcome{
		padding-top: 84px; 
		
		h1{
			@include display-1();
		}
		.duckdblabs{
			margin: 0 auto;
			max-width: 750px;
			text-align: center;
			display: flex;
			flex-direction: column;
			row-gap: 25px;
			p{
				margin: 0 auto;
				max-width: 650px;
			}
		}
		.type{
			display: inline-block;
			white-space: nowrap;
			border-bottom: 10px solid var(--orange-50);
			line-height: 0.8em;
			margin-top: 0.2em;
			margin-bottom: 0.12em;
			.typecursor{
				font-weight: 450;
				margin-left: 1px;
				transform: translateY(-.025em);
				animation: Typewriter-cursor 1s infinite;
			}
			@keyframes Typewriter-cursor{
				0%{opacity:0}
				50%{opacity:1}
				100%{opacity:0}
			}
		}
	}
	

	section.support{
		padding-top: 30px;
	}
	
	
	
	section.introduction{
		svg path.triangle{
			fill: #FF6900;
		}
	}
	
	section.blog{
		h1, .cta{
			text-align: center;
		}
		.newstileswrap{
			margin-top: 50px;
		}
		.postpreview .postimg{
			background: #1a1a1a;
		}
	}
	
	
}

body.landing section.about-cards{
	padding-top: 0;
}

/** CARD GRID (duckdblabs override) **/
.card-grid .card{
	background: var(--main-infobox-labs-background-color, rgba(26, 26, 26, 0.60));
	border: 1px solid var(--main-infobox-labs-border-color, rgba(51, 51, 51, 0.60));
}

/** LOGO GRID **/
.logo-grid-section{
	max-width: 846px;
	margin: 0 auto;
	margin-top: 90px;

	.pre-title{
		text-align: center;
		text-transform: uppercase;
		font-size: var(--type-pre-title, 12px);
		letter-spacing: 0.1em;
		color: var(--main-quaternary-color, #666);
		margin-bottom: 25px;
	}
	.logo-grid{
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		border: 1px solid var(--main-infobox-labs-border-color, rgba(51, 51, 51, 0.60));
		border-radius: 15px;
		overflow: hidden;

		.logo-cell{
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 20px 24px;
			border-right: 1px solid var(--main-infobox-labs-border-color, rgba(51, 51, 51, 0.60));
			border-bottom: 1px solid var(--main-infobox-labs-border-color, rgba(51, 51, 51, 0.60));
			&:nth-child(4n){
				border-right: none;
			}
				img{
				height: 48px;
				width: auto;
				filter: invert(1) opacity(0.5);
			}
		}
	}
	.read-more{
		display: block;
		text-align: right;
		margin-top: 10px;
		font-size: var(--type-tiny, 10px);
		color: var(--main-quaternary-color, #666);
		text-decoration: underline;
		margin-right: 3px;
		&:hover{
			color: var(--orange-50);
		}
	}
}

/** WHY **/
section.why-partner{

}

/** JOBS SECTION **/
section#jobs{
	.jobs_collection{
		margin: 0 auto;
		margin-top: 50px;
		border-radius: 15px;
		border: 1px solid var(--doc-codebox-border-color, #E6E6E6);
		background: var(--main-codebox-main-background-color, rgba(250, 250, 250, 0.60));
		box-shadow: 0px 0px 21px 0px rgba(255, 105, 0, 0.12);
		backdrop-filter: blur(13px);
		h2{
			margin: 0;
			font-size: var(--type-headline-3, 24px);
			padding: 20px;
			border-bottom: 1px solid var(--doc-codebox-border-color, #E6E6E6);
			span.count{
				font-size: var(--type-body-small, 14px);
				font-weight: 450;
				color: var(--main-text-tertiary-color, #B2B2B2);
				vertical-align: 2px;
			}
		}
		.no-jobs{
			padding: 20px;
			p{
				margin: 0;
			}
		}
		.job{
			display: flex;
			align-items: flex-start;
			justify-content: space-between;
			padding: 20px;
			border-bottom: 1px solid var(--doc-codebox-border-color, #E6E6E6);
			&:last-child{
				border: none;
			}
			a{
				color: var(--main-text-primary-color, #0D0D0D);
				text-decoration: none;
			}
			a.button{
				color: black;
			}
			.subline{
				color: var(--main-text-tertiary-color, #B2B2B2);
			}
		}
	}
}

/** SUPPORT SECTION **/
section.support{
	.options{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 20px;
		margin-top: 50px;
		.option{
			border: 1px solid var(--main-infobox-border-color, rgba(212, 204, 255, 0.60));
			background: var(--main-infobox-background-color, rgba(246, 245, 255, 0.60));
			backdrop-filter: blur(7px);
			border-radius: 15px;
			padding: 30px 20px;
			flex-direction: column;
			align-items: flex-start;
			width: calc(750px / 2 - 20px);
			transition: background .4s;
			&:hover{
				background: linear-gradient(180deg, var(--main-infobox-background-color, rgba(246, 245, 255, 0.36)) -2.91%, rgba(202, 162, 255, 0.09) 105.67%), var(--main-infobox-background-color, rgba(246, 245, 255, 0.60));
			}
			.tag{
				font-size: var(--type-body-small, 14px);
			}
			h2{
				font-size: var(--type-headline-2, 28px);
				margin-top: 15px;
			}
			hr{
				outline: 0;
				border: none;
				border-top: 1px solid var(--main-infobox-border-color, rgba(212, 204, 255, 0.60));
			}
			ul {
				list-style: none;
				padding: 0;
				margin: 2rem 0;
			
				li {
					position: relative;
					padding-left: 1.5rem;
					margin-bottom: 1rem;
					line-height: 1.4;
			
					&::before {
						content: '';
						position: absolute;
						left: 0;
						top: 3px;
						width: 16px;
						height: 16px;
						background-size: contain;
						background-repeat: no-repeat;
					}
			
					&.positive::before {
						background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='15' fill='none'%3E%3Cpath fill='%23FF6900' d='M7.5 0C3.364 0 0 3.365 0 7.5 0 11.636 3.365 15 7.5 15c4.136 0 7.5-3.364 7.5-7.5S11.636 0 7.5 0Zm0 13.5c-3.308 0-6-2.692-6-6s2.692-6 6-6 6 2.692 6 6-2.692 6-6 6Z'/%3E%3Cpath fill='%23FF6900' d='M5.998 8.69 4.274 6.97l-1.06 1.062L6 10.81l5.03-5.03-1.061-1.06-3.97 3.97Z'/%3E%3C/svg%3E");
					}
			
					&.negative::before {
						background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='15' fill='none'%3E%3Cpath fill='%23FF6900' d='M7.5 0C3.364 0 0 3.365 0 7.5 0 11.636 3.365 15 7.5 15c4.136 0 7.5-3.364 7.5-7.5S11.636 0 7.5 0Zm0 13.5c-3.308 0-6-2.692-6-6s2.692-6 6-6 6 2.692 6 6-2.692 6-6 6Z'/%3E%3Cpath fill='%23FF6900' d='m10.529 5.53-1.06-1.06-1.97 1.97-1.97-1.97-1.06 1.06 1.97 1.97-1.97 1.97 1.06 1.06 1.97-1.97 1.97 1.97 1.06-1.06-1.97-1.97 1.97-1.97Z'/%3E%3C/svg%3E");
					}
				}
			}
		}
	}
}

body.jobs,
body.support {
	.pagetitle{
		padding-bottom: 24px;
		text-align: center;
	}
	.section-text{
		text-align: center;
		max-width: var(--page-max-width-small, 750px);
		margin: 0 auto;
	}
}

main.job_template{
	.workatduckdblabs{
		color: var(--main-text-tertiary-color, #808080);
	}
	.workatduckdblabs + h2{
		margin-top: 10px;
	}
	section.job_content{
		padding-top: 65px;
		
		.content{
			width: calc(50% - 24px);
			ul{
				padding: 0 0 0 20px;
			}
			* + h3{
				margin-top: 1.7em;
			}
		}
	}
	.flexwrap{
		align-items: flex-start;
	}
	.applyform{
		width: calc(50% - 24px);
		border-radius: 10px;
		border: 1px solid var(--doc-codebox-border-color, #333);
		background: var(--doc-codebox-background-color, #1A1A1A);
		backdrop-filter: blur(7px);
		
		.form .formwrap{
			width: 100%;
		}
		h2{
			margin: 0;
			padding: 32px;
			font-size: var(--type-headline-2, 28px);
		}
		.formwrap{
			padding: 2px 32px 32px 32px;
		}
		.required{
			padding-right: 32px;
		}
	}
	a.backtoarchive {
		color: rgba(0, 0, 0, 0.5);
		text-decoration: none;
		-webkit-transition: color .3s;
		-o-transition: color .3s;
		transition: color .3s;
		margin-top: 60px;
		display: inline-block;
		&:hover{
			color: black;
		}
	}
}

body.career{
	h1{
		font-size: 34px;
		margin-top: 90px;
		margin-bottom: 30px;
	}
	.openpositions{
		margin-top: 50px;
	}
}


body.job_layout{
	#main_content_wrap{
		padding: 0 15px;
		margin-bottom: 100px;
	}
}

body.contact{
	section.form{
		padding-top: 65px;
		gap: 48px;
		display: flex;
		align-items: flex-start;
	}
	section.email{
		margin-top: 75px;
	}
}

.newswrap .postwrap .infoline .icon{
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='38' height='38' fill='none'%3E%3Cpath fill='%23FF6900' d='M19 0c10.511 0 19 8.489 19 19s-8.489 19-19 19S0 29.511 0 19 8.489 0 19 0Z'/%3E%3Cpath fill='%231A1A1A' d='M8.843 21.829h3.727v-5.625H8.843c-1.545 0-2.83 1.284-2.83 2.83 0 1.556 1.285 2.795 2.83 2.795ZM30.828 19c0-4.34-3.534-7.875-7.875-7.875-4.34 0-7.875 3.534-7.875 7.875s3.534 7.875 7.875 7.875 7.875-3.534 7.875-7.875Z'/%3E%3C/svg%3E");
}

footer .sitefooter .footercontent .footerlogo{
	width: 178px;
	height: 38px;
}



/** SPECIAL DUCKLAKE RESPONSIVE STYLES **/

@media only screen and (max-width: 1000px) {
	.form .sidecolumn{
		width: 290px;
	}
}

@media only screen and (max-width: 940px) {
	body.landing h1{
		max-width: unset;
	}
}

@media only screen and (max-width: 850px) {
	body.job_layout{
		section.job_content .content{
			width: 100%;
			max-width: 100%;
		}
		.applyform{
			width: 100%;
			max-width: 100%;
			margin-top: 50px;
		}
		a.backtoarchive{
			display: none;
		}
	}
}

@media only screen and (max-width: 790px) {
	body.contact section.form{
		flex-wrap: wrap;
	}
	.form .maincolumn{
		width: 100%;
		padding: 20px;
	}
	.form .sidecolumn{
		width: 100%;
	}
	main.job_template .applyform h2{
		padding: 20px;
	}
	main.job_template .applyform .formwrap{
		padding: 2px 20px 20px 20px
	}
}

@media only screen and (max-width: 690px) {
	body.landing .logo-grid-section .logo-grid{
		grid-template-columns: repeat(2, 1fr);
		.logo-cell:nth-child(4n){
			border-right: 1px solid var(--doc-codebox-border-color, #333);
		}
		.logo-cell:nth-child(2n){
			border-right: none;
		}
		.logo-cell:nth-child(n+5){
			border-bottom: 1px solid var(--doc-codebox-border-color, #333);
		}
		.logo-cell:nth-child(n+7){
			border-bottom: none;
		}
	}
	section#jobs .jobs_collection .job{
		align-items: center;
		column-gap: 15px;
		a.button span{
			display: none;
		}
	}
	section.blog .newstileswrap{
		margin-bottom: 25px;
	}
	.logo-grid-section .logo-grid{
		grid-template-columns: repeat(2, 1fr);
		.logo-cell:nth-child(4n){
			border-right: 1px solid var(--main-infobox-labs-border-color, rgba(51, 51, 51, 0.60));
		}
		.logo-cell:nth-child(2n){
			border-right: none;
		}
	}
	footer .sitefooter .footercontent .footernavigation > div{
		width: 100%!important;
	}
	main.job_template section.job_content,
	body.contact section.form{
		padding-top: 35px;
	}
	.form .maincolumn > h1{
		margin-bottom: 24px;
	}
}



/** SPECIAL DUCKLAKE DARKMODE STYLES **/

html.darkmode {
	body.landing section.support .options .option:hover{
		background: #232323;
	}
}

.logo-attributions{
	.attributions{
		margin-top: 30px;
		ul li,
		strong,
		p{
			font-size: var(--type-tiny);
		}
		ul{
			padding: 0;
			margin: 0;
			padding-left: 14px;
		}
	}
}

.post-list .newstiles .postpreview.external-post{
	//border: 1px solid var(--main-marker-border-color, #FFF100);
	border: 1px solid var(--main-blogpost-border-color, #F2F2F2);
}
