@use 'sass:color';
@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

body.design{
	
	section + section{
		margin-top: 64px;
	}
	
	.frequentlyaskedquestions{
		margin-top: 4*8px;
	}
	
	.usage-example{
		padding: 30px;
		background: white;
		display: inline-block;
		
		img{
			all: unset;
			max-width: 100%;
		}
	}
	
	.color-cards{
		display: flex;
		justify-content: flex-start;
		flex-wrap: wrap;
		gap: 8px;
	}
	
	.color-card{
		width: 169px;
		line-height: 1.37;
		white-space: nowrap;
		display: inline-block;
		
		strong{
			display: inline-block;
			margin-bottom: 8px;
			font-weight: 700;
		}
		
		&--main{
			width: auto;
		}
	}
	
}