

@use 'sass:color';
@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;


/** DUCKLAKE STYLES **/


/** General DuckLake Styles **/

::-moz-selection {
  background: #B2E2FF80;
}
::selection {
  background: #B2E2FF80;
}

main h1,
h1{
	@include display-2();
}

/*
h4{
	font-size: 20px;
	font-weight: 700;
	letter-spacing: -.02em;
}
*/

h1, h2, h3, h4, h5, h6{
	a{
		color: inherit;
	}
}

strong, b{
	font-weight: 600;
}

svg *[stroke],
svg path{
	transition: all .3s;
}

.textbutton:hover{
	color: var(--blue-70, #2eafff);
}

.banner{
	background: var(--lake-ribbon-background-color, #99D8FF);
	color: var(--main-text-primary-color, #F2F2F2);
	z-index: 800;
	a{
		text-decoration: none;
	}
	a:hover{
		text-decoration: underline;
		text-underline-offset: 2px;
	}
}

header .headerline .headercontent .landingmenu nav .hasSub:hover a,
header .headerline .headercontent .landingmenu nav a:hover,
header .headerline .headercontent .landingmenu nav .hasSub + .submenuwrap ul li a:hover{
	color: var(--blue-60, #2eafff);
}

.cards{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 20px;
	&.vertical.images{
		.card{
			position: relative;
			width: calc(50% - 10px);
			border-radius: 10px;
			border: 1px solid var(--lake-infobox-border-color, rgba(204, 235, 255, 0.60));
			background: var(--lake-infobox-primary-background-color, rgba(229, 245, 255, 0.60));
			backdrop-filter: blur(7px);
			color: var(--main-text-primary-color, #0D0D0D);
			.image{
				width: 100%;
				aspect-ratio: 16/9;
				background: #ffffff66;
			}
			.content{
				padding: 30px 20px;
				display: flex;
				flex-wrap: wrap;
				flex-direction: column;
				gap: 20px;
				p{
					margin: 0;
				}
			}
		}
	}
	&.horizontal.icons,
	&.vertical.icons{
		justify-content: flex-start;
		.card{
			position: relative;
			width: calc( (100% - 60px) / 4);
			padding: 30px 20px;
			border-radius: 15px;
			border: 1px solid var(--lake-infobox-border-color, rgba(204, 235, 255, 0.60));
			background: var(--lake-infobox-primary-background-color, rgba(229, 245, 255, 0.60));
			backdrop-filter: blur(7px);
			.icon{
				width: 50px;
				height: 50px;
				margin-bottom: 20px;
				position: relative;
				overflow: hidden;
				img{
					object-fit: contain;
					object-position: center center;
					width: 100%;
					height: 100%;
				}
			}
			.content{
				h3{
					@include title-1();
					margin-bottom: 15px;
				}
				p{
					@include body-standard();
					margin: 0;
				}
			}
		}
	}
	&.horizontal.icons{
		row-gap: 50px;
		.card{
			width: calc( (100% / 6) * 4);
			border: 1px solid var(--lake-infobox-border-color, rgba(204, 235, 255, 0.60));
			background: var(--grey-transparent-95, rgba(242, 242, 242, 0.60));
			backdrop-filter: blur(21.5px);
			display: flex;
			gap: 20px;
			flex-wrap: wrap;
			.icon{
				margin-bottom: 0;
				img{
					object-position: top center;
				}
			}
			.content{
				width: calc(100% - 70px);
				h3{
					font-weight: 600;
					margin-bottom: 10px;
				}
			}
			&:nth-child(even){
				margin-left: auto;	
			}
		}
	}
}


/** Landing page styles **/
body.landing{
	@include body-standard();
	section.welcome{
		background: linear-gradient(180deg, var(--lake-background-gradient-start, #F5FBFF) 0%, var(--lake-background-gradient-end, #E5F5FF) 100%);
		padding-bottom: 130px;
		.ducklake{
			margin: 0 auto;
			max-width: 770px;
			text-align: center;
			display: flex;
			flex-direction: column;
			row-gap: 25px;
			p{
				margin: 0;
			}
		}
		
	}
	section.architecture{
		padding-top: 80px;
	}
	.wave{
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 364.8 28.6'%3E%3Cpath d='M364.8 0h-.1c-45.5 0-68.3 4.2-91.1 8.3-22.8 4.2-45.5 8.3-91 8.3s-68.3-4.2-91.1-8.3C68.7 4.2 45.9 0 .4 0H0v28.6h364.8V0Z' style='fill:%23fbfbfb'/%3E%3C/svg%3E");
		width: 100%;
		height: 30px;
		background-size: contain;
		background-repeat: repeat-x;
		transform: translateY(-20px);
		position: relative;
		z-index: 200;
		background-position: 0 bottom;
		animation: waveMove 20s linear infinite;
	}
	@keyframes waveMove {
		0% { background-position-x: 0; }
		100% { background-position-x: 1000px; }
	}
	section#quickinstall{
		.wrap{
			.install{
				margin: 0 auto;
				margin-top: 50px;
				width: 750px;
			}
		}
		&:after{
			display: none;
		}
	}
	section{
		.section-text{
			//max-width: 640px;
			max-width: 700px;
			text-align: center;
			margin: 0 auto;
		}
	}
	h1{
		@include display-1();
	}
	h2{
		@include display-2();
		text-align: center;
	}
	h3{
		@include display-3();
	}
	
	h2 + div{
		margin-top: 50px;
	}
	.faq{
		.frequentlyaskedquestions{
			margin-top: 50px;
		}
		.cta{
			margin-top: 50px;
			text-align: center;
		}
	}
	
}

.newswrap .postwrap .infoline .icon{
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='58' height='58' fill='none' viewBox='0 0 58 58'%3E%3Cpath fill='%230D0D0D' d='M29.04.257C13.193.257.297 13.152.297 29c0 15.848 12.896 28.743 28.743 28.743 15.848 0 28.743-12.895 28.743-28.743C57.783 13.152 44.888.257 29.04.257Z'/%3E%3Cpath fill='%232EAFFF' fill-rule='evenodd' d='M26.603 15.4c5.226 0 9.773 2.804 12.244 6.989h2.583v.015c3.565 0 6.572 2.867 6.58 6.506h.015c0 3.615-2.965 6.58-6.58 6.58h-1.912c-2.165 4.738-6.848 8.084-12.34 8.308l-.59.012-.731-.019c-7.51-.38-13.473-6.58-13.474-14.185v-.017c0-7.85 6.354-14.204 14.205-14.204v.014Zm0 4.312c-5.446 0-9.877 4.417-9.877 9.877v.017c0 5.445 4.416 9.877 9.877 9.877a9.876 9.876 0 0 0 9.395-6.822l.484-1.498h4.962c1.206 0 2.245-1.02 2.253-2.238h-.014c0-1.195-.998-2.209-2.253-2.209h-5.28l-.575-1.256a9.853 9.853 0 0 0-8.972-5.748Z' clip-rule='evenodd'/%3E%3C/svg%3E");
}

@keyframes spin {
	0% { transform: translate(-50%, -50%) rotate(0deg); }
	100% { transform: translate(-50%, -50%) rotate(360deg); }
}

section.architecture {
	.illustration {
		//width: calc(100% - 450px);
		width: 750px;
		margin: 50px auto 0;
	}
	.diagram {
		display: flex;
		padding: 20px;
		gap: 15px;

		.client,
		.database,
		.storage {
			border-radius: 15px;
			border: 1px solid var(--doc-codebox-border-color, #E6E6E6);
			background: var(--doc-codebox-background-color, #F2F2F2);
			padding: 15px;
			position: relative;

			h4 {
				font-size: 17px;
				font-weight: 600;
			}

			&:hover {
				border-color: var(--lake-infobox-border-color, rgba(204, 235, 255, 0.60));

				.hover-content {
					visibility: visible;
					opacity: 1;
				}
			}
		}

		.client {
			width: 60%;
			overflow: hidden;
			height: 393px;

			.browser-wrap {
				width: 100%;
				margin-top: 60px;
				position: relative;
				
				.browser {
					width: 285px;
					transition: all 0.5s;
				}
				
			}

			.browser.multi {
				opacity: 0;
				pointer-events: none;
				position: absolute;
				top: 0;
				left: 50px;
				z-index: 10;
				transform: translate(0,0);
			}

			.browser {
				position: relative;
				left: 50px;
				transition: all 0.4s;
				z-index: 20;
				
				>img {
					width: 100%;
					height: auto;
					z-index: 50;
					position: relative;
				}

				.broser-content {
					position: absolute;
					top: 60px;
					width: 100%;
					display: flex;
					justify-content: center;
					align-items: center;
					gap: 12px;
					z-index: 60;
					transition: all 0.3s;
				}

				.ducklake{
					display: flex;
					flex-direction: column;
					align-items: center;
					position: relative;
					
					transition: all 0.4s;

					img {
						height: 70px;
						width: 70px;

						&.active-icon {
							opacity: 1;
							visibility: visible;
						}
					}

					.sub {
						margin-top: 5px;
						text-align: center;
						transition: all 0.4s;
					}
				}
			}
			
			.browser-wrap.contains-multi{
				.browser.multi{
					opacity: 1;
					transform: translate(10px, 10px);
				}
				.browser:not(.multi){
					transform: translate(-10px, -10px);
					filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.05));
				}
			}
		}

		.hover-content {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 100;
			border-radius: 15px;
			background: var(--lake-architecture-background-hover, #E5F5FF);
			padding: 15px;
			visibility: hidden;
			opacity: 0;
			transition: all 0.3s;
			cursor: default;

			>div {
				display: none;

				&.active-item {
					display: block;
				}
			}

			h4 {
				color: var(--blue-40, #357197);
			}

			p {
				@include body-small();
				color: var(--main-text-secondary-color, #666);
			}
		}

		.connector {
			position: absolute;
			bottom: 30px;
			height: 10px;
			width: 50px;
			left: calc(-28px - 8px);
			z-index: 101;

			svg {
				width: 100%;
				height: auto;
			}
		}

		.sub {
			color: var(--main-text-secondary-color, #666);
			font-size: 14px;
		}

		.storage .folder,
		.database .catalog {
			height: 140px;
			padding: 30px;
			text-align: center;

			img {
				width: 80px;
			}
		}
		
		.storage .folder .sub{
			margin-top: 6px;
		}

		.database .catalog {
			>img {
				width: 65px;
				transform: translateX(-10px);
			}

			.icons {
				position: absolute;
				top: 100px;
				right: calc(50% - 20px);
				transform: translate(50%);
				width: 100px;
				height: 50px;

				img {
					width: 50px;
					height: 50px;
					position: absolute;
					left: 50%;
					top: 0;
					transform: translateX(-30%);
					opacity: 0;
					visibility: hidden;
					transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, transform 0.4s ease-in-out;

					&.active-icon {
						opacity: 1;
						visibility: visible;
						transform: translateX(-50%);
					}
				}

				.sub {
					position: absolute;
					width: 100%;
					top: 55px;
					left: 0;
					text-align: center;
				}
			}
		}
	}

	.database-storage {
		width: calc(40% - 15px);
		display: flex;
		flex-direction: column;
		gap: 15px;
	}
}

.topbar{
	.hoverlabel{
		color: var(--main-text-tertiary-color, #B2B2B2);
		position: absolute;
		left: 385px;
		top: 33px;
		pointer-events: none;
		opacity: 0;
		transition: opacity .3s;
	}
	ul:hover + .hoverlabel{
		opacity: 1;
	}
}

/** DOCS / SPECIFICATION **/
body.documentation #ducklake_logo{
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2009.046 360'%3E%3Cpath d='M180 0C80.59 0 0 80.59 0 180c0 99.408 80.59 180 180 180s180-80.592 180-180C360 80.59 279.41 0 180 0Z'/%3E%3Cpath fill='%232eafff' fill-rule='evenodd' d='M159.955 93.723c32.727 0 61.364 17.59 76.5 43.773h16.364c22.5 0 41.318 18 41.318 40.908 0 22.5-18.41 41.318-41.318 41.318h-11.864c-13.5 29.864-42.955 50.727-77.318 51.955h-8.182c-47.046-2.455-84.273-41.319-84.273-88.773 0-49.09 39.682-89.181 88.773-89.181Zm0 27c-33.955 0-61.773 27.818-61.773 61.773 0 34.362 27.818 61.772 61.773 61.772 27.409 0 50.727-18 58.909-42.546l2.864-9.409h31.09c7.364 0 13.91-6.545 13.91-13.91 0-7.362-6.137-13.907-13.91-13.907h-33.136L216 156.722c-9.818-21.273-31.09-36-56.045-36Z'/%3E%3Cpath d='M666.26 209.212c0 15.954-4.5 29.304-21.273 29.304s-21.273-13.35-21.273-29.304v-67.91h-30.273v74.455c0 29.045 23.319 45.978 51.546 45.978s51.546-16.933 51.546-45.978v-74.455H666.26v67.91ZM487.467 100.63h-46.923v158.23h46.923c50.196 0 87.953-16.369 87.953-79.224 0-62.855-37.757-79.005-87.953-79.005Zm-1.31 133.786h-14.404V125.074h14.404c28.809 0 56.963 7.202 56.963 54.562 0 47.796-28.154 54.78-56.963 54.78ZM775.86 238.345c-16.586 0-28.372-13.75-28.372-38.412 0-24.444 12.44-37.757 28.154-37.757 11.567 0 22.043 8.075 24.443 19.425h28.809c-4.147-29.028-28.59-42.777-53.252-42.777-35.138 0-58.927 25.753-58.927 61.545 0 35.574 22.48 61.328 57.617 61.328 24.444 0 48.67-10.694 55.653-42.776h-28.808c-4.147 13.968-14.84 19.424-25.317 19.424ZM954.385 141.443h-33.828l-42.776 47.141v-87.953h-30.119v158.228h30.119v-35.355l14.404-15.496 30.772 50.851h33.829l-44.523-72.458 42.122-44.958zM1000.435 100.631h-31.21v158.228h108.251v-25.316h-77.041V100.631zM1168.045 156.502c-6.329-11.13-18.332-17.678-33.173-17.678-28.59 0-51.724 24.444-51.724 61.327 0 37.538 23.789 61.546 51.724 61.546 12.222 0 25.536-4.584 33.173-17.678v14.84h30.118V141.443h-30.118v15.059Zm-26.407 82.06c-15.714 0-26.845-15.277-26.845-38.193 0-22.915 11.131-38.411 26.845-38.411 16.587 0 27.5 14.623 27.5 38.193 0 24.226-10.913 38.411-27.5 38.411ZM1331.731 141.443h-33.828l-42.777 47.141v-87.953h-30.118v158.228h30.118v-35.355l14.405-15.496 30.772 50.851h33.828l-44.522-72.458 42.122-44.958zM1395.023 138.824c-34.701 0-58.927 25.97-58.927 60.89 0 33.829 22.043 61.983 59.8 61.983 32.082 0 49.105-19.425 55.434-36.884h-30.99c-6.112 10.257-15.278 13.532-24.663 13.532-14.404 0-27.935-9.822-29.682-29.9h86.645c1.09-41.467-21.389-69.621-57.617-69.621Zm-28.591 48.887c2.401-19.86 17.023-26.844 28.372-26.844 12.658 0 26.626 6.984 27.281 26.844h-55.653ZM1571.032 100.63h-38.412v158.23h38.412c50.415 0 85.77-18.333 85.77-79.224 0-60.454-35.355-79.005-85.77-79.005Zm-.437 144.917h-23.352V113.944h23.352c36.01 0 70.712 7.202 70.712 65.692 0 58.49-34.701 65.91-70.712 65.91ZM1725.55 139.479c-27.936 0-53.035 18.332-53.035 61.109 0 42.776 25.099 61.11 53.034 61.11 28.154 0 53.252-18.334 53.252-61.11 0-42.777-25.098-61.11-53.252-61.11Zm0 109.778c-22.699 0-38.63-14.841-38.63-48.67 0-33.828 15.931-48.669 38.63-48.669 22.479 0 38.847 14.841 38.847 48.67 0 33.828-16.368 48.669-38.848 48.669ZM1847.547 249.257c-20.297 0-38.41-15.495-38.41-48.888 0-32.3 18.113-48.45 38.192-48.45 17.242 0 30.99 9.602 35.356 27.28h14.186c-3.492-20.951-21.388-39.72-48.232-39.72-34.265 0-53.907 24.662-53.907 61.109 0 36.01 19.642 61.11 52.815 61.11 25.972 0 45.832-15.715 50.415-39.94h-14.404c-3.492 14.622-15.932 27.499-36.01 27.499ZM1968.453 193.604l-16.586-3.055c-13.095-2.402-22.043-8.512-22.043-20.08 0-14.185 17.023-19.205 29.9-19.205 16.586 0 29.463 8.293 32.3 22.26h14.186c-2.838-18.55-19.86-34.264-45.176-34.264-26.409 0-44.96 13.75-44.96 32.3 0 18.552 15.06 27.936 31.864 31.428l18.333 3.492c15.932 3.056 29.027 7.857 29.027 21.607 0 15.714-17.678 21.606-31.864 21.606-17.897 0-33.174-8.511-35.574-26.844h-14.187c3.492 26.844 24.445 38.848 48.67 38.848 25.534 0 46.704-12.44 46.704-35.793 0-22.26-21.387-28.808-40.594-32.3Z'/%3E%3C/svg%3E");
	width: 212px;
}

html.darkmode body.documentation #ducklake_logo{
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2009.046 360'%3E%3Cpath fill='%232eafff' fill-rule='evenodd' d='M180 0C80.59 0 0 80.59 0 180c0 99.408 80.59 180 180 180s180-80.592 180-180C360 80.59 279.41 0 180 0Z'/%3E%3Cpath fill-rule='evenodd' d='M159.955 93.723c32.727 0 61.364 17.59 76.5 43.773h16.364c22.5 0 41.318 18 41.318 40.908 0 22.5-18.41 41.318-41.318 41.318h-11.864c-13.5 29.864-42.955 50.727-77.318 51.955h-8.182c-47.046-2.455-84.273-41.319-84.273-88.773 0-49.09 39.682-89.181 88.773-89.181Zm0 27c-33.955 0-61.773 27.818-61.773 61.773 0 34.362 27.818 61.772 61.773 61.772 27.409 0 50.727-18 58.909-42.546l2.864-9.409h31.09c7.364 0 13.91-6.545 13.91-13.91 0-7.362-6.137-13.907-13.91-13.907h-33.136L216 156.722c-9.818-21.273-31.09-36-56.045-36Z'/%3E%3Cg fill='%23fff'%3E%3Cpath d='M666.26 209.212c0 15.954-4.5 29.304-21.273 29.304s-21.273-13.35-21.273-29.304v-67.91h-30.273v74.455c0 29.045 23.319 45.978 51.546 45.978s51.546-16.933 51.546-45.978v-74.455H666.26v67.91ZM487.467 100.63h-46.923v158.23h46.923c50.196 0 87.953-16.369 87.953-79.224 0-62.855-37.757-79.005-87.953-79.005Zm-1.31 133.786h-14.404V125.074h14.404c28.809 0 56.963 7.202 56.963 54.562 0 47.796-28.154 54.78-56.963 54.78ZM775.86 238.345c-16.586 0-28.372-13.75-28.372-38.412 0-24.444 12.44-37.757 28.154-37.757 11.567 0 22.043 8.075 24.443 19.425h28.809c-4.147-29.028-28.59-42.777-53.252-42.777-35.138 0-58.927 25.753-58.927 61.545 0 35.574 22.48 61.328 57.617 61.328 24.444 0 48.67-10.694 55.653-42.776h-28.808c-4.147 13.968-14.84 19.424-25.317 19.424ZM954.385 141.443h-33.828l-42.776 47.141v-87.953h-30.119v158.228h30.119v-35.355l14.404-15.496 30.772 50.851h33.829l-44.523-72.458 42.122-44.958zM1000.435 100.631h-31.21v158.228h108.251v-25.316h-77.041V100.631zM1168.045 156.502c-6.329-11.13-18.332-17.678-33.173-17.678-28.59 0-51.724 24.444-51.724 61.327 0 37.538 23.789 61.546 51.724 61.546 12.222 0 25.536-4.584 33.173-17.678v14.84h30.118V141.443h-30.118v15.059Zm-26.407 82.06c-15.714 0-26.845-15.277-26.845-38.193 0-22.915 11.131-38.411 26.845-38.411 16.587 0 27.5 14.623 27.5 38.193 0 24.226-10.913 38.411-27.5 38.411ZM1331.731 141.443h-33.828l-42.777 47.141v-87.953h-30.118v158.228h30.118v-35.355l14.405-15.496 30.772 50.851h33.828l-44.522-72.458 42.122-44.958zM1395.023 138.824c-34.701 0-58.927 25.97-58.927 60.89 0 33.829 22.043 61.983 59.8 61.983 32.082 0 49.105-19.425 55.434-36.884h-30.99c-6.112 10.257-15.278 13.532-24.663 13.532-14.404 0-27.935-9.822-29.682-29.9h86.645c1.09-41.467-21.389-69.621-57.617-69.621Zm-28.591 48.887c2.401-19.86 17.023-26.844 28.372-26.844 12.658 0 26.626 6.984 27.281 26.844h-55.653ZM1571.032 100.63h-38.412v158.23h38.412c50.415 0 85.77-18.333 85.77-79.224 0-60.454-35.355-79.005-85.77-79.005Zm-.437 144.917h-23.352V113.944h23.352c36.01 0 70.712 7.202 70.712 65.692 0 58.49-34.701 65.91-70.712 65.91ZM1725.55 139.479c-27.936 0-53.035 18.332-53.035 61.109 0 42.776 25.099 61.11 53.034 61.11 28.154 0 53.252-18.334 53.252-61.11 0-42.777-25.098-61.11-53.252-61.11Zm0 109.778c-22.699 0-38.63-14.841-38.63-48.67 0-33.828 15.931-48.669 38.63-48.669 22.479 0 38.847 14.841 38.847 48.67 0 33.828-16.368 48.669-38.848 48.669ZM1847.547 249.257c-20.297 0-38.41-15.495-38.41-48.888 0-32.3 18.113-48.45 38.192-48.45 17.242 0 30.99 9.602 35.356 27.28h14.186c-3.492-20.951-21.388-39.72-48.232-39.72-34.265 0-53.907 24.662-53.907 61.109 0 36.01 19.642 61.11 52.815 61.11 25.972 0 45.832-15.715 50.415-39.94h-14.404c-3.492 14.622-15.932 27.499-36.01 27.499ZM1968.453 193.604l-16.586-3.055c-13.095-2.402-22.043-8.512-22.043-20.08 0-14.185 17.023-19.205 29.9-19.205 16.586 0 29.463 8.293 32.3 22.26h14.186c-2.838-18.55-19.86-34.264-45.176-34.264-26.409 0-44.96 13.75-44.96 32.3 0 18.552 15.06 27.936 31.864 31.428l18.333 3.492c15.932 3.056 29.027 7.857 29.027 21.607 0 15.714-17.678 21.606-31.864 21.606-17.897 0-33.174-8.511-35.574-26.844h-14.187c3.492 26.844 24.445 38.848 48.67 38.848 25.534 0 46.704-12.44 46.704-35.793 0-22.26-21.387-28.808-40.594-32.3Z'/%3E%3C/g%3E%3C/svg%3E");
}



body.faq,
body.manifesto{
	.wrap * + h3{
		margin-top: 1.8em;
	}
	ol,
	ul{
		padding: 0;
		margin: 0;
		padding-left: 20px;
	}
	ol li,
	ul li,
	p{
		@include body-large();
	}
	p + h4{
		margin-top: 2em;
	}
	img{
		vertical-align: bottom;
	}
	#main_content_wrap{
		img{
			width: 100%;
			height: auto;
		}
		@media only screen and (max-width: 750px) {
			padding: 15px;	
		}
	}
}

body.manifesto{
	.pagetitle{
		padding-bottom: 10px;
	}
}

/* Footer **/
footer .sitefooter .footercontent > div a:hover{
	color: var(--blue-70, #2eafff);
}


@media only screen and (max-width: 1200px) {

	section.architecture .illustration{
		width: 700px;
	}
	
	section.architecture .diagram .client .browser.multi,
	section.architecture .diagram .client .browser{
		left: 30px;
	}

}

@media only screen and (max-width: 940px) {
	.cards.horizontal.icons .card, .cards.vertical.icons .card{
		width: calc((100% - 60px) / 2);
	}
	body.landing h1{
		max-width: unset;
	}
	body.documentation #ducklake_logo{
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='38' height='38' fill='none'%3E%3Cpath fill='%231A1A1A' d='M19 0C8.524 0 0 8.524 0 19s8.524 19 19 19 19-8.524 19-19S29.476 0 19 0Z'/%3E%3Cpath fill='%232EAFFF' fill-rule='evenodd' d='M17.39 9.66a9.376 9.376 0 0 1 8.093 4.62h1.707v.01c2.357 0 4.345 1.895 4.35 4.3h.01c0 2.39-1.96 4.35-4.35 4.35h-1.264c-1.43 3.132-4.526 5.344-8.157 5.492l-.39.008-.483-.013A9.384 9.384 0 0 1 8 19.05v-.01c0-5.19 4.2-9.39 9.39-9.39v.01Zm0 2.85c-3.6 0-6.53 2.92-6.53 6.53v.01a6.531 6.531 0 0 0 12.74 2.02l.32-.99h3.28c.797 0 1.484-.674 1.49-1.48h-.01c0-.79-.66-1.46-1.49-1.46H23.7l-.38-.83a6.513 6.513 0 0 0-5.93-3.8Z' clip-rule='evenodd'/%3E%3C/svg%3E");
		width: 38px;
	}
	html.darkmode body.documentation #ducklake_logo{
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='39' height='38' fill='none'%3E%3Cpath fill='%232EAFFF' d='M19.459 0c-10.476 0-19 8.524-19 19s8.524 19 19 19 19-8.524 19-19-8.524-19-19-19Z'/%3E%3Cpath fill='%231A1A1A' fill-rule='evenodd' d='M17.849 9.66a9.376 9.376 0 0 1 8.093 4.62h1.707v.01c2.357 0 4.345 1.895 4.35 4.3h.01c0 2.39-1.96 4.35-4.35 4.35h-1.264c-1.43 3.132-4.526 5.344-8.157 5.492l-.39.008-.483-.013A9.384 9.384 0 0 1 8.46 19.05v-.01c0-5.19 4.2-9.39 9.39-9.39v.01Zm0 2.85c-3.6 0-6.53 2.92-6.53 6.53v.01a6.531 6.531 0 0 0 12.74 2.02l.32-.99h3.28c.797 0 1.484-.674 1.49-1.48h-.01c0-.79-.66-1.46-1.49-1.46h-3.49l-.38-.83a6.513 6.513 0 0 0-5.93-3.8Z' clip-rule='evenodd'/%3E%3C/svg%3E");
	}
}

@media only screen and (max-width: 730px) {
	
	section.architecture .illustration{
		width: 100%;
	}
}
@media only screen and (max-width: 690px) {
	body.landing {
		.wave{
			height: 15px;
			transform: translateY(-15px);
		}
		section.architecture{
			padding-top: 50px;
		}
		section.welcome{
			padding-bottom: 100px;
		}
	}

	.cards.horizontal.icons .card,
	.cards.vertical.icons .card {
		width: 100%;
	}
	body.landing .window .content{
		padding: 15px;
	}
	body.landing section#quickinstall .wrap .install{
		width: 100%;
	}
	
	.topbar{ 
		.hoverlabel{
			display: none;
		}
		ul{
			margin-left: 15px;
		}
	}

	section.architecture {
		.diagram {
			flex-wrap: wrap;
			padding: 15px;
			
			.client,
			.database,
			.storage {
				padding: 10px;
			}

			.client {
				width: 100%;
				height: 320px;

				.browser-wrap {
					margin-top: 0;
					display: block;
					width: 345px;
					left: 50%;
					top: 50%;
					transform: translate(-50%, calc(-50% - 25px));
					.browser {
					
						&.multi{
							opacity: 1;
						}
					
						.broser-content {
							top: 58%;
							transform: translateY(-50%);
							gap: 10px;
						}
						
					}
				}

				.browser {

					.ducklake img{
						width: 60px;
						height: 60px;
					}

					.broser-content {
						top: 48%;
						transform: translateY(-50%);
						gap: 20px;
					}
				}
			}

			.database-storage {
				width: 100%;
				flex-direction: row;
			}

			.database,
			.storage {
				width: calc(50% - 7px);
				height: 185px;
			}

			.database {
				.catalog {
					.icons {
				
						img {
							width: 45px;
							height: 45px;
						}

						.sub {
							top: 50px;
						}
					}
				}
			}

			.connector {
				bottom: unset;
				top: -15px;
				left: unset;
				right: -10px;
				transform: rotate(90deg);
			}
		}
	}
	
	@media (pointer: coarse) {
		section.architecture .diagram .client:hover .hover-content, section.architecture .diagram .database:hover .hover-content, section.architecture .diagram .storage:hover .hover-content{
			opacity: 0;
		}
	}
	
}

@media only screen and (max-width: 590px) {
	section.architecture .diagram .client {
		height: unset;
		aspect-ratio: 16 / 12;
	}
}

@media only screen and (max-width: 550px) {
	section.architecture {
		.diagram {
			.database .catalog>img {
				width: 60px;
			}

			.storage .folder img {
				width: 75px;
			}
			.client .browser-wrap{
				width: 280px;
				left: 50%;
			}
			.client .browser-wrap .browser{
				width: 220px;
			}
			.client .browser .ducklake img{
				width: 50px;
				height: 50px;
			}
		}
	}
}


section.architecture .diagram 

// General Code-Highlight Styles (Todo: Remove from docu.scss 767 to 816)
.highlight {
	border-radius: 10px;
}

.highlighter-rouge + .highlighter-rouge{
	margin-top: 1em;
}

code.highlighter-rouge,
code.language-plaintext {
	border: 1px solid var(--doc-codebox-border-color, #E6E6E6);
	background: var(--doc-codebox-background-color, #F2F2F2);
	font-family: $fontMonoMedium;
	border-radius: 3px;
	padding: 0 2px;
	margin: 0;

	em {
		font-family: $fontMonoItalicMedium;
	}
}

pre code {
	display: block;
	-webkit-box-shadow: none;
	box-shadow: none;
	@include code-large();
}

pre.highlight {
	tab-size: 4;
	-moz-tab-size: 4;
	-o-tab-size: 4;

	white-space: pre;
	overflow-x: auto;
	padding: 15px;
	margin: 0;

	&::-webkit-scrollbar {
		height: 5px;
	}

	&::-webkit-scrollbar-track {
		background: var(--doc-scrollbar-bg, #E6E6E6);
	}

	&::-webkit-scrollbar-thumb {
		background: var(--doc-scrollbar-slider, #CCC);
	}
}

div.highlight {
	width: 100%;
	position: relative;
	overflow: hidden;
	border-radius: 10px;
	background: var(--doc-codebox-background-color, #F2F2F2);
	border: 1px solid var(--doc-codebox-border-color, #D9D9D9);

	transition: border-color 0.3s;
	-webkit-transition: border-color 0.3s;
	-o-transition: border-color 0.3s;
}

.language-text div.highlight {
	border: none;
}

.language-console div.highlight {
	border: 1px solid var(--doc-warning-border-color, rgba(255, 204, 204, 0.60));
}

.language-console pre {
	background: var(--doc-warning-background-color, rgba(255, 229, 229, 0.60));
}



/** SPECIAL DUCKLAKE DARKMODE STYLES **/

html.darkmode {
	body.landing {
		.wave {
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 364.8 28.6'%3E%3Cpath d='M364.8 0h-.1c-45.5 0-68.3 4.2-91.1 8.3-22.8 4.2-45.5 8.3-91 8.3s-68.3-4.2-91.1-8.3C68.7 4.2 45.9 0 .4 0H0v28.6h364.8V0Z' style='fill:%230d0d0d'/%3E%3C/svg%3E");
		}
	}
	.banner .close{
		filter: invert(0);
	}
	img.darkmode-img{
		display: inline;
	}
	img.lightmode-img{
		display: none;
	}
	section.architecture {
		.diagram {
			.connector svg path {
				fill: #B2B2B2;
			}
			.database .catalog .icons img.duckdb,
			.client .browser .icons img.duckdb_icon{
				content: url('/images/deployment_diagram/dark/cat_icon-duckdb.svg');
			}
			.client .browser .ducklake img.ducklake_icon{
				content: url('/images/deployment_diagram/dark/ducklake_comb.svg');
			}
			.client .browser>img{
				content: url('/images/deployment_diagram/dark/window.svg');
			}
			.database .catalog .icons img.postgre{
				content: url('/images/deployment_diagram/dark/cat_icon-postgre.svg');
			}
			.storage .folder img{
				content: url('/images/deployment_diagram/dark/parquet_folder.svg');
			}
			.database .catalog .icons img.sqlite{
				content: url('/images/deployment_diagram/dark/cat_icon-sqlite.svg');
			}
			.database .catalog .icons img.mysql{
				content: url('/images/deployment_diagram/dark/cat_icon-mysql.svg');
			}
			.database .catalog > img{
				content: url('/images/deployment_diagram/dark/database.svg');
			}
		}
	}

}