@use '../abstracts/mixins' as *;

.duckcon7 {
    --primary-font-stack: "SuisseIntl", sans-serif;

    // Override the max-width for the header content
    header .headerline .headercontent {
        max-width: var(--page-max-width-large, 1150px);
    }

    // Override the padding for the main content
    &.layout_default #main_content_wrap {
        padding: 0;
    }

    .hero {
        @include code-large;
        --hero-padding: 20px;
        --hero-footer-button-size: 36px;

        height: 100vh;
        position: relative;
        color: var(--yellow-20);
        
        .hero-image {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .hero-footer {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            padding: var(--hero-padding);
        }

        .hero-footer-content {
            display: inline-flex;
            gap: 50px;
        }

        .hero-footer-column {
            flex: 1;
            white-space: nowrap;

            p {
                margin: 0;
            }
        }

        .hero-footer-button {
            @include reset-button;
            position: absolute;
            right: 0;
            left: 0;
            margin: auto;
            bottom: var(--hero-padding);
            width: var(--hero-footer-button-size);
            height: var(--hero-footer-button-size);
        }
    }

    .program {
        --first-column-width: 90px;
        --td-padding: 10px;

        table {
            display: table;
            table-layout: fixed;
        }

        thead, tbody, tr {
            width: 100%;
        }

        tr {
            display: grid;
            grid-template-columns: var(--first-column-width) 1.7fr 1fr 1fr;
        }

        td {
            border-bottom: none;
            padding: var(--td-padding);
        }

        tbody tr {
            align-items: center;

            td:first-child {
                @include code-standard;
                color: var(--main-text-secondary-color, #B2B2B2);
            }

            td:nth-child(3) {
                color: var(--main-text-tertiary-color);
            }
        }

        .table-section-title {
            margin-left: calc(var(--first-column-width) + var(--td-padding));
            margin-bottom: 30px;
        }

        .table-title {
            // Both rules are duplicates of the title-1 mixin, but we need to override the font-size and font-weight
            font-size:var(--type-title-1, 18px);
            font-weight: 600;
        }

        .button {
            text-decoration: none;
        }
    }

    .announcement {
        padding: 260px 0 80px;
        text-align: center;
        font-family: var(--primary-font-stack);
        font-size: 38px;
        line-height: 120%;
        letter-spacing: -0.095px;

        p {
            margin: 0 auto;
        }
    }

    .section-header {
        --section-header-padding: 40px;

        margin-right: auto;
        margin-left: auto;
        padding-right: var(--section-header-padding);
        padding-left: var(--section-header-padding);
        text-align: center;
        
        @media (max-width: 940px) {
            --section-header-padding: 10px;
        }
    }

    .speakers .speakers-list {
        @include reset-unordered-list;
        --columns: 2;

        display: grid;
        grid-template-columns: repeat(var(--columns), 1fr);
        grid-row-gap: 32px;
        grid-column-gap: 16px;

        .speaker-item {
            @include reset-list-item;
        }

        .postpreview {
            width: 100%;

            .postimg {
                aspect-ratio: 1;
            }

            a::after {
                display: none !important;
            }
        }

        @media (min-width: 770px) {
            --columns: 4;
        }
    }

    @media only screen and (max-width: 940px) {
        section.venue-access .feature-list .featurebox {
            width: calc(50% - 10px);
        }
    }

    @media only screen and (max-width: 660px) {
        section.venue-access .feature-list .featurebox {
            width: 100%;
        }
    }

    .sponsors {
        .sponsors-list {
            @include reset-unordered-list;
            display: flex;
            justify-content: center;

            li {
                @include reset-list-item;
            }
        }

    }

    .map {
        .map-iframe {
            border-radius: 20px;
            overflow: hidden;
        }

        .map-menu {
            @include reset-unordered-list;
            @include tiny;

            display: flex;
            justify-content: flex-end;
            gap: 25px;
            margin-bottom: 15px;

            li {
                @include reset-list-item;

                a::after {
                    display: none !important;
                }
            }
        }
    }

    .join-us .card {
        padding: 30px;
        margin: 0 auto;
        border-radius: 15px;
        border: 1px solid var(--main-infobox-border-color, rgba(212, 204, 255, 0.6));
        background-color: rgba(24, 24, 24, 0.60);
        text-align: center;

        .button {
            margin-top: 130px;
        }
    }
}