@use 'sass:color';
@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;


/** SPECIAL INSTALLATION PAGE **/

body.installation{
	main .wrap, main .wrap #main_content_wrap{
		max-width: 100%;
	}
	.yourselection{
		position: relative;
		border: 1px solid var(--doc-codebox-border-color, #E6E6E6);;
		border-radius: 15px;
		margin-top: 25px;
		.select.hide {
			opacity: 0.4;
			pointer-events: none;
			ul li{
				cursor: auto;
				border: 1px solid var(--doc-codebox-border-color, #E6E6E6);
			}
		}
		.select li.inactive {
			opacity: 0.4;
			pointer-events: none;
		}
		.select ul{
			padding-left: 0!important;
		}
	}
	main .select{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
			flex-wrap: wrap;
		border-bottom: 1px solid var(--doc-codebox-border-color, #E6E6E6);
		padding: 25px 20px;
		.info{
			@include body-small();
			width: 100%;
			margin-left: 162px;
			margin-top: 8px;
		}
		h3{
			@include title-2();
			width: 162px;
			-ms-flex-negative: 0;
				flex-shrink: 0;
			margin: 0!important;
			letter-spacing: -0.17px;
			padding-top: 8px;
		}
		ul{
			padding: 0;
			margin: 0;
			list-style: none;
			width: calc(100% - 162px);
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-ms-flex-wrap: wrap;
				flex-wrap: wrap;
			pointer-events: all;
			gap: 5px;
			-webkit-box-align: center;
				-ms-flex-align: center;
					align-items: center;
			.disabled-choice {
				opacity: 0.4;
				pointer-events: none;
				cursor: default;
			}
			li{
				line-height: 1;
				display: block;
				white-space: nowrap;
				padding: 8px 14px;
				border: 1px solid transparent;
				background-color: transparent;
				color: var(--interactive-filter-unselected-text-color, #666);
				border-radius: 50px;
				font-weight: 500;
				@include label-1();
				cursor: pointer;
				-webkit-transition: background-color .2s;
				-o-transition: background-color .2s;
				transition: background-color .2s;
				-webkit-user-select: none;
				   -moz-user-select: none;
					-ms-user-select: none;
						user-select: none;
				span.versioninfo{
					color: color.scale($duckDBlightgrey, $lightness: -40%);
				}
				&:hover{
					border: 1px solid var(--doc-codebox-border-color, #E6E6E6);
					//background-color: var(--interactive-filter-selected-background-color, #E6E6E6);
				}
				&.selected{
					background: var(--interactive-filter-selected-background-color, #E6E6E6);
					color: var(--interactive-filter-selected-text-color, #1A1A1A);
				}
			}
			.disabled-choice{
				opacity: 0.4;
				pointer-events: none;
				cursor: default;
			}
		}
		&.inactive{
			opacity: .4;
			pointer-events: none;
		}
		&.inactive ul{
			pointer-events: none;
		}
	}
	.select.hide .disabled-choice {
		opacity: 1;
	}
	.output{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		padding: 25px 20px;
		position: relative;
		h3{
			font-size: 17px!important;
			font-weight: 600!important;
			width: 162px;
			-ms-flex-negative: 0;
				flex-shrink: 0;
			margin: 0!important;
			letter-spacing: -0.17px;
			padding-top: 8px;
		}
		.result{
			@include code-standard();
			padding: 12px 12px 14px 14px;
			border-radius: 10px;
			border: 1px solid var(--doc-codebox-border-color, #E6E6E6);
			background: var(--doc-codebox-background-color, #F2F2F2);
			position: relative;
			width: calc(100% - 162px);
			pre{
				padding: 0;
				margin: 0;
			}
			a{
				word-wrap: break-word;
				word-break: break-word;
			}
			a.externallink{
				line-height: 1.6;
			}
		}
	}
	.sha256_btn,
	.sha512_btn{
		border-radius: 40px;
		border: 1px solid var(--doc-codebox-border-color, #E6E6E6);
		background: var(--main-codebox-sub-background-color, rgba(230, 230, 230, 0.60));
		cursor: pointer;
		font-family: $fontMono;
		padding: 3px 8px;
		font-weight: 600;
		font-size: 11px;
		vertical-align: bottom;
		display: inline-block;
		margin-top: 10px;
		&.active{
			color: var(--doc-menu-info-deprecated-border-color, #A899FF);
		}
	}
	.sha256.output,
	.sha512.output{
		padding-top: 0;
		display: none;
		.result{
			word-break: break-all;
		}
	}
	.link.output{
		.result a{
			display: block;
		}
	}
	.note.output{
		padding-top: 0px;
		.result{
			font-family: $fontSans;
			color: var(--main-text-primary-color, #0D0D0D);
			padding: 0;
			border: 0;
			background: transparent;
			&::before{
				content: "Note: ";
			}
		}
	}
	.possibleresults{
		display: none;
	}
	.wrap a.sha512{
		border-radius: 50px;
		background-color: $black300;
		border: 1px solid $black400;
		text-decoration: none;
		padding: 0px 7px;
		-webkit-transition: background-color .3s, border-color 3s;
		-o-transition: background-color .3s, border-color 3s;
		transition: background-color .3s, border-color 3s;
		&:hover{
			color: black;
			background-color: color.scale($black300, $lightness: -4%);
			border: 1px solid color.scale($black400, $lightness: -4%);
		}
	}
	#sidebar{
		display: none;
	}
}

body.installation{
	.environmentselect{
		background-color: color.scale($duckDBlightgrey, $lightness: -5%);
		color: black;
		border: none;
		border-bottom: 2px solid rgba(0,0,0,0.4);
		&:focus, &:active{
			outline: 0;
			border: none;
			border-radius: 0;
			border-bottom: 2px solid rgba(0,0,0,0.4);
		}
	}
}
body.installation .environment.select label.onlymobile{
	&::after{
		color: black;
	}
}