@use 'variables' as *;


@mixin display-1 {
	font-size: var(--type-display-1, 57px);
	font-weight: 600;
	line-height: 1.1;
	letter-spacing: -0.00249em;
	font-family: "SuisseIntl";
}

@mixin display-2 {
	font-size: var(--type-display-2, 45px);
	font-weight: 600;
	line-height: 1.2;
	font-family: "SuisseIntl";
}

@mixin display-3 {
	font-size: var(--type-display-3, 36px);
	font-weight: 600;
	line-height: 1.2;
	font-family: "SuisseIntl";
}

@mixin headline-1 {
	font-size: var(--type-headline-1, 32px);
	font-weight: 600;
	line-height: 1.2;
	font-family: "SuisseIntl";
}

@mixin headline-2 {
	font-size: var(--type-headline-2, 28px);
	font-weight: 600;
	line-height: 1.2;
	letter-spacing: 0.001em;
	font-family: "SuisseIntl";
}

@mixin headline-3 {
	font-size: var(--type-headline-3, 24px);
	font-weight: 600;
	line-height: 1.2;
	letter-spacing: 0.001em;
	font-family: "SuisseIntl";
}

@mixin title-1 {
	font-size: var(--type-title-1, 18px);
	font-weight: 600;
	line-height: 1.2;
	font-family: "SuisseIntl";
}

@mixin title-2 {
	font-size: var(--type-title-2, 16px);
	font-weight: 600;
	line-height: 1.2;
	letter-spacing: 0.001em;
	font-family: "SuisseIntl";
}

@mixin title-3 {
	font-size: var(--type-title-3, 14px);
	font-weight: 600;
	line-height: 1.2;
	letter-spacing: 0.001em;
	font-family: "SuisseIntl";
}

@mixin label-1 {
	font-size: var(--type-label-1, 14px);
	font-weight: 600;
	line-height: 1;
	letter-spacing: 0.001em;
	font-family: "SuisseIntl";
}

@mixin label-2 {
	font-size: var(--type-label-2, 12px);
	font-weight: 600;
	line-height: 1;
	letter-spacing: 0.001em;
	font-family: "SuisseIntl";
}

@mixin label-3 {
	font-size: var(--type-label-3, 11px);
	font-weight: 600;
	line-height: 1;
	letter-spacing: 0.005em;
	font-family: "SuisseIntl";
}

@mixin body-large {
	font-size: var(--type-body-large, 18px);
	font-weight: var(--type-weight-standard, 450);
	line-height: 1.6;
	font-family: "SuisseIntl";
}

@mixin body-standard {
	font-size: var(--type-body-normal, 16px);
	font-weight: var(--type-weight-standard, 450);
	line-height: 1.5;
	letter-spacing: 0.0025em;
	font-family: "SuisseIntl";
}

@mixin body-small {
	font-size: var(--type-body-small, 14px);
	font-weight: var(--type-weight-standard, 450);
	line-height: 1.4;
	letter-spacing: 0.005em;
	font-family: "SuisseIntl";
}

@mixin tiny {
	font-size: var(--type-tiny, 12px);
	font-weight: var(--type-weight-standard, 450);
	line-height: 1.2;
	letter-spacing: 0.005em;
	font-family: "SuisseIntl";
}

@mixin pre-title {
	font-size: var(--type-pre-title, 13px);
	text-transform: uppercase;
	font-weight: var(--type-weight-standard, 450);
	line-height: 1.2;
	letter-spacing: 0.03em;
	font-family: "SuisseIntl";
}

@mixin menu-item {
	font-size: var(--type-menu-items, 15px);
	font-weight: 450;
	line-height: 1;
	font-family: "SuisseIntl";
}

@mixin code-standard {
	font-size: var(--type-code, 14px);
	line-height: 1.4;
	font-family: "JetBrainsMono-Regular";
}

@mixin code-large {
	font-size: var(--type-code-large, 16px);
	line-height: 1.4;
	font-family: "JetBrainsMono-Regular";
}

.max-width-small{
	max-width: var(--page-max-width-small, 750px);
}

.max-width-medium{
	max-width: var(--page-max-width-medium, 950px);
}

.max-width-large{
	max-width: var(--page-max-width-large, 1150px);
}


@mixin button {
	@include label-1;
	display: inline-block;
	cursor: pointer;
	transition: all .3s;
	padding: 12px 20px;
	border-radius: 100px;
	text-decoration: none;
	color: inherit;
	box-sizing: border-box;
	margin-right: 10px;
	&.yellow{
		background: var(--interactive-button-yellow-background-color, #FFF100);
		border: 1px solid var(--interactive-button-yellow-border-color-hover, #EDDD0C);
		color: #000;
		&:hover{
			background: var(--interactive-button-primary-yellow-background-color-hover, #FFF866);
			border: 1px solid var(--interactive-button-primary-yellow-border-color-hover, #FFF21A);
		}
	}
	&.blue{
		background: var(--blue-70, #2EAFFF);
		border: 1px solid var(--blue-60, #58A8DA);
		color: #000;
		&:hover{

		}
	}
	&.black{
		background: var(--main-text-primary-color, #F2F2F2);
		border: 1px solid black;
		color: var(--main-body-background-color, #0D0D0D);
		&:hover{
	
		}
	}
	&.orange{
		border: 1px solid var(--interactive-button-primary-orange-border, #CC5400);
		background: var(--interactive-button-primary-orange-background, #FF6900);
		color: #000;
		&:hover{
			background: var(--interactive-button-primary-orange-background-hover, #FFA566);
			border: 1px solid var(--interactive-button-primary-orange-border-hover, #FF8733);
		}
	}
	&.transparent{
		border: 1px solid var(--interactive-button-black-border-color, #1A1A1A);
		backdrop-filter: blur(5px);
		&:hover{
			border: 1px solid var(--interactive-button-black-border-color, #1A1A1A);
			background: var(--interactive-button-black-border-color-hover, #1A1A1A);
			color: var(--interactive-button-black-text-color, #E6E6E6);
		}
	}
	&.white{
		background: white;
		color: black;
		&:hover{
			background: #7D66FF;
			color: white;
		}
	}
	&.arrow-down::after{
		content: "↓";
		margin-left: 5px;
	}
	&.arrow-right{
		&:after{
			/*background-image: url("data:image/svg+xml,%3Csvg width='13' height='9' viewBox='0 0 13 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.472 4.64599L8.146 8.99999L7.25 8.07599L10.008 5.33199H0V3.97399H10.036L7.25 1.21599L8.146 0.291992L12.472 4.64599Z' fill='black'/%3E%3C/svg%3E%0A");
			content: "";
			width: 13px;
			height: 9px;
			background-size: contain;
			display: inline-block;
			*/
			margin-left: 5px;
			transition: all .25s;
			content: "→";
		}
		&:hover:after{
			margin-left: 12px;
		}
	}
	&:hover{
		text-decoration: none;
	}
}

@mixin textbutton{
	@include label-1;
	color: inherit;
	text-decoration: none;
	display: inline;
	&.arrow-right{
		&:after{
			/*
			background-image: url("data:image/svg+xml,%3Csvg width='13' height='9' viewBox='0 0 13 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.472 4.64599L8.146 8.99999L7.25 8.07599L10.008 5.33199H0V3.97399H10.036L7.25 1.21599L8.146 0.291992L12.472 4.64599Z' fill='black'/%3E%3C/svg%3E%0A");
			content: "";
			width: 13px;
			height: 9px;
			background-size: contain;
			display: inline-block;
			*/
			content: "→";
			margin-left: 5px;
			transition: all .25s;
		}
		&:hover:after{
			margin-left: 12px;
			/*background-image: url("data:image/svg+xml,%3Csvg width='13' height='9' viewBox='0 0 13 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.472 4.64599L8.146 8.99999L7.25 8.07599L10.008 5.33199H0V3.97399H10.036L7.25 1.21599L8.146 0.291992L12.472 4.64599Z' fill='%237D66FF'/%3E%3C/svg%3E%0A");*/
		}
	}
	&:hover{
		color: $purple;
	}
}

@mixin textlink {
	color: $duckDBgrey;
	text-decoration: underline;
	font-size: 14px;
	-webkit-transition: color .3s;
	-o-transition: color .3s;
	transition: color .3s;
	span::after{
		content: "→";
		font-family: "DuckDB-Symbol";
		margin-left: 6px;
		-webkit-transition: -webkit-transform .3s;
		transition: -webkit-transform .3s;
		-o-transition: transform .3s;
		transition: transform .3s;
		transition: transform .3s, -webkit-transform .3s;
		position: absolute;
		text-decoration: none;
		line-height: 1.5;
	}
	&:hover span::after{
		-webkit-transform: translateX(3px);
			-ms-transform: translateX(3px);
				transform: translateX(3px);
	}
}

.ducklake_logo,
#ducklake_logo{
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1452.678 360'%3E%3Cpath d='M696.533 141.302H666.26v67.91c0 15.954-4.5 29.304-21.273 29.304s-21.273-13.35-21.273-29.304v-67.91h-30.273v74.455c0 29.045 23.319 45.978 51.546 45.978s51.546-16.933 51.546-45.978v-74.455ZM487.467 100.63c50.196 0 87.953 16.15 87.953 79.006 0 62.855-37.757 79.223-87.953 79.223h-46.923V100.631h46.923Zm-1.31 24.444h-14.404v109.342h14.404c28.809 0 56.963-6.984 56.963-54.78 0-47.36-28.154-54.562-56.963-54.562ZM828.894 181.6h-28.809c-2.4-11.349-12.876-19.424-24.443-19.424-15.714 0-28.154 13.313-28.154 37.757 0 24.662 11.786 38.412 28.372 38.412 10.476 0 21.17-5.456 25.317-19.424h28.808c-6.984 32.082-31.21 42.776-55.653 42.776-35.137 0-57.617-25.754-57.617-61.328 0-35.792 23.79-61.545 58.927-61.545 24.662 0 49.105 13.75 53.252 42.777ZM877.78 100.63v87.954l42.777-47.141h33.828L912.263 186.4l44.523 72.458h-33.829l-30.772-50.851-14.404 15.496v35.355h-30.119V100.631h30.119ZM1000.435 233.543h77.041v25.316H969.225V100.631h31.21v132.912ZM1198.163 258.86h-30.118v-14.841c-7.637 13.094-20.95 17.678-33.173 17.678-27.935 0-51.724-24.008-51.724-61.546 0-36.883 23.134-61.327 51.724-61.327 14.841 0 26.844 6.547 33.173 17.678v-15.06h30.118V258.86Zm-29.026-58.709c0-23.57-10.912-38.193-27.499-38.193-15.714 0-26.845 15.496-26.845 38.411 0 22.916 11.131 38.194 26.845 38.194 16.587 0 27.5-14.186 27.5-38.412ZM1255.126 100.63v87.954l42.777-47.141h33.828l-42.122 44.958 44.522 72.458h-33.828l-30.772-50.851-14.405 15.496v35.355h-30.118V100.631h30.118ZM1365.995 208.444c1.747 20.08 15.278 29.9 29.682 29.9 9.385 0 18.55-3.274 24.662-13.53h30.991c-6.329 17.458-23.352 36.883-55.434 36.883-37.757 0-59.8-28.154-59.8-61.982 0-34.92 24.226-60.891 58.927-60.891 36.228 0 58.708 28.154 57.617 69.62h-86.645Zm.437-20.733h55.653c-.655-19.86-14.623-26.844-27.28-26.844-11.35 0-25.972 6.984-28.373 26.844ZM180 0C80.59 0 0 80.59 0 180c0 99.408 80.59 180 180 180s180-80.592 180-180C360 80.59 279.41 0 180 0Z'/%3E%3Cpath fill='%232eafff' fill-rule='evenodd' d='M159.955 93.723c32.727 0 61.364 17.59 76.5 43.773h16.364c22.5 0 41.318 18 41.318 40.908 0 22.5-18.41 41.318-41.318 41.318h-11.864c-13.5 29.864-42.955 50.727-77.318 51.955h-8.182c-47.046-2.455-84.273-41.319-84.273-88.773 0-49.09 39.682-89.181 88.773-89.181Zm0 27c-33.955 0-61.773 27.818-61.773 61.773 0 34.362 27.818 61.772 61.773 61.772 27.409 0 50.727-18 58.909-42.546l2.864-9.409h31.09c7.364 0 13.91-6.545 13.91-13.91 0-7.362-6.137-13.907-13.91-13.907h-33.136L216 156.722c-9.818-21.273-31.09-36-56.045-36Z'/%3E%3C/svg%3E");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center left;
	width: 153.33px;
	height: 70px;
	pointer-events: none;
}

.duckdb_logo,
#duckdb_logo{
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1252.047 360'%3E%3Cpath d='M180 360C80.59 360 0 279.41 0 180S80.182 0 180 0s180 80.59 180 180-80.59 180-180 180Z'/%3E%3Cg fill='%23fff100'%3E%3Cpath d='M136.84 105.545c-40.91 0-74.455 33.546-74.455 74.455 0 41.319 33.545 74.455 74.454 74.455 40.91 0 74.455-33.546 74.455-74.455s-33.546-74.455-74.455-74.455ZM270.82 153.204h-35.386v53.592h35.385c14.8 0 26.796-11.997 26.796-26.796s-11.997-26.796-26.796-26.796Z'/%3E%3C/g%3E%3Cpath d='M666.26 209.212c0 15.954-4.5 29.304-21.273 29.304s-21.273-13.35-21.273-29.304v-67.91h-30.273v74.455c0 29.045 23.319 45.978 51.546 45.978s51.546-16.933 51.546-45.978v-74.455H666.26v67.91ZM487.467 100.63h-46.923v158.23h46.923c50.196 0 87.953-16.369 87.953-79.224 0-62.855-37.757-79.005-87.953-79.005Zm-1.31 133.786h-14.404V125.074h14.404c28.809 0 56.963 7.202 56.963 54.562 0 47.796-28.154 54.78-56.963 54.78ZM775.86 238.345c-16.586 0-28.372-13.75-28.372-38.412 0-24.444 12.44-37.757 28.154-37.757 11.567 0 22.043 8.075 24.443 19.425h28.809c-4.147-29.028-28.59-42.777-53.252-42.777-35.138 0-58.927 25.753-58.927 61.545 0 35.574 22.48 61.328 57.617 61.328 24.444 0 48.67-10.694 55.653-42.776h-28.808c-4.147 13.968-14.84 19.424-25.317 19.424ZM954.385 141.443h-33.828l-42.776 47.141v-87.953h-30.119v158.228h30.119v-35.355l14.404-15.496 30.772 50.851h33.829l-44.523-72.458 42.122-44.958zM1016.149 100.63h-46.924v158.23h46.924c50.196 0 87.953-16.369 87.953-79.224 0-62.855-37.757-79.005-87.953-79.005Zm-1.31 133.786h-14.404V125.074h14.404c28.809 0 56.962 7.202 56.962 54.562 0 47.796-28.153 54.78-56.962 54.78ZM1227.192 175.271c8.075-5.238 17.896-18.55 17.896-33.392 0-32.519-29.9-41.248-57.617-41.248h-61.546v158.228h64.165c32.519 0 60.673-12.658 60.673-46.704 0-21.825-11.35-30.99-23.571-36.884Zm-70.057-50.197h32.3c14.623 0 23.571 7.42 23.571 19.86 0 13.968-8.73 20.952-23.571 20.952h-32.3v-40.812Zm34.483 109.342h-34.483v-44.959h33.173c19.424 0 28.59 7.857 28.59 22.698 0 14.622-8.947 22.261-27.28 22.261Z'/%3E%3C/svg%3E");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center left;
	width: 132.16px;
	height: 70px;
	pointer-events: none;
}

.duckdblabs_logo,
#duckdblabs_logo{
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1782.767 360'%3E%3Cpath fill='%23ff6900' d='M180 360C80.59 360 0 279.41 0 180S80.182 0 180 0s180 80.59 180 180-80.59 180-180 180Z'/%3E%3Cg fill='%231d1d1b'%3E%3Cpath d='M297.615 180c0-41.319-33.545-74.455-74.454-74.455S148.706 139.091 148.706 180s33.546 74.455 74.455 74.455 74.454-33.546 74.454-74.455ZM89.18 206.796h35.386v-53.592H89.181c-14.8 0-26.796 11.997-26.796 26.796s11.997 26.796 26.796 26.796Z'/%3E%3C/g%3E%3Cpath d='M666.26 209.212c0 15.954-4.5 29.304-21.273 29.304s-21.273-13.35-21.273-29.304v-67.91h-30.273v74.455c0 29.045 23.319 45.978 51.546 45.978s51.546-16.933 51.546-45.978v-74.455H666.26v67.91ZM487.467 100.63h-46.923v158.23h46.923c50.196 0 87.953-16.369 87.953-79.224 0-62.855-37.757-79.005-87.953-79.005Zm-1.31 133.786h-14.404V125.074h14.404c28.809 0 56.963 7.202 56.963 54.562 0 47.796-28.154 54.78-56.963 54.78ZM775.86 238.345c-16.586 0-28.372-13.75-28.372-38.412 0-24.444 12.44-37.757 28.154-37.757 11.567 0 22.043 8.075 24.443 19.425h28.809c-4.147-29.028-28.59-42.777-53.252-42.777-35.138 0-58.927 25.753-58.927 61.545 0 35.574 22.48 61.328 57.617 61.328 24.444 0 48.67-10.694 55.653-42.776h-28.808c-4.147 13.968-14.84 19.424-25.317 19.424ZM954.385 141.443h-33.828l-42.776 47.141v-87.953h-30.119v158.228h30.119v-35.355l14.404-15.496 30.772 50.851h33.829l-44.523-72.458 42.122-44.958zM1016.149 100.63h-46.924v158.23h46.924c50.196 0 87.953-16.369 87.953-79.224 0-62.855-37.757-79.005-87.953-79.005Zm-1.31 133.786h-14.404V125.074h14.404c28.809 0 56.962 7.202 56.962 54.562 0 47.796-28.153 54.78-56.962 54.78ZM1227.192 175.271c8.075-5.238 17.896-18.55 17.896-33.392 0-32.519-29.9-41.248-57.617-41.248h-61.546v158.228h64.165c32.519 0 60.673-12.658 60.673-46.704 0-21.825-11.35-30.99-23.571-36.884Zm-70.057-50.197h32.3c14.623 0 23.571 7.42 23.571 19.86 0 13.968-8.73 20.952-23.571 20.952h-32.3v-40.812Zm34.483 109.342h-34.483v-44.959h33.173c19.424 0 28.59 7.857 28.59 22.698 0 14.622-8.947 22.261-27.28 22.261ZM1345.411 100.631h-14.622v158.228h98.429v-13.531h-83.807V100.631zM1522.409 161.74c-8.076-14.186-22.261-22.261-39.721-22.261-27.063 0-48.887 22.042-48.887 61.109s21.824 61.11 48.887 61.11c17.46 0 31.645-8.076 39.72-22.044v19.205h13.75V141.443h-13.75v20.297Zm-36.884 87.735c-21.824 0-37.102-17.678-37.102-48.887 0-31.21 15.278-48.888 37.102-48.888 18.114 0 37.975 13.968 37.975 48.888 0 34.919-19.861 48.887-37.975 48.887ZM1621.928 139.479c-17.46 0-31.21 8.075-39.722 22.26v-61.108h-13.53v158.228h13.53v-19.205c8.512 13.968 22.262 22.043 39.722 22.043 27.063 0 49.106-22.043 49.106-61.11s-22.043-61.108-49.106-61.108Zm-2.838 109.996c-17.678 0-37.757-13.968-37.757-48.887 0-34.92 20.08-48.888 37.757-48.888 21.825 0 37.32 17.678 37.32 48.888 0 31.209-15.495 48.887-37.32 48.887ZM1740.87 193.604l-16.586-3.055c-13.095-2.402-22.043-8.512-22.043-20.08 0-14.185 17.023-19.205 29.9-19.205 16.586 0 29.463 8.293 32.3 22.26h14.186c-2.838-18.55-19.86-34.264-45.176-34.264-26.409 0-44.96 13.75-44.96 32.3 0 18.552 15.06 27.936 31.864 31.428l18.333 3.492c15.932 3.056 29.027 7.857 29.027 21.607 0 15.714-17.679 21.606-31.864 21.606-17.897 0-33.174-8.511-35.574-26.844h-14.187c3.492 26.844 24.445 38.848 48.67 38.848 25.534 0 46.704-12.44 46.704-35.793 0-22.26-21.387-28.808-40.594-32.3Z'/%3E%3C/svg%3E");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center left;
	width: 188.18px;
	height: 70px;
	pointer-events: none;
}

.button{
	@include button;
}
.textbutton{
	@include textbutton;
}

