---
layout: postarchive
title: DuckDB Library
excerpt: A curated collection of books, papers, podcasts and talks podcasts exploring DuckDB.
redirect_from:
- /sci
- /sci/
- /library
- /library/
- /resources
- /resources/
---

{% assign all_tags = "" %}
{% for science in site.science %}
	{% assign all_tags = all_tags | append: science.tags | join: "," | append: "," %}
{% endfor %}
{% assign unique_tags = all_tags | split: "," | uniq | sort %}

<div class="wrap">
	<div class="controls filterbar" data-all-available="{{ unique_tags | join: ', ' }}">
		<input type="text" id="search-input" placeholder="Search...">
		<div class="filtertags">
			<div class="filter-highlight"></div>
			<button type="button" class="filter-btn active" data-filter="*">All</button>
			<button type="button" class="filter-btn" data-filter=".book">Book</button>
			<button type="button" class="filter-btn" data-filter=".paper">Paper</button>
			<button type="button" class="filter-btn" data-filter=".podcast">Podcast</button>
		</div>
	</div>
</div>

<div class="post-list wrap">
	<div class="newstiles science-tiles">
		{% assign sorted_science = site.science | sort: 'date' | reverse %}
		{% for science in sorted_science %}
			{% assign random_number = forloop.index | modulo: 3 | plus: 1 %}
			{% assign tag_classes = "" %}
			{% for tag in science.tags %}
				{% assign slugified_tag = tag | slugify %}
				{% assign tag_classes = tag_classes | append: slugified_tag | append: " " %}
			{% endfor %}
			<div class="sciencepreview postpreview {{ tag_classes | downcase }}" data-title="{{ science.title | escape }}">
				<a href="/science/{{ science.slug | default: science.title | slugify }}/" title="{{ science.title }}" class="blocklink"></a>
				<div class="postimg custom">
					{% if science.thumb %}
						<img src="{{ science.thumb }}" alt="{{ science.title }}" class="zoom-image">
					{% else %}
						{% assign placeholder_number = forloop.index | modulo: 2 | plus: 1 %}
						<img src="/images/science/thumbs/placeholder-{{ placeholder_number }}.svg" alt="Placeholder" class="zoom-image">
					{% endif %}
				</div>
				<div class="postdetails">
					{% if science.tags %}
					<div class="tags">
						{% for tag in science.tags %}
							<span class="tag">{{ tag }}</span>
						{% endfor %}
						{% if science.length %}
						  <span class="length">{{ science.length }}</span>
						{% endif %}
					</div>
					{% endif %}
					<h3>{{ science.title }}</h3>
					<div class="meta">
						<div class="date">{{ science.date | date: "%Y-%m-%d" }}</div>
						<div class="author">{{ science.author }}</div>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
</div>

<div class="wrap blog_typography science-submission-guidelines">
	<h2>Submission Guidelines</h2>
	
	<p>
		Submissions are welcome in the form of pull requests in the <a href="https://github.com/duckdb/duckdb-web/tree/main/_science"><code class="language-plaintext highlighter-rouge">duckdb-web</code> repository</a>.
		You are welcome to submit both your own work and also the work of others.
		When submitting, please follow these guidelines:
	</p>

	<ul>
		<li>
			The filename should start with the release date (e.g., the podcast's, the conference's first day, or the journal issue's publication date),
			e.g., <code class="language-plaintext highlighter-rouge">2025-09-01</code>.
			If the exact release date is not easily obtainable, just use an estimated date.
		</li>
		<li>If available, please link the presentation slide deck of the talk or paper.</li>
		<li>For research papers:
			<ul>
				<li>Papers should be about an algorithm, data structure, etc. used in DuckDB, built on top of DuckDB. Papers that study DuckDB in depth also qualify. However, papers where the use of DuckDB is limited to e.g., being the baseline for comparison or as part of their data processing toolchain, are out of scope.</li>
				<li>Include a link to an open-access version of the paper.</li>
				<li>Include the abstract. Make sure it doesn't have extra newlines, hyphens, or special characters.</li>
				<li>If applicable, please add an “Implementation” section to describe the availability of the implementation (core DuckDB, community extension, fork, etc.)</li>
			</ul>
		</li>
	</ul>
</div>
