@use 'sass:color';
@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

/** FAQ **/
body.faq,
.frequentlyaskedquestions,
body.documentation main .wrap.frequentlyaskedquestions{
	h3{
		@include title-3;
		cursor: pointer;
		position: relative;
		margin: 0;
		padding-right: 55px;
		.faq-icon{
			background-color: var(--doc-codebox-button-background-color, #E6E6E6);
			width: 30px;
			height: 30px;
			border-radius: 50%;
			position: absolute;
			right: 0px;
			top: -5px;
			cursor: pointer;
			display: flex;
			align-items: center;
			justify-content: center;
			-webkit-transition: background-color .3s;
			-o-transition: background-color .3s;
			transition: background-color .3s;
			svg.icon{
				width: 18px;
				height: 18px;
				stroke-width: 2;
				color: var(--main-text-primary-color, #0D0D0D);
				-webkit-transition: -webkit-transform .3s;
				transition: -webkit-transform .3s;
				-o-transition: transform .3s;
				transition: transform .3s;
				transition: transform .3s, -webkit-transform .3s;
			}
			&:hover{
				background-color: var(--doc-codebox-button-background-color-hover, #b2b2b299);
			}
		}
		a:hover{
			background-color: transparent;
		}
	}
	.qa-wrap{
		padding: 20px;
		background: var(--doc-codebox-background-color, #F2F2F2);
		-webkit-transition: background-color .3s;
		-o-transition: background-color .3s;
		transition: background-color .3s;
		margin-bottom: 10px;
		border-radius: var(--page-radius-m);
		border: 1px solid transparent;
		-webkit-transition: border .3s;
		-o-transition: border .3s;
		transition: border .3s;
		&.open h3 .faq-icon svg.icon{
			-webkit-transform: rotate(180deg);
				-ms-transform: rotate(180deg);
					transform: rotate(180deg);
		}
		&:hover{
			border-color: var(--doc-codebox-border-color);
		}
	}
	.answer{
		display: none;
		max-width: calc(100% - 55px);
		padding-top: 20px;
		>p:first-child{
			margin-top: 0;
		}
		a{
			color: var(--main-text-primary-color, #0D0D0D);
			text-decoration: underline;
			text-decoration-color: var(--main-text-tertiary-color, #B2B2B2);
			text-decoration-thickness: 1px;
			text-underline-offset: 0.2em;
			-webkit-transition: color .3s, text-decoration-color .3s;
			-o-transition: color .3s, text-decoration-color .3s;
			transition: color .3s, text-decoration-color .3s;
			&:hover{
				color: var(--main-link-hover-color, #998B00);
				text-decoration-color: var(--main-link-hover-color, #998B00);
				text-decoration-thickness: 1px;
				cursor: pointer;
			}
		}
	}
	.headlinebar{
		margin-bottom: 40px;
	}
}

body.faq,
section.faq{
	.frequentlyaskedquestions{
		max-width: 750px;
		margin: 0 auto;
	}
	.qa-wrap{
		h3{
			@include title-3;
			a{
				color: var(--main-text-primary-color, #0D0D0D);
			}
		}
		.answer{
			p:last-of-type{
				margin-bottom: 0;
			}
		}
	}
}

body.faq{
	h2{
		@include headline-1();
		margin-bottom: 20px;
		margin-top: 40px;
	}
	h2:first-of-type{
		margin-top: 0;
	}
	h2 a{
		color: var(--main-text-primary-color, #0D0D0D);
	}
}
