@use 'sass:color';
@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

svg.icon{
	width: 1.25rem;
	height: 1.25rem;
	fill: none;
	stroke: currentColor;
	stroke-width: 2;
	display: inline-block;
	transition: all 0.2s ease;
}

td svg.icon{
	vertical-align: middle;
	
	&.check{
		color: var(--main-checkmark, #00B132);
	}
	
	&.minus{
		color: var(--main-text-tertiary-color, #B2B2B2);
	}
	
	@media only screen and (max-width: 650px) {
		width: 1rem;
		height: 1rem;
	}
}