@use 'sass:color';
@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

svg.icon{
	width: 1.25rem;
	height: 1.25rem;
	fill: none;
	stroke: currentColor;
	stroke-width: 2;
	display: inline-block;
	transition: all 0.2s ease;
}