@use '../abstracts/variables' as *;

html.disable-transitions * {
	transition: none !important;
}

html.darkmode ::-moz-selection {
	background: #333;
	color: #fff;
}

html.darkmode ::selection {
	background: #333;
	color: #fff; 
}

@supports (hanging-punctuation: first) and (font: -apple-system-body) and (-webkit-appearance: none) {
	html.darkmode ::selection {
		background: #919191;
		color: #fff; 
	}
}


html.darkmode body{
	
	#duckdb_logo,
	.duckdb_logo{
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='129' height='38' fill='none' viewBox='0 0 129 38'%3E%3Cpath fill='%23FFF100' d='M19 38C8.489 38 0 29.511 0 19S8.489 0 19 0s19 8.489 19 19-8.489 19-19 19Z'/%3E%3Cpath fill='%230D0D0D' d='M29.159 16.182h-3.727v5.625h3.727c1.545 0 2.83-1.284 2.83-2.83 0-1.556-1.285-2.795-2.83-2.795ZM7.172 19c0 4.34 3.534 7.875 7.875 7.875 4.34 0 7.875-3.535 7.875-7.875 0-4.341-3.534-7.876-7.875-7.876S7.172 14.66 7.172 19Z'/%3E%3Cpath fill='%23FAFAFA' d='M68.543 14.125v7.92c0 1.705-1.034 2.91-2.446 2.91h-.69c-1.446 0-2.446-1.205-2.446-2.91v-7.92h-2.725v8.41c0 3.033 2.135 5.215 5.127 5.215h.79c2.99 0 5.104-2.182 5.104-5.216v-8.409h-2.714ZM93.4 18.932l5.049-5.432h-3.804l-4.437 4.886v-8.102h-2.691v17.239h2.691v-5.057l1.301-1.398 4.437 6.466h3.337L93.4 18.932Zm-42.438 5.84h-3.259V13.069h3.259c2.524 0 4.537 2.625 4.537 5.807 0 3.284-2.013 5.898-4.537 5.898Zm0-14.51H45v17.284h5.96c3.993 0 7.263-3.853 7.263-8.671 0-4.704-3.259-8.614-7.262-8.614Zm56.117 14.51h-3.214V13.069h3.214c2.546 0 4.537 2.625 4.537 5.807 0 3.284-1.991 5.898-4.537 5.898Zm0-14.51h-5.928v17.284h5.928c4.048 0 7.262-3.853 7.262-8.671 0-4.704-3.214-8.614-7.262-8.614Zm16.259 14.51h-4.193V19.99h4.193c1.245 0 2.324 1.102 2.324 2.375 0 1.352-1.079 2.409-2.324 2.409Zm-4.193-7.567v-4.137h3.336c1.123 0 2.035.898 2.035 2.057 0 1.148-.912 2.08-2.035 2.08h-3.336Zm7.062.92c.611-.83 1.034-1.875 1.034-3.011 0-2.66-2.18-4.864-4.76-4.864h-6.027v17.284h6.884c2.791 0 5.026-2.33 5.026-5.182a5.178 5.178 0 0 0-2.157-4.227Zm-47.276-1.42h.667c1.613 0 2.948 1.204 2.948 2.704h2.746c0-2.977-2.569-5.432-5.682-5.432h-.668c-3.069 0-5.538 2.534-5.538 5.637v2.477c0 3.136 2.48 5.659 5.538 5.659h.668c3.214 0 5.838-2.454 5.838-5.41H82.7c0 1.433-1.401 2.603-3.091 2.603h-.668c-1.568 0-2.869-1.273-2.869-2.852v-2.477c0-1.614 1.29-2.91 2.858-2.91Z'/%3E%3C/svg%3E");
	}
	
	#ducklake_logo,
	.ducklake_logo{
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='134' height='37' fill='none'%3E%3Cpath fill='%232EAFFF' d='M18.5 0C8.3 0 0 8.3 0 18.5S8.3 37 18.5 37 37 28.7 37 18.5 28.7 0 18.5 0Z'/%3E%3Cpath fill='%231A1A1A' fill-rule='evenodd' d='M16.39 9.323a9.376 9.376 0 0 1 8.093 4.62h1.707v.01c2.357 0 4.345 1.896 4.35 4.301h.01c0 2.39-1.96 4.35-4.35 4.35h-1.264c-1.43 3.132-4.526 5.344-8.157 5.492l-.39.008-.483-.013A9.384 9.384 0 0 1 7 18.714v-.01c0-5.19 4.2-9.39 9.39-9.39v.01Zm0 2.851c-3.6 0-6.53 2.92-6.53 6.53v.01a6.531 6.531 0 0 0 12.74 2.02l.32-.99h3.28c.797 0 1.484-.675 1.49-1.48h-.01c0-.79-.66-1.46-1.49-1.46H22.7l-.38-.83a6.513 6.513 0 0 0-5.93-3.8Z' clip-rule='evenodd'/%3E%3Cpath fill='%23fff' d='M47.95 10.665h-5.16v15.49h5.16c3.46 0 6.28-3.46 6.28-7.77s-2.82-7.72-6.28-7.72Zm0 12.99h-2.82v-10.48h2.82c2.19 0 3.93 2.36 3.93 5.21s-1.74 5.28-3.93 5.28v-.01ZM72.74 23.815h-.57c-1.36 0-2.48-1.15-2.48-2.56v-2.67c0-1.44 1.13-2.6 2.48-2.6h.57c1.4 0 2.55 1.08 2.55 2.42h2.38c0-2.67-2.23-4.87-4.92-4.87h-.57c-2.65 0-4.8 2.27-4.8 5.05v2.67c0 2.81 2.14 5.07 4.8 5.07h.57c2.78 0 5.05-2.2 5.05-4.85h-2.38c0 1.28-1.21 2.33-2.67 2.33l-.01.01ZM63.16 21.215c0 1.53-.89 2.6-2.12 2.6h-.59c-1.25 0-2.12-1.08-2.12-2.6v-7.09h-2.36v7.54c0 2.72 1.85 4.67 4.44 4.67h.68c2.59 0 4.41-1.95 4.41-4.67v-7.54h-2.33v7.09h-.01ZM89.05 13.555h-3.28l-3.85 4.38v-7.25h-2.33v15.44h2.33v-4.53l1.13-1.26 3.84 5.79h2.89l-5.1-7.7 4.37-4.87ZM122.54 13.555h-3.3l-3.84 4.38v-7.25h-2.33v15.44h2.33v-4.53l1.13-1.26 3.84 5.79h2.89l-5.1-7.7 4.38-4.87ZM93.51 10.665H91.2v15.49h8.93v-2.5h-6.62v-12.99ZM131.24 21.885c-.22 1.09-1.32 1.93-2.63 1.93h-.57c-1.36 0-2.48-1.14-2.48-2.56v-.87h7.98v-1.98c0-2.67-2.23-4.87-4.92-4.87h-.57c-2.65 0-4.8 2.27-4.8 5.05v2.67c0 2.81 2.14 5.07 4.8 5.07h.57c2.64 0 4.82-1.98 5.03-4.45h-2.4l-.01.01Zm-2.63-5.9c1.38 0 2.51 1.13 2.54 2.45h-5.6c.08-1.37 1.17-2.45 2.48-2.45h.58ZM108.331 15.395c-.7-.9-1.61-1.44-2.65-1.44h-.59c-2.57 0-4.37 2.09-4.37 5.07v2.22c0 2.96 1.8 5.07 4.37 5.07h.59c1.04 0 1.95-.52 2.65-1.41v1.21h2.25v-12.01h-2.25v1.29Zm.22 5.3c0 1.98-1.21 3.34-2.86 3.34h-.59c-1.34 0-2.27-1.15-2.27-2.78v-2.22c0-1.66.93-2.83 2.27-2.83h.59c1.66 0 2.86 1.35 2.86 3.25v1.24Z'/%3E%3C/svg%3E");
	}
	
	header .headerline .headercontent .options button.mode[data-mode=light]:hover{
		border-color: var(--interactive-button-yellow-background-color, #FFF100);
		svg path{
			fill: var(--interactive-button-yellow-background-color, #FFF100);
		}
		svg *[stroke] {
		  stroke: var(--interactive-button-yellow-background-color, #FFF100);
		}
	}
	
	.starcount::before{
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19' height='18' fill='none' viewBox='0 0 19 18'%3E%3Cpath fill='%23FFFFFF' d='M9.287.76a.5.5 0 0 1 .907 0l2.262 4.872a.5.5 0 0 0 .394.286l5.332.646a.5.5 0 0 1 .28.863l-3.934 3.657a.5.5 0 0 0-.15.462l1.033 5.271a.5.5 0 0 1-.734.533l-4.694-2.61a.5.5 0 0 0-.486 0l-4.694 2.61a.5.5 0 0 1-.734-.533l1.034-5.27a.5.5 0 0 0-.15-.463L1.017 7.427a.5.5 0 0 1 .28-.863l5.333-.646a.5.5 0 0 0 .393-.286L9.287.76Z'/%3E%3C/svg%3E");
	}
	a.github:hover .starcount::before{
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19' height='18' fill='none' viewBox='0 0 19 18'%3E%3Cpath fill='%23FFEF00' d='M9.287.76a.5.5 0 0 1 .907 0l2.262 4.872a.5.5 0 0 0 .394.286l5.332.646a.5.5 0 0 1 .28.863l-3.934 3.657a.5.5 0 0 0-.15.462l1.033 5.271a.5.5 0 0 1-.734.533l-4.694-2.61a.5.5 0 0 0-.486 0l-4.694 2.61a.5.5 0 0 1-.734-.533l1.034-5.27a.5.5 0 0 0-.15-.463L1.017 7.427a.5.5 0 0 1 .28-.863l5.333-.646a.5.5 0 0 0 .393-.286L9.287.76Z'/%3E%3C/svg%3E");
	}
	
	&.landing .select-styled:after{
		background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='10' cy='10' r='9.25' stroke='%23999999' stroke-width='1.5'/%3E%3Cpath d='M4.60938 8.18164L10.0637 13.636L15.5181 8.18164' stroke='%23999999' stroke-width='1.5'/%3E%3C/svg%3E%0A")
	}
	
	/** LANDING PAGE BACKGROUNDS **/
	&.landing .landing_bg_1{
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='671' height='780' fill='none' viewBox='0 0 671 780'%3E%3Cpath fill='url(%23a)' d='M-90 20c0-11.046 8.954-20 20-20h721c11.046 0 20 8.954 20 20v566c0 11.046-8.954 20-20 20H310.5c-11.046 0-20 8.954-20 20v134c0 11.046-8.954 20-20 20H-70c-11.046 0-20-8.954-20-20V20Z'/%3E%3Cdefs%3E%3ClinearGradient id='a' x1='290.5' x2='290.5' y1='0' y2='780' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%230D0D0D'/%3E%3Cstop offset='1' stop-color='%231A1A1A'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
	}
	&.landing .landing_bg_2{
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='458' height='904' fill='none' viewBox='0 0 458 904'%3E%3Cpath fill='url(%23a)' d='M761 20c0-11.046-8.954-20-20-20H20C8.954 0 0 8.954 0 20v566c0 11.046 8.954 20 20 20h155c11.046 0 20 8.954 20 20v257.5c0 11.046 8.954 20 20 20h526c11.046 0 20-8.954 20-20V20Z'/%3E%3Cdefs%3E%3ClinearGradient id='a' x1='380.502' x2='380.502' y1='.004' y2='903.502' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%230D0D0D'/%3E%3Cstop offset='1' stop-color='%231A1A1A'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
	}
	&.landing section#quickinstall:after{
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1440' height='482' fill='none' viewBox='0 0 1440 482'%3E%3Cpath stroke='url(%23a)' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M0 359h514c27.614 0 50-22.386 50-50v-64.5c0-27.614 22.386-50 50-50h370.5'/%3E%3Cpath stroke='url(%23b)' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M1438 2h-402c-27.61 0-50 22.386-50 50v249c0 27.614 22.39 50 50 50h157.47c27.61 0 50 22.386 50 50v29c0 27.614 22.38 50 50 50H1438'/%3E%3Cdefs%3E%3ClinearGradient id='a' x1='-192.5' x2='-19.068' y1='241.413' y2='-114.664' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%230D0D0D'/%3E%3Cstop offset='1' stop-color='%23FFF100' stop-opacity='.2'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='1496.5' x2='1032.42' y1='171.5' y2='231.527' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%230D0D0D'/%3E%3Cstop offset='1' stop-color='%23FFF100' stop-opacity='.2'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
	}
	&.landing .upcoming-events:after{
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1440' height='426' fill='none' viewBox='0 0 1440 426'%3E%3Cpath stroke='url(%23a)' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M1439.5 424.029H696.735c-27.614 0-50-22.386-50-50V51.875c0-27.614-22.386-50-50-50H-.5'/%3E%3Cdefs%3E%3ClinearGradient id='a' x1='166.001' x2='1397.35' y1='680.043' y2='345.949' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%230D0D0D'/%3E%3Cstop offset='.58' stop-color='%23FFF100' stop-opacity='.2'/%3E%3Cstop offset='1' stop-color='%230D0D0D'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
	}
	header .headerline .headercontent .landingmenu nav .search_icon{
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='15' fill='none' viewBox='0 0 16 15'%3E%3Cpath stroke='%23FAFAFA' stroke-width='1.5' d='m10.77 9.909 3.926 3.926'/%3E%3Ccircle cx='6.62' cy='6.52' r='5.173' stroke='%23FAFAFA' stroke-width='1.5'/%3E%3C/svg%3E");
		&:hover{
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='15' fill='none' viewBox='0 0 16 15'%3E%3Cpath stroke='%23FFEF00' stroke-width='1.5' d='m10.77 9.909 3.926 3.926'/%3E%3Ccircle cx='6.62' cy='6.52' r='5.173' stroke='%23FFEF00' stroke-width='1.5'/%3E%3C/svg%3E");
		}
	}
	.opensearch:hover{
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='15' fill='none' viewBox='0 0 15 15'%3E%3Cpath stroke='%23FFEF00' stroke-width='1.5' d='m10.432 9.692 3.926 3.927'/%3E%3Ccircle cx='6.282' cy='6.303' r='5.173' stroke='%23FFEF00' stroke-width='1.5'/%3E%3C/svg%3E");
	}
	
	&.documentation #duckdb_logo{
		background-image: url("data:image/svg+xml,%3Csvg width='149' height='38' viewBox='0 0 149 38' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19 0C8.52432 0 0 8.52432 0 19C0 29.4757 8.52432 38 19 38C29.4757 38 38 29.4757 38 19C38 8.52432 29.4757 0 19 0Z' fill='%232EAFFF'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M17.3896 9.65967C20.8443 9.65967 23.8501 11.5132 25.4834 14.2798H27.1904V14.2896C29.5471 14.2898 31.5347 16.185 31.54 18.5903H31.5498C31.5496 20.9801 29.59 22.9398 27.2002 22.9399H25.9365C24.5054 26.072 21.4102 28.2839 17.7793 28.4321L17.3896 28.4399L16.9062 28.4272C11.9416 28.1759 8.0002 24.0779 8 19.0503V19.0396C8.00022 13.8499 12.1999 9.65009 17.3896 9.6499V9.65967ZM17.3896 12.5103C13.7899 12.5104 10.8606 15.4299 10.8604 19.0396V19.0503C10.8606 22.65 13.7799 25.5794 17.3896 25.5796C20.2896 25.5796 22.7496 23.6898 23.5996 21.0698L23.9199 20.0796H27.2002C27.9968 20.0795 28.6837 19.4055 28.6895 18.6001H28.6797C28.6797 17.8103 28.0202 17.1404 27.1904 17.1401H23.7002L23.3203 16.3101C22.2903 14.0601 20.0196 12.5103 17.3896 12.5103Z' fill='%231A1A1A'/%3E%3Cpath d='M50.9062 10H45V27.7933H50.9062C54.8666 27.7933 58.0944 23.8188 58.0944 18.8679C58.0944 13.917 54.8666 10 50.9062 10ZM50.9061 24.9215H47.6782V12.8832H50.9061C53.4128 12.8832 55.4046 15.5941 55.4046 18.8679C55.4046 22.1417 53.4129 24.933 50.9062 24.933L50.9061 24.9215Z' fill='white'/%3E%3Cpath d='M79.2811 25.1055H78.6287C77.072 25.1055 75.7901 23.7845 75.7901 22.1648V19.0978C75.7901 17.4437 77.0835 16.1112 78.6287 16.1112H79.2811C80.8836 16.1112 82.1999 17.3518 82.1999 18.891H84.9241C84.9241 15.824 82.3716 13.2969 79.2926 13.2969H78.6402C75.6069 13.2969 73.146 15.9044 73.146 19.0978V22.1648C73.146 25.3926 75.5955 27.9887 78.6402 27.9887H79.2926C82.4746 27.9887 85.0729 25.4616 85.0729 22.4175H82.3487C82.3487 23.8879 80.9637 25.094 79.2926 25.094L79.2811 25.1055Z' fill='white'/%3E%3Cpath d='M68.3155 22.1187C68.3155 23.8762 67.2968 25.1053 65.8889 25.1053H65.2136C63.7828 25.1053 62.787 23.8647 62.787 22.1187V13.9744H60.0857V22.6356C60.0857 25.76 62.2033 28 65.1678 28H65.9462C68.9107 28 70.9939 25.76 70.9939 22.6356V13.9744H68.327V22.1187H68.3155Z' fill='white'/%3E%3Cpath d='M97.9498 13.3198H94.1955L89.7887 18.351V10.023H87.1217V27.7588H89.7887V22.5553L91.0821 21.1079L95.4775 27.7588H98.7854L92.9478 18.9139L97.9498 13.3198Z' fill='white'/%3E%3Cpath d='M136.284 13.3198H132.506L128.111 18.351V10.023H125.444V27.7588H128.111V22.5553L129.404 21.1079L133.8 27.7588H137.108L131.27 18.9139L136.284 13.3198Z' fill='white'/%3E%3Cpath d='M103.055 10H100.411V27.7933H110.633V24.9215H103.055V10Z' fill='white'/%3E%3Cpath d='M146.241 22.8885C145.99 24.1406 144.731 25.1055 143.231 25.1055H142.579C141.022 25.1055 139.74 23.796 139.74 22.1648V21.1654H148.874V18.891C148.874 15.824 146.322 13.2969 143.243 13.2969H142.59C139.557 13.2969 137.096 15.9044 137.096 19.0978V22.1648C137.096 25.3926 139.545 27.9887 142.59 27.9887H143.243C146.264 27.9887 148.76 25.7143 149 22.877H146.253L146.241 22.8885ZM143.231 16.1112C144.811 16.1112 146.104 17.4092 146.138 18.9255H139.729C139.82 17.3518 141.068 16.1112 142.567 16.1112H143.231Z' fill='white'/%3E%3Cpath d='M120.019 15.4334C119.218 14.3995 118.176 13.7793 116.986 13.7793H116.31C113.369 13.7793 111.309 16.18 111.309 19.6031V22.1532C111.309 25.5534 113.369 27.9771 116.31 27.9771H116.986C118.176 27.9771 119.218 27.3798 120.019 26.3575V27.7474H122.594V13.9516H120.019V15.4334ZM120.271 21.5215C120.271 23.7959 118.886 25.3581 116.997 25.3581H116.322C114.788 25.3581 113.724 24.0371 113.724 22.1647V19.6146C113.724 17.7078 114.788 16.3638 116.322 16.3638H116.997C118.897 16.3638 120.271 17.9145 120.271 20.0971V21.5215Z' fill='white'/%3E%3C/svg%3E%0A");
	}
	@media only screen and (max-width: 900px) {
		&.documentation #duckdb_logo{
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='39' height='38' fill='none' viewBox='0 0 39 38'%3E%3Cpath fill='%23FFF100' d='M19.318 38c-10.511 0-19-8.489-19-19s8.489-19 19-19c10.512 0 19 8.489 19 19s-8.488 19-19 19Z'/%3E%3Cpath fill='%230D0D0D' d='M29.477 16.182H25.75v5.625h3.727a2.852 2.852 0 0 0 2.83-2.83c0-1.556-1.284-2.795-2.83-2.795ZM7.49 19c0 4.34 3.534 7.875 7.875 7.875S23.24 23.34 23.24 19c0-4.341-3.534-7.876-7.875-7.876-4.34 0-7.875 3.535-7.875 7.876Z'/%3E%3C/svg%3E");
		}
	}
	#main_content_wrap a.externallink::after, .singleentry .content a.externallink::after{
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' viewBox='0 0 12 12'%3E%3Cpath fill='%23FFFFFF' fill-rule='evenodd' d='M11.8 0H6.613v1.514h2.603L3.804 6.926l1.07 1.07 5.412-5.412v2.603H11.8V0ZM5.922 1.286H0V11.8h10.33V5.878H8.815v4.408H1.514V2.8h4.408V1.286Z' clip-rule='evenodd'/%3E%3C/svg%3E");
	}
	&.faq h3::after, 
	&.documentation main .wrap.frequentlyaskedquestions h3::after,
	.frequentlyaskedquestions h3::after, {
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none'%3E%3Cpath stroke='%23F2F2F2' stroke-linecap='square' stroke-width='1.5' d='m18 9.5-6 6-6-6'/%3E%3C/svg%3E");
	}

	
	/** BLOG **/
	.newswrap .postwrap .infoline .icon{
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='35' height='35' fill='none' viewBox='0 0 35 35'%3E%3Ccircle cx='17.75' cy='17.25' r='17.25' fill='%23FFF100'/%3E%3Cpath fill='%231A1A1A' d='M8.166 17.409a5.917 5.917 0 0 0 5.909 5.908 5.917 5.917 0 0 0 5.908-5.908 5.917 5.917 0 0 0-5.908-5.909 5.917 5.917 0 0 0-5.909 5.909Zm16.498-2.115h-2.797v4.22h2.797a2.14 2.14 0 0 0 2.123-2.122c0-1.168-.964-2.098-2.123-2.098Z'/%3E%3C/svg%3E");
	}
	.newswrap .postwrap .postcontent .supporterboard ul li img{
		filter: invert(1);
	}
	.newswrap .postwrap .recentposts{
		background: linear-gradient(180deg, var(--grey-10) -13.01%, var(--main-body-background-color) 65.33%);
	}

	/** DOCS SIDE NAVIGATION **/
	.sidenavigation{
		li.hasSub span{
			background-image: url("data:image/svg+xml,%3Csvg width='7' height='11' viewBox='0 0 7 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L6 5.5L1 10' stroke='white' stroke-linecap='round'/%3E%3C/svg%3E%0A");
		}
	}
	.sidenavigation li.active.hasSub{
		background: transparent;
	}
	.sidenavigation .opensearch{
		border: 1px solid #575757;
		color: #727272;
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='15' fill='none'%3E%3Cpath stroke='%23727272' stroke-width='1.5' d='M10.073 9.692 14 13.62'/%3E%3Ccircle cx='5.923' cy='6.303' r='5.173' stroke='%23727272' stroke-width='1.5'/%3E%3C/svg%3E");
		> .shortcut{
			color: white;
			border: 1px solid #545454;
			background: #383838;
		}
	}
	
	/** DOCS COLORS **/
	pre.highlight > button span.copy, 
	.highlight button.copy span.copy{
		background-image: url("data:image/svg+xml,%3Csvg width='13' height='13' viewBox='0 0 13 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23fff' d='M3.5.5h9v9h-9z'/%3E%3Cpath d='M1 4v8h8' stroke='%23fff'/%3E%3C/svg%3E");
	}
	pre.highlight > button span.copied, 
	.highlight button.copy span.copied{
		background-image: url("data:image/svg+xml,%3Csvg width='13' height='10' viewBox='0 0 13 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m1 5.642 3.343 3.343 7.642-7.642' stroke='%23fff'/%3E%3C/svg%3E");
	}
	.box-link .chevron{
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='7' height='12' fill='none' viewBox='0 0 7 12'%3E%3Cpath stroke='%234C4C4C' stroke-width='1.256' d='m1 11 5-5-5-5'/%3E%3C/svg%3E");
	}
	.box-link .symbol img{
		filter: invert(100%) sepia(100%) saturate(1000%) hue-rotate(340deg) brightness(100%);
	}
	
	/** FOUNDATION **/
	&.foundation section.supporters .supporterboard ul li img{
		filter: invert(1);
	}
	
}

html.darkmode body.documentation{
	.wrap a:hover{
		color: #4396D7;
	}
	.headlinebar div.version span.arrow{
		background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='8' cy='8' r='7.5' stroke='%23828282'/%3E%3Cpath d='M3.6875 6.54541L8.05098 10.9089L12.4145 6.54541' stroke='%23828282'/%3E%3C/svg%3E%0A");
	}
	.railroad-diagram path{
		stroke: white;
	}
	.railroad-diagram rect{
		fill: #1a1a1a;
		stroke: #333333;
	}
	g.non-terminal text,
	g.terminal text{
		fill: white;
	}
	main .wrap.frequentlyaskedquestions h3::after{
		background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='15' cy='15' r='15' fill='%23343434'/%3E%3Cpath d='M21.5 13L15 20L8.5 13' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
	}
}


/** SPECIAL DUCKLAKE DARKMODE STYLES **/

html.darkmode {
	body.landing {
		.wave {
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 364.8 28.6'%3E%3Cpath d='M364.8 0h-.1c-45.5 0-68.3 4.2-91.1 8.3-22.8 4.2-45.5 8.3-91 8.3s-68.3-4.2-91.1-8.3C68.7 4.2 45.9 0 .4 0H0v28.6h364.8V0Z' style='fill:%230d0d0d'/%3E%3C/svg%3E");
		}
	}
	.banner .close{
		filter: invert(0);
	}
	img.darkmode-img{
		display: inline;
	}
	img.lightmode-img{
		display: none;
	}
	section.architecture {
		.diagram {
			.connector svg path {
				fill: #f2f2f2;
			}
			.database .catalog .icons img.duckdb,
			.client .browser .icons img.duckdb_icon{
				content: url('/images/deployment_diagram/dark/cat_icon-duckdb.svg');
			}
			.client .browser .ducklake img.ducklake_icon{
				content: url('/images/deployment_diagram/dark/ducklake_comb_alt.svg');
			}
			.client .browser>img{
				content: url('/images/deployment_diagram/dark/window.svg');
			}
			.database .catalog .icons img.postgre{
				content: url('/images/deployment_diagram/dark/cat_icon-postgre.svg');
			}
			.database .catalog .icons img.sqlite{
				content: url('/images/deployment_diagram/dark/cat_icon-sqlite.svg');
			}
			.database .catalog .icons img.mysql{
				content: url('/images/deployment_diagram/dark/cat_icon-mysql.svg');
			}
			.database .catalog > img{
				content: url('/images/deployment_diagram/dark/database.svg');
			}
		}
	}

}
