<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	{% if page.title == "DuckDB" %}
	<title>{{ page.title }}</title>
	{% else %}
	<title>{{ page.title }} – DuckDB</title>
	{% endif %}

	<script src="{{ site.baseurl }}/js/jquery-3.5.1.min.js"></script>
	<link rel="stylesheet" href="{{ site.baseurl }}/css/normalize.css?{{ site.data['hash'] }}">
	<link rel="stylesheet" href="{{ site.baseurl }}/css/main.css?{{ site.data['hash'] }}">
	<link rel="stylesheet" href="{{ site.baseurl }}/css/docu.css?{{ site.data['hash'] }}">
	<link rel="stylesheet" href="{{ site.baseurl }}/css/mobilestyles.css?{{ site.data['hash'] }}">
	<link rel="stylesheet" href="{{ site.baseurl }}/css/darkmode.css?{{ site.data['hash'] }}">
	{% if page.railroad and page.railroad != "" and page.railroad != nil %}
	<link rel="stylesheet" href="{{ site.baseurl }}/css/railroad.css?{{ site.data['hash'] }}">
	{% endif %}

	<link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/images/favicon/apple-touch-icon.png">	
	<link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/images/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/images/favicon/favicon-16x16.png">
	<link rel="manifest" href="{{ site.baseurl }}/images/favicon/site.webmanifest">
	<link rel="mask-icon" href="{{ site.baseurl }}/images/favicon/safari-pinned-tab.svg" color="#5bbad5">
	<link rel="shortcut icon" href="{{ site.baseurl }}/images/favicon/favicon.ico">
	<meta name="msapplication-TileColor" content="#000000">
	<meta name="msapplication-config" content="{{ site.baseurl }}/images/favicon/browserconfig.xml">
	<meta name="theme-color" content="#ffffff">
	<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests" />

	{% seo title=false %}

	<script src="{{ site.baseurl }}/js/determine_color_scheme.js?{{ site.data['hash'] }}"></script>
</head>

{% capture issue_title %}Issue found on page '{{ page.title }}'{% endcapture %}
{% capture issue_body %}
> Please describe the problem you encountered in the DuckDB documentation and include the "Page URL" link shown below.
> Note: only create an issue if you wish to report a problem with the DuckDB documentation. For questions about DuckDB or the use of certain DuckDB features, use [GitHub Discussions](https://github.com/duckdb/duckdb/discussions/), [Stack Overflow](https://stackoverflow.com/questions/tagged/duckdb), or [Discord](https://discord.duckdb.org/).

Page URL: <https://duckdb.org{{ page.url }}>
{% endcapture %}

{% comment %} By default, we assume that the users is interested in the stable version. {% endcomment %}
{% assign version_viewed = "stable" %}

{% assign url_version_parts = page.url | split: "/docs/" %}
{% assign url_version_parts = url_version_parts[1] | split: "/" %}
{% comment %}
	Detect /docs/preview and docs/VERSION_NUMBER
	Liquid doesn't have an is_digit-style function, so we check the first character for values 0, 1 and 2.
{% endcomment %}
{% assign c = url_version_parts[0] | slice: 0 %}
{% if url_version_parts[0] == "preview" or c == "0" or c == "1" or c == "2" %}
	{% assign version_viewed = url_version_parts[0] %}
{% endif %}


<body class="documentation{% if page.body_class %} {{ page.body_class }} {% endif %}">

	<header>
		<div class="headerline">
			<div class="headercontent">
				<div class="duckdbhome">
					<a href="{{ site.url }}{{ site.baseurl }}/"><img src="{{ site.baseurl }}/images/logo-dl/DuckDB_Logo-horizontal.svg" alt="DuckDB Logo for Download" class="downloadlogo"></a>
					<div id="duckdb_logo"></div>
				</div>
				<div class="landingmenu">
					<nav class="mobile">
						<div class="hamburger hamburger--squeeze">
							<div class="hamburger-box">
								<div class="hamburger-inner"></div>
							</div>
						</div>
					</nav>
				</div>
				<div class="options">
					<div class="opensearch">
						<span class="mac shortcut">⌘+k</span>
						<span class="win shortcut">ctrl+k</span>
					</div>
					
					{% if page.url contains '/docs/' %}
					{% unless page.url contains '/docs/installation/' %}

					{% include banner_docversion.html %}

					<div class="versionselect">
						<div class="version">
							{% if version_viewed == "preview" %}
								{% assign version_viewed_pretty = site.previewshortduckdbversion %}
							{% elsif version_viewed == "stable" %}
								{% assign version_viewed_pretty = site.currentshortduckdbversion | append: " (stable)" %}
							{% else %}
								{% assign version_viewed_pretty = version_viewed %}
							{% endif %}

							<div><span class="selectedversion" data-current="{{ version_viewed }}">{{ version_viewed_pretty }}</span><span class="arrow"></div>
							<div class="versionsidebar">
								<ul>
									{% comment %} Remove the leading part, e.g., "docs/stable" or "docs/1.0" (version number) {% endcomment %}

									{% comment %} Try the basename with different versions and see whether it exists {% endcomment %}
									{% assign basename = page.path | regex_replace: "docs/(stable|preview|\d*.\d*)/", "" %}

									{% for item in site.data.versions %}
										{% assign filename = "docs/" | append: item.version | append: "/" | append: basename %}
										{% capture other_version_of_page_exists %}{% file_exists {{ filename }} %}{% endcapture %}
										{% if other_version_of_page_exists == "true" %}
											{% if item.version == "preview" %}
												{% assign item_text = site.previewshortduckdbversion %}
											{% elsif item.version == "stable" %}
												{% assign item_text = site.currentshortduckdbversion %}
											{% else %}
												{% assign item_text = item.version %}
											{% endif %}

											<li><a href='{{ site.baseurl }}/{{ filename | replace: ".md", "" }}'>{{ item_text }}</a></li>
										{% endif %}
									{% endfor %}
								</ul>
							</div>
						</div>
					</div>

					{% endunless %}
					{% endif %}
					<button class="mode" data-mode="dark"></button>
				</div>
			</div>
		</div>
	</header>
	

	<main>
	
		{% include searchoverlay.html %}

		{% include menu_sidebar.html %}


		<div class="wrap{% if page.title %} {{ page.title | downcase | remove: " " | remove: ":" }}{% endif %}">
			
			<div id="main_content_wrap">
				
				<div class="headlinebar">
					<div class="breadcrumbs">{% include breadcrumbs.html %}</div>
					<div class="title">{{ page.title }}</div>
				</div>
				
				{% assign ct = content | toc %}
				{% include anchor_headings.html html=content %}
				
				{% if page.url contains 'overview' %}
				<div class="index">
					<h2 id="pages-in-this-section">Pages in This Section</h2>
				</div>
				{% endif %}
				
				{% if page.url contains '/docs/' %}
				<div class="pagemeta">
					<div>
						<h5>About this page</h5>
						<ul>
							{% if page.github_repository %}<li><a href="{{ page.github_repository }}">See the repository of this feature on GitHub</a></li>{% endif %}
							{% if page.github_directory %}<li><a href="{{ page.github_directory }}">See the source code of this feature on GitHub</a></li>{% endif %}
							<li><a href="https://github.com/duckdb/duckdb-web/issues/new?title={{ issue_title | uri_escape }}&labels=issue%20found%20on%20page&body={{ issue_body | uri_escape }}" title="Create GitHub issue">Report content issue</a></li>
							<li><a href="https://raw.githubusercontent.com/duckdb/duckdb-web/refs/heads/main/{{ page.path }}" title="See Markdown">See this page as Markdown</a></li>
							<li><a href="https://github.com/duckdb/duckdb-web/edit/main/{{ page.path }}" title="Go to GitHub">Edit this page on GitHub</a></li>
						</ul>
					</div>
				</div>
				{% endif %}
				
			</div>
			
			<div id="sidebar">
				{% assign toc_only = content | toc_only %}
				{% assign toc_text_only = toc_only | strip_html | remove: ' ' %}
				{% if toc_text_only.size > 10 %}
					<div class="toc_menu">
						<h5>In this article</h5>
						{{ toc_only }}
					</div>
				{% endif %}
			</div>
			
		</div>

	</main>


	<script src="{{ site.baseurl }}/js/minisearch.js?{{ site.data['hash'] }}" defer></script>
	<script src="{{ site.baseurl }}/js/search.js?{{ site.data['hash'] }}" defer></script>

	<script src="{{ site.baseurl }}/js/lottie.min.js?{{ site.data['hash'] }}" defer></script>
	<script src="{{ site.baseurl }}/js/script.js?{{ site.data['hash'] }}" defer></script>
	<script src="{{ site.baseurl }}/js/copy_button.js?{{ site.data['hash'] }}" defer></script>
	<script src="{{ site.baseurl }}/js/noteboxes.js?{{ site.data['hash'] }}" defer></script>

	{% if page.body_class == "installation" %}
		<script src="{{ site.baseurl }}/js/js-yaml.min.js" defer></script>
		<script src="{{ site.baseurl }}/js/installation.js?{{ site.data['hash'] }}" defer></script>
	{% endif %}
	{% if page.railroad and page.railroad != "" and page.railroad != nil %}
		<script src="{{ site.baseurl }}/js/{{ version_viewed }}/railroad.js" defer></script>
		<script src="{{ site.baseurl }}/js/{{ version_viewed }}/{{ page.railroad }}" defer></script>
	{% endif %}

</body>
</html>
