<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% if page.title == "DuckDB" %}
    <title>{{ page.title }}</title>
	{% else %}
    <title>{{ page.title }} - DuckDB</title>
	{% endif %}
	
	<link rel="stylesheet" href="{{ site.baseurl }}/css/normalize.css?{{ site.data['hash'] }}">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css?{{ site.data['hash'] }}">
	<link rel="stylesheet" href="{{ site.baseurl }}/css/docu.css?{{ site.data['hash'] }}">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/blog.css?{{ site.data['hash'] }}">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/mobilestyles.css?{{ site.data['hash'] }}">
	
	<link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/images/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/images/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/images/favicon/favicon-16x16.png">
	<link rel="manifest" href="{{ site.baseurl }}/images/favicon/site.webmanifest">
	<link rel="mask-icon" href="{{ site.baseurl }}/images/favicon/safari-pinned-tab.svg" color="#5bbad5">
	<link rel="shortcut icon" href="{{ site.baseurl }}/images/favicon/favicon.ico">
	<link type="application/atom+xml" rel="alternate" href="https://duckdb.org/feed.xml" title="DuckDB News" />
	<meta name="msapplication-TileColor" content="#000000">
	<meta name="msapplication-config" content="{{ site.baseurl }}/images/favicon/browserconfig.xml">
	<meta name="theme-color" content="#ffffff">
	<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests" />

	{% if page.url == "/news" or page.url == "/news/" %}
		{% comment %}
		<!-- skip description tags for the main blog page -->
		{% endcomment %}
	{% else %}
		{% seo title=false %}
	{% endif %}

</head>
<body {% if page.body_class %} class="{{ page.body_class }}" {% endif %}>
	
	<header>
		<div class="headerline">
			<div class="headercontent">
				<div class="duckdbhome">
					<a href="{{ site.url }}{{ site.baseurl }}/"><img src="{{ site.baseurl }}/images/logo-dl/DuckDB_Logo.png" alt="DuckDB Logo for Download" class="downloadlogo"></a>
					<div id="duckdb_logo"></div>
				</div>
				<div class="landingmenu">
					
					{% include menu_secondary.html %}
					
					<div class="hamburger hamburger--squeeze">
						<div class="hamburger-box">
							<div class="hamburger-inner"></div>
						</div>
					</div>
				</div>
				<a class="button yellow" href="https://duckdblabs.com/support/" target="_blank">Support</a>
			</div>
		</div>
	</header>

	<main>
		
		<div class="newswrap">
		
			<div class="postwrap">
				{% if page.layoutpart == "postsoverview" %}
				<div class="pagehead bg1">
					<div class="wrap">
						<h1>Blog</h1>
					</div>
				</div>
				{% endif %}
				<div class="postcontent">
					{% if page.layoutpart == "postsoverview" %}
						{% include anchor_headings.html html=content %}
					{% else %}
						<div class="singleentry">
							{% if page.event == true %}<div class="eventdate">{{ page.date | date: "%Y-%m-%d" }}</div>{% endif %}
							<h1>{{ page.title }}</h1>
							{% if page.event != true %}
							<div class="infoline">
								<div class="icon">{% if page.avatar %}<img src="{{ page.avatar }}" alt="Author Avatar">{% endif %}</div>
								<div><span class="author">{{ page.author }}</span><span>{{ page.date | date: "%Y-%m-%d" }}</span></div>
							</div>
							{% endif %}
							{% if page.excerpt != "" %}
								<div class="excerpt">{{ '_TL;DR: ' | append: page.excerpt | append: '_' | markdownify }}</div>
							{% endif %}
							{% include anchor_headings.html html=content %}
						</div>
						<section class="blog recentposts">
							<div class="wrap">
								<h1>Recent posts</h1>
								<div class="newstileswrap">
									{% for post in site.posts limit:3 %}
										{% capture year %}{{post.date | date: "%Y"}}{% endcapture %}
										{% capture month %}{{post.date | date: "%B"}}{% endcapture %}
										{% assign random_number = forloop.index | modulo: 5 %}
										<div class="postpreview" data-year="{{year}}" data-month="{{month}}">
											{% if post.thumb %}
											<div class="postimg custom" style="background-image: url('{{ post.thumb }}');">
											{% else %}
											<div class="postimg bg_{{ random_number }}">
											{% endif %}
												<a href="{{ post.url }}" class="blocklink"></a>
											</div>
											<div class="date">{{ post.date | date: "%Y-%m-%d" }}</div>
											<h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
										</div>
									{% endfor %}
								</div>
								<a href="{{ site.url }}{{ site.baseurl }}/news" class="button transparent arrow-right">All blog posts <span></span></a>
							</div>
						</section>
					{% endif %}
				</div>
			</div>
			
			{% comment %}
			<div class="sidebar">
				<div class="newsarchive">
					<h1><a href="/news/">Archive</a></h1>
					{% assign postsByYear = site.posts | group_by_exp:"post", "post.date | date: '%Y'" %}
					<ul>
					{% for year in postsByYear %}
						<li><a href="/news/#y{{year.name}}">{{year.name}}</a></li>
					{% endfor %}
					</ul>
				</div>
				<div class="latestnews">
					<h1><a href="/news/">Latest</a></h1>
					<ul>
					  {% for post in site.posts limit:5 %}
					    <li>
					    	<a href="{{ post.url }}">{{ post.title }}</a>
					    </li>
					  {% endfor %}
					</ul>
				</div>
			</div>
			{% endcomment %}
			
		</div>
		
		
	</main>

		
	{% include footer.html %}
	
	<script src="{{ site.baseurl }}/js/jquery-3.5.1.min.js"></script>
	<script src="{{ site.baseurl }}/js/lottie.min.js"></script>
	<script src="{{ site.baseurl }}/js/script.js?{{ site.data['hash'] }}"></script>
	<script src="{{ site.baseurl }}/js/copy_button.js"></script>
	<script src="{{ site.baseurl }}/js/noteboxes.js?{{ site.data['hash'] }}"></script>

</body>
</html>
