---
layout: post
title: Events
layoutpart: postsoverview
---

{% assign all_tags = "" %}
{% for event in site.events %}
	{% assign all_tags = all_tags | append: event.tags | join: "," | append: "," %}
{% endfor %}
{% assign unique_tags = all_tags | split: "," | uniq | sort %}

<div class="wrap">
	<div class="controls filterbar" data-all-available="{{ unique_tags | join: ', ' }}">
		<input type="text" id="search-input" placeholder="Search...">
		<!--
		<div class="filtertags">
			<div class="filter-highlight"></div>
			<button type="button" class="filter-btn active" data-filter="*">All</button>
			<button type="button" class="filter-btn" data-filter=".duckcon">DuckCon</button>
		</div>
		-->
	</div>
</div>

<div class="post-list wrap">
	<div class="newstiles">
		{% assign sorted_events = site.events | sort: 'date' | reverse %}
		{% for event in sorted_events %}
			{% assign random_number = forloop.index | modulo: 3 | plus: 1 %}
			{% assign tag_classes = event.tags | join: ' ' %}
			<div class="eventpreview postpreview {{ tag_classes | downcase | slugify }}" data-title="{{ event.title | escape }}">
				<div class="postimg custom">
					{% if event.thumb %}
						<img src="{{ event.thumb }}" alt="{{ event.title }}" class="zoom-image">
					{% else %}
						<img src="/images/blog/thumbs/placeholder-{{ random_number }}.svg" alt="Placeholder" class="zoom-image">
					{% endif %}
					<a href="/events/{{ event.date | date: '%Y/%m/%d' }}/{{ event.slug | default: event.title | slugify }}/" class="blocklink"></a>
				</div>
				<div class="postdetails">
					{% if event.tags %}
					<div class="tags">
						<span class="eventdate">{{ event.date | date: "%Y-%m-%d" }}</span>
						{% for tag in event.tags %}
							<span class="tag">{{ tag }}</span>
						{% endfor %}
					</div>
					{% endif %}
					<h3><a href="{{ event.url }}">{{ event.title }}</a></h3>
					<div class="meta">
						<div class="venue">{{ event.venue }}</div>
						<div class="author">{{ event.author }}</div>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
</div>