// =============================================================================
// FONTS
// =============================================================================

/** FONT IMPORT **/
@font-face {
  font-family: "SuisseIntl";
  src: url("webfont/SuisseIntl-Regular-WebXL.woff2") format("woff2"),
    url("webfont/SuisseIntl-Regular-WebXL.woff") format("woff");
  font-weight: 400;
  /* Normal weight */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SuisseIntl";
  src: url("webfont/SuisseIntl-Book-WebXL.woff2") format("woff2"),
    url("webfont/SuisseIntl-Book-WebXL.woff") format("woff");
  font-weight: 450;
  /* Normal weight */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SuisseIntl";
  src: url("webfont/SuisseIntl-Medium-WebXL.woff2") format("woff2"),
    url("webfont/SuisseIntl-Medium-WebXL.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SuisseIntl";
  src: url("webfont/SuisseIntl-SemiBold-WebXL.woff2") format("woff2"),
    url("webfont/SuisseIntl-SemiBold-WebXL.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SuisseIntl";
  src: url("webfont/SuisseIntl-Bold-WebS.woff2") format("woff2"),
    url("webfont/SuisseIntl-Bold-WebS.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DuckDB-Symbol";
  src: url("webfont/DuckDB-Symbol.woff2") format("woff2"), url("webfont/DuckDB-Symbol.woff") format("woff");
}

@font-face {
  font-family: "JetBrainsMono-Regular";
  src: url("webfont/JetBrainsMono/woff2/JetBrainsMono-Regular.woff2") format("woff2"), url("webfont/JetBrainsMono/woff/JetBrainsMonoNL-Regular.woff") format("woff");
}

@font-face {
  font-family: "JetBrainsMono-Bold";
  src: url("webfont/JetBrainsMono/woff2/JetBrainsMono-Bold.woff2") format("woff2"), url("webfont/JetBrainsMono/woff/JetBrainsMonoNL-Bold.woff") format("woff");
}

@font-face {
  font-family: "JetBrainsMono-ExtraBold";
  src: url("webfont/JetBrainsMono/woff2/JetBrainsMono-ExtraBold.woff2") format("woff2"), url("webfont/JetBrainsMono/woff/JetBrainsMono-ExtraBold.woff") format("woff");
}

@font-face {
  font-family: "JetBrainsMono-Italic";
  src: url("webfont/JetBrainsMono/woff2/JetBrainsMono-Italic.woff2") format("woff2"), url("webfont/JetBrainsMono/woff/JetBrainsMonoNL-Italic.woff") format("woff");
}

@font-face {
  font-family: "JetBrainsMono-Bold-Italic";
  src: url("webfont/JetBrainsMono/woff2/JetBrainsMono-Bold-Italic.woff2") format("woff2"), url("webfont/JetBrainsMono/woff/JetBrainsMonoNL-BoldItalic.woff") format("woff");
}