@use 'sass:color';
@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

/* SYNTAX HIGHLIGHTING COLORS */

.language-batch code:before {
	content: '$ ';
}

.language-plsql code:before {
	content: 'D ';
}

.highlight {
	// background of syntax highlight boxes
	background: var(--doc-codebox-background-color, #F2F2F2);

	// foreground
	:is(.g, .l, .no, .nd, .nx, .w, .nn, .n, .vg),
	// properties, e.g. SET **threads** = 8;
	:is(.py),
	// class names
	:is(.nc, .nv, .nl),
	// punctuation
	:is(.p, .x),
	// operators
	:is(.o, .ow)
	{
		color: #383a42;
	}

	// comments
	:is(.c, .ch, .cm, .cp, .cpf, .cs, .c1){
		color: #a0a1a7;
		font-family: $fontMonoItalic;
	}

	// keywords
	:is(.k, .kc, .kd, .kn, .kr, .kt, .kv),
	// type names
	:is(.nb, .bp, .vcb)
	{
		color: #0000ff;
		font-family: $fontMonoBold;
	}

	// strings
	:is(.ld, .s, .sb, .sc, .sd, .s2, .se, .sh, .si, .sx, .sr, .s1, .ss, .dl)
	{
		color: #875F00;
	}

	// functions
	:is(.nf, .nt, .na)
	{
		color: #128A00;
		font-family: $fontMonoBold;
	}

	// numbers
	:is(.m, .mf, .mh, .mi, .mo, .il)
	{
		color: #CE33C0;
	}

	// prompt
	:is(.gp){
		color: #E15300;
		font-family: $fontMonoBold;
	}

	// attributes (used for placeholders within angle brackets)
	:is(.ge)
	{
		color: #FF5F5F;
		font-family: $fontMonoItalicBold;
	}
}

body.documentation .highlight code a {
	text-decoration-color: #23974a;
	text-underline-offset: .05em;
	text-underline-offset: 0.17em;
}

// keywords in table headers
th .k {
	color: #fff;
	font-family: $fontMonoBold;
}

.landing .highlight{
	padding: 15px;
	border: 1px solid var(--doc-codebox-border-color, #D9D9D9);
}


html.darkmode, .dark {
	// keywords in table headers
	th .k {
		color: #fff;
		font-family: $fontMonoBold;
	}

	.highlight {
		// foreground
		:is(.g, .l, .no, .nd, .nx, .w, .nn, .n, .vg),
		// properties, e.g. SET **threads** = 8;
		:is(.py),
		// class names
		:is(.nc, .nv, .nl),
		// punctuation
		:is(.p, .x),
		// operators
		:is(.o, .ow)
		{
			color: $black300;
		}

		// comments
		:is(.c, .ch, .cm, .cp, .cpf, .cs, .c1){
			color: #636d83;
			font-family: $fontMonoItalic;
		}

		// keywords
		:is(.k, .kc, .kd, .kn, .kr, .kt, .kv),
		// type names
		:is(.nb, .bp, .vcb)
		{
			color: #1E90FF;
			font-family: $fontMonoBold;
		}

		// strings
		:is(.ld, .s, .sb, .sc, .sd, .s2, .se, .sh, .si, .sx, .sr, .s1, .ss, .dl)
		{
			color: #FFD700;
		}

		// functions
		:is(.nf, .nt, .na)
		{
			color: #23974a;
			font-family: $fontMonoBold;
		}

		// numbers
		:is(.m, .mf, .mh, .mi, .mo, .il)
		{
			color: #FF55F6;
		}

		// prompt
		:is(.gp){
			color: #E15300;
			font-family: $fontMonoBold;
		}

		// attributes (used for placeholders within angle brackets)
		:is(.ge)
		{
			color: #FF5F5F;
			font-family: $fontMonoItalicBold;
		}
	}
}
