name: Generate and Update Community Extensions Docs
on:
  workflow_dispatch:
  workflow_call:
  schedule:
    - cron: "0 */6 * * *"

jobs:
  generate_docs:
    uses: duckdb/community-extensions/.github/workflows/generate_docs.yml@main

  deploy_docs:
    needs:
      - generate_docs
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        path: '.'
        token: ${{ secrets.GITHUB_TOKEN }}

    - uses: actions/download-artifact@v4
      with:
        name: generated_markdowns

    - uses: technote-space/create-pr-action@v2
      with:
          COMMIT_MESSAGE: "chore: auto update docs for community extensions"
          COMMIT_NAME: "GitHub Actions"
          COMMIT_EMAIL: "example@example.com"
          EXECUTE_COMMANDS: |
            unzip generated_md.zip
            cp build/docs/*.md community_extensions/extensions/.
            cp build/docs/extensions_list.md.tmp _includes/list_of_community_extensions.md
            rm -r generated_md.zip
            rm -rf build
          PR_BRANCH_NAME: "chore-update-community-extensions-${PR_ID}"
          PR_TITLE: "chore: auto update docs for community extensions"
          GITHUB_TOKEN: ${{ secrets.GH_UPDATE_DOCS_TOKEN }}
