# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

# Sample workflow for building and deploying a Jekyll site to GitHub Pages
name: Build and (optionally) deploy Jekyll site to Pages

on: [push, workflow_dispatch]

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

# Allow one concurrent deployment
concurrency:
  group: "pages-${{ github.ref }}"
  cancel-in-progress: true

jobs:
  # Build job
  build_html:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.4' # Not needed with a .ruby-version file
          bundler-cache: true # runs 'bundle install' and caches installed gems automatically
          cache-version: 0 # Increment this number if you need to re-download cached gems
      - name: Get star count
        env:
          GH_TOKEN: ${{ secrets.GH_STAR_COUNT_TOKEN }}
        run: |
          STAR_COUNT=$(gh api repos/duckdb/duckdb | jq ".stargazers_count")
          STAR_COUNT_FORMATTED=$(ruby -e 'printf("%.01fk", ARGV[0].to_i / 1000.0)' ${STAR_COUNT})
          echo "star_count: ${STAR_COUNT} (${STAR_COUNT_FORMATTED})"
          echo "star_count: \"${STAR_COUNT_FORMATTED}\"" >> _config.yml
          # add the update time to the index page of the documentation.
          CURRENT_DATE=$(date +"%Y-%m-%d")
          sed -i "s/You can also /The documentation was last updated on ${CURRENT_DATE}.\n\nYou can also /" docs/stable/index.md
      - name: Install Python requirements
        run: pip install -r requirements.txt --break-system-packages
      - name: Install zip
        uses: montudor/action-zip@v1
      - name: Fetch release calendar
        run: python scripts/get_calendar.py
      - name: Generate llms.txt files
        run: python scripts/generate_llms_txt.py
      - name: Setup Pages
        id: pages
        uses: actions/configure-pages@v5
        if: github.repository == 'duckdb/duckdb-web'
      - name: Publish past releases CSV file
        run: |
          cp _data/past_releases.csv data/duckdb-releases.csv
      - name: Build with Jekyll
        # Outputs to the './_site' directory by default
        run: bundle exec jekyll build --baseurl "${{ steps.pages.outputs.base_path }}"
        env:
          JEKYLL_ENV: production
      - name: Add Markdown files
        run: scripts/generate_md_files.sh
      - name: Zip offline package
        run: |
          # create a copy of the _site directory for the offline package
          cp -r _site duckdb-docs
          echo "To browse the DuckDB website locally, run \`python -m http.server\` in this directory and connect to http://localhost:8000/" > duckdb-docs/README.md
          # replace the necessary strings to ensure everything works properly after offline deployment.
          python scripts/offline_docs_replace.py
          # cleanup some directories, including the old (archive) pages
          rm -rf scripts single-file-document duckdb-docs/docs/archive
          # create archive
          zip -qq -r duckdb-docs.zip duckdb-docs
          # place the zip into the site
          mv duckdb-docs.zip _site
      - name: Add Bing auth
        run: cp BingSiteAuth.xml _site
      - name: Upload site artifacts and zip archive
        uses: actions/upload-artifact@v4
        with:
          name: html_artifact
          path: _site

  build_pdf:
    runs-on: ubuntu-24.04
    container:
      image: docker://pandoc/extra:3.5
      options: --entrypoint=sh
    defaults:
      run:
        working-directory: single-file-document
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Setup Python
        run: |
          PYTHONUNBUFFERED=1
          apk add --update --no-cache python3 py3-pip
      - name: Install dependencies
        run: pip3 install -r requirements.txt --break-system-packages
      - name: Concatenate files
        run: python3 concatenate_to_single_file.py
      - name: Convert with pandoc
        run: pandoc --defaults pandoc-configuration.yaml
      - name: Clean Markdown file
        run: ./clean_markdown_file.sh
      - name: Move artifacts
        run: |
          mkdir -p ../_pdf
          sed -i '1s/^.*$/# DuckDB Documentation/' duckdb-docs-cleaned.md
          cp duckdb-docs-cleaned.md ../_pdf/duckdb-docs.md
          cp duckdb-docs.pdf ../_pdf
      - name: Upload PDF artifact
        uses: actions/upload-artifact@v4
        with:
          name: pdf_artifact
          path: _pdf

  package_into_a_single_artifact:
    runs-on: ubuntu-24.04
    needs: [build_html, build_pdf]
    steps:
      # download both the html and the pdf artifacts into the _site directory
      - uses: actions/download-artifact@v5
        with:
          name: html_artifact
          path: _site
      - uses: actions/download-artifact@v5
        with:
          name: pdf_artifact
          path: _site
      - name: Upload artifact for GitHub Pages
        uses: actions/upload-pages-artifact@v4

  # Deployment job
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    if: github.ref == 'refs/heads/main' && github.repository == 'duckdb/duckdb-web'
    runs-on: ubuntu-24.04
    needs: package_into_a_single_artifact
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
        with:
          timeout: 3600000
