name: Lint
on: pull_request

# If two events are triggered within a short time in the same PR, cancel the run of the oldest event
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number }}
  cancel-in-progress: true

jobs:
  markdown:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v6
      - uses: errata-ai/vale-action@reviewdog
        with:
          files: '_posts/,docs/stable/'
          separator: ","
          filter_mode: added
          fail_on_error: false
      - uses: articulate/actions-markdownlint@main
        with:
          config: .markdownlint.jsonc
          files: 'docs/stable/**/*.md _posts/*.md'

  version-file:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v6
      - name: Check no trailing newline in latest_stable_version.txt
        run: |
          if [[ $(tail -c 1 data/latest_stable_version.txt | wc -l) -gt 0 ]]; then
            echo "ERROR: data/latest_stable_version.txt has a trailing newline"
            exit 1
          fi

  python:
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v6
    - uses: psf/black@stable
      with:
        options: "--check --skip-string-normalization --verbose --diff --color"
        src: "./scripts"
        version: "24.8.0"
